<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-briefcase"></i>ใบอนุญาตที่กฎหมายกำหนด</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ข้อมูลทั่วไป</a>
      </li>
      <li class="breadcrumb-item active">ใบอนุญาตที่กฎหมายกำหนด</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">

                        <button *ngIf="isReadOnly(['DOCMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button">
                          <a href="#" [routerLink]="['/license/type/new']">เพิ่ม +</a>
                        </button>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table *ngIf="licensetypes.length !== 0" class="table table-hover nowrap dataTable dtr-inline" id="example1" width="100%"
                        role="grid" aria-describedby="example1_info" style="width: 100%;" datatable [dtOptions]="dtOptions">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">รหัส</th>
                            <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1">ประเภท</th>
                            <!-- <th rowspan="1" colspan="1">เกี่ยวข้องกับกฎหมาย</th> -->
                            <th rowspan="1" colspan="1">ผู้ออกใบอนุญาต</th>
                            <th rowspan="1" width="100px" colspan="1">ความถี่ใบอนุญาต</th>
                            <th rowspan="1" width="50px" colspan="1"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">รหัส</th>
                            <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1">ประเภท</th>
                            <!-- <th rowspan="1" colspan="1">เกี่ยวข้องกับกฎหมาย</th> -->
                            <th rowspan="1" colspan="1">ผู้ออกใบอนุญาต</th>
                            <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </tfoot>
                        <tbody>

                          <tr *ngFor="let licensetype of licensetypes; let i = index" class="odd">
                            <td class="sorting_1" tabindex="0">{{ licensetype.id }}</td>
                            <td>{{ licensetype.name }}</td>
                            <td>{{ licensetype.aliasName }}</td>
                            <td>{{ licensetype.categoryText }}</td>
                            <!-- <td></td> -->
                            <td>{{ licensetype.issuer }}</td>
                            <td *ngIf="licensetype.frequencyYear !== 0 || licensetype.frequencyMonth !== 0">
                              <span *ngIf="licensetype.frequencyYear !== 0">{{ licensetype.frequencyYear }} ปี </span>
                              <span *ngIf="licensetype.frequencyMonth !== 0">{{ licensetype.frequencyMonth }} เดือน </span>
                            </td>
                            <td *ngIf="licensetype.frequencyYear === 0 && licensetype.frequencyMonth === 0"> ไม่มีวันหมดอายุ </td>
                            <td>
                              <!-- <li data-original-title="" title="">
                                <a href="#" [routerLink]="['/license/view',licensetype.id]">
                                  <i class="fa fa-eye"></i>
                                </a>
                              </li>
                              <li data-original-title="" title="" class="bin">
                                <i class="fa fa-trash "></i>
                              </li> -->
                              <div class="dropdown d-inline-block mb-2 mr-2">
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  เลือกดำเนินการ
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                  <!-- <a class="dropdown-item" id="change-data" href="#" [routerLink]="['/artifact/edit', ArtifactSummary.id]">แก้ไขข้อมูล</a> -->
                                  <a class="dropdown-item" id="artifact-assesment" href="#" [routerLink]="['/license/type/view',licensetype.id]">รายละเอียด</a>
                                  <a *ngIf="isReadOnly(['DOCMNG'])==false" class="dropdown-item" id="propose-artifact-assesment" href="#" [routerLink]="['/license/type/edit',licensetype.id]">แก้ไข</a>
                                  <a class="dropdown-item" id="approve-artifact-assesment" href="#" [routerLink]="['/license/view',licensetype.id]">รายการเอกสารใบอนุญาต</a>
                                  <a *ngIf="isReadOnly(['DOCMNG'])==false" class="dropdown-item" id="approve-artifact-assesment" (click)="dialog.show()">ลบ</a>
                                </ul>
                                <swal #dialog title="ยืนยัน" text="ต้องการลบใบอนุญาตที่กฎหมายกำหนดใช่หรือไม่?" type="warning" (confirm)="deleteLicenseType(licensetype.id)"></swal>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>