<section class="card">
  <div class="card-header">
    <span class="card-block">
            <strong><i class="fa fa-bell "></i>การแจ้งเตือน</strong>

        </span>
    <!-- <ol class="breadcrumb">
               <li class="breadcrumb-item"><a >จัดการกฎหมาย</a></li>
                <li class="breadcrumb-item active">กฎหมายที่ยกเลิก</li>
            </ol> -->
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="notification" role="tabcard">

                <div class="row">
                  <div class="col-sm-12" style="overflow-x:auto;">
                    <table class="table table-hover nowrap dataTable dtr-inline  ng-cloak" id="example1" width="100%" role="grid" aria-describedby="example1_info" style="width: 100%;">
                      <thead>
                        <tr>
                          <th rowspan="1" colspan="1">#</th>
                          <th rowspan="1" colspan="1">วันที่</th>
                          <th rowspan="1" colspan="1">รายละเอียด</th>
                          <th rowspan="1" colspan="1">การดำเนินการ</th>
                          <th rowspan="1" colspan="1"></th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th rowspan="1" colspan="1">#</th>
                          <th rowspan="1" colspan="1">วันที่</th>
                          <th rowspan="1" colspan="1">รายละเอียด</th>
                          <th rowspan="1" colspan="1">การดำเนินการ</th>
                          <th rowspan="1" colspan="1"></th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <!-- <tr *ngFor="let ArtifactSummary of ArtifactSummaries; let i = index" role="row" class="odd">
                          <td class="sorting_1" tabindex="0">{{ ArtifactSummary.id }}</td>
                          <td>{{ ArtifactSummary.code }}</td>
                          <td>{{ ArtifactSummary.category }}</td>
                          <td>{{ ArtifactSummary.title }}</td>
                          <td>
                            <span *ngFor="let department of ArtifactSummary.departments" class="tags badge badge-default mr-2 mb-2" [ngClass]="department.status">{{ department.aliasName }}.</span>

                          </td>
                          <td>{{ ArtifactSummary.publishedDate }}</td>
                          <td>
                            <li data-original-title="" title=""><i class="fa fa-eye" aria-hidden="true" href="#" [routerLink]="['/laws/view',ArtifactSummary.id]"></i></li>

                            <li data-original-title="" title="" class="bin"><i class="fa fa-trash "></i></li>
                          </td>

                        </tr> -->

                        <tr *ngFor="let notification of notificationEntities; let i = index" role="row" class="odd">
                          <td class="sorting_1" tabindex="0">{{ i + 1 }}</td>
                          <td>{{ notification.createDate }}</td>
                          <td>{{ notification.excerpt }}</td>
                          <td>{{ notification.action }}</td>
                          <td><button class="btn btn-setsame btn-primary btn-sm" [routerLink]="actionPath(notification.buttonLink)">ดำเนินการ</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- <div class="cat__apps__messaging__tab">
                  <span class="fa fa-times pull-right cat__apps__messaging__tab_close"></span>
                  <div class="cat__apps__messaging__tab__content ml-0">

                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Barak Obama</div>
                    <div class="cat__apps__messaging--text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                  </div>
                </div>
                <div class="cat__apps__messaging__tab">
                  <span class="fa fa-times pull-right cat__apps__messaging__tab_close"></span>
                  <div class="cat__apps__messaging__tab__content ml-0">

                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Ton Somgud</div>
                    <div class="cat__apps__messaging--text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                  </div>
                </div>
                <div class="cat__apps__messaging__tab">
                  <span class="fa fa-times pull-right cat__apps__messaging__tab_close"></span>
                  <div class="cat__apps__messaging__tab__content ml-0">

                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Boom Manang</div>
                    <div class="cat__apps__messaging--text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                  </div>
                </div>
                <div class="cat__apps__messaging__tab">
                  <span class="fa fa-times pull-right cat__apps__messaging__tab_close"></span>
                  <div class="cat__apps__messaging__tab__content ml-0">

                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Gan Odanf</div>
                    <div class="cat__apps__messaging--text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                  </div>
                </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</section>


<!-- END: dashboard alpha -->
