<div *ngIf="licenses.length === 0" class="card-block">
  <div class="row" id="approve-artifact-assesment" class="review-artifact-assesment">
    <div class="col-lg-12">
      <div class="mb-12">
        ไม่มีใบอนุญาตในรายการนี้
      </div>
    </div>
  </div>
</div>

<table *ngIf="licenses.length !== 0" class="table table-hover nowrap dataTable dtr-inline license-table1" id="license-table1"
  width="100%" role="grid" aria-describedby="example1_info" style="width: 100%;" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
      <th rowspan="1" colspan="1">เลขที่ใบอนุญาต</th>
      <th rowspan="1" colspan="1">ชื่อผู้รับอนุญาต</th>
      <th rowspan="1" colspan="1">วันครบกำหนดต่อใบอนุญาต</th>
      <th rowspan="1" colspan="1">วันหมดอายุ</th>
      <th rowspan="1" colspan="1">วันที่อนุญาต</th>
      <th rowspan="1" colspan="1">ประเภทใบอนุญาต</th>
      <th rowspan="1" colspan="1">ชื่อผู้รับผิดชอบ</th>
      <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
      <th rowspan="1" colspan="1"></th>
      <th rowspan="1" colspan="1"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
      <th rowspan="1" colspan="1">เลขที่ใบอนุญาต</th>
      <th rowspan="1" colspan="1">ชื่อผู้รับอนุญาต</th>
      <th rowspan="1" colspan="1">วันครบกำหนดต่อใบอนุญาต</th>
      <th rowspan="1" colspan="1">วันหมดอายุ</th>
      <th rowspan="1" colspan="1">วันที่อนุญาต</th>
      <th rowspan="1" colspan="1">ประเภทใบอนุญาต</th>
      <th rowspan="1" colspan="1">ชื่อผู้รับผิดชอบ</th>
      <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
      <th rowspan="1" colspan="1"></th>
      <th rowspan="1" colspan="1"></th>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let license of licensesFiltered" role="row" class="odd">
      <td>{{ license.licenseType.name }}</td>
      <td>{{ license.licenseNumber }}</td>
      <td>{{ license.holderName }}</td>
      <td>{{ license.dueDate }}</td>
      <td>{{ license.expireDate }}</td>
      <td>{{ license.issueDate }}</td>
      <td>{{ license.licenseType.categoryText }}</td>
      <td>{{ license.document.owner }}</td>

      <td *ngIf="license.licenseType.frequencyYear !== 0 || license.licenseType.frequencyMonth !== 0">
        <span *ngIf="license.licenseType.frequencyYear !== 0">{{ license.licenseType.frequencyYear }} ปี </span>
        <span *ngIf="license.licenseType.frequencyMonth !== 0">{{ license.licenseType.frequencyMonth }} เดือน </span>
      </td>
      <td *ngIf="license.licenseType.frequencyYear === 0 && license.licenseType.frequencyMonth === 0"> ไม่มีวันหมดอายุ </td>
      <td>
        <li data-original-title="" title="">
          <a [href]="license.document.url" target="_blank">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </li>
      </td>
      <td>
        <button *ngIf="license.licenseHistoryId === null" class="btn btn-sm btn-secondary  mr-2 mb-2" [routerLink]="['/license/history', license.id ]">ประวัติใบอนุญาต</button>
        <button *ngIf="license.licenseHistoryId !== null" class="btn btn-sm btn-secondary  mr-2 mb-2" [routerLink]="['/license/history', license.id, license.licenseHistoryId ]">ประวัติใบอนุญาต</button>
      </td>
    </tr>
  </tbody>
</table>