<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-list-alt"></i>อนุมัติและรับทราบความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>การจัดการกฎหมาย</a>
      </li>
      <li class="breadcrumb-item">
        <a *ngIf="mode=='initial'" href="#" [routerLink]="['/artifact/list/initial/inprogress']">กฎหมายที่อยู่ในระหว่างการดำเนินการ</a>
        <a *ngIf="mode!='initial'" href="#" [routerLink]="['/artifact/list/followup/inprogress']">กฎหมายที่อยู่ในระหว่างการดำเนินการ</a>
      </li>
      <li class="breadcrumb-item active">อนุมัติและรับทราบความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row" id="approve-artifact-assesment" class="review-artifact-assesment">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                      </div>
                    </div>
                  </div>
                  <div class="row view-tab">
                    <div class="nav-tab-block">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item nav-item-1">
                          <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab" aria-expanded="true">
                            <i class="icmn-checkbox-checked"></i>
                            ผลการประเมินความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            ข้อมูลกฎหมายทั่วไป
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab3" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            รายละเอียดกฎหมาย
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active pt-5" id="tab1" role="tabcard" aria-expanded="true">
                          <div class="text-black mb-3">หน่วยงานที่มีความเกี่ยวข้องและปฏิบัติสอดคล้อง</div>
                          <div style="overflow-x:auto;">
                          <table class="table table-hover nowrap  dtr-inline" id="6789" width="100%">
                            <thead>
                              <tr>
                                <th rowspan="1" colspan="1">กอง</th>
                                <th rowspan="1" colspan="1">จำนวนข้อปฏิบัติ</th>
                                <th rowspan="1" colspan="1">ความเกี่ยวข้อง</th>
                                <th rowspan="1" colspan="1">ความสอดคล้อง</th>
                                <th rowspan="1" colspan="1">ผลการตรวจสอบ</th>
                                <th rowspan="1" colspan="1"></th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th rowspan="1" colspan="1">กอง</th>
                                <th rowspan="1" colspan="1">จำนวนข้อปฏิบัติ</th>
                                <th rowspan="1" colspan="1">ความเกี่ยวข้อง</th>
                                <th rowspan="1" colspan="1">ความสอดคล้อง</th>
                                <th rowspan="1" colspan="1">ผลการตรวจสอบ</th>
                                <th rowspan="1" colspan="1"></th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <tr role="row" class="odd" *ngFor="let Approvelist of proposedTaskAssignmentSummaries">
                                <td>
                                  <span class="tags badge badge-default mr-2 mb-2">{{ Approvelist.department }}
                                    <input type="hidden" id="get-departmentName" [value]="Approvelist.department">
                                  </span>
                                </td>
                                <td>{{ Approvelist.numberOfTotalTask}}</td>
                                <td *ngIf="Approvelist.isApplicable == true">เกี่ยวข้อง</td>
                                <td *ngIf="Approvelist.isApplicable == false">ไม่เกี่ยวข้อง</td>
                                <td *ngIf="Approvelist.isCompliant == true"><span *ngIf="Approvelist.isApplicable == true">สอดคล้อง</span></td>
                                <td *ngIf="Approvelist.isCompliant == false"><span *ngIf="Approvelist.isApplicable == true">ไม่สอดคล้อง</span></td>
                                <td>
                                  <span class="tags badge badge-success mr-2 mb-2">{{Approvelist.summaryResult}}</span>
                                </td>
                                <td>
                                  <button class="btn btn-sm btn-secondary  mr-2 mb-2" [routerLink]="['/artifact/task',mode,artifactId, Approvelist.departmentId ]">รายละเอียดเพิ่มเติม</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                          <div class="text-black mb-3 mt-5 pt-3">หน่วยงานที่ไม่มีความเกี่ยวข้องและปฏิบัติ<span style="color:red;font-weight:bold;">ไม่สอดคล้อง</span></div>
                          <div style="overflow-x:auto;">
                          <table class="table table-hover nowrap  dtr-inline" id="12345" width="100%">
                            <thead>
                              <tr>
                                <th rowspan="1" colspan="1">กอง</th>
                                <th rowspan="1" colspan="1">จำนวนข้อปฏิบัติ</th>
                                <th rowspan="1" colspan="1">ความเกี่ยวข้อง</th>
                                <th rowspan="1" colspan="1">ความสอดคล้อง</th>
                                <th rowspan="1" colspan="1">ผลการตรวจสอบ</th>
                                <th rowspan="1" colspan="1"></th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th rowspan="1" colspan="1">กอง</th>
                                <th rowspan="1" colspan="1">จำนวนข้อปฏิบัติ</th>
                                <th rowspan="1" colspan="1">ความเกี่ยวข้อง</th>
                                <th rowspan="1" colspan="1">ความสอดคล้อง</th>
                                <th rowspan="1" colspan="1">ผลการตรวจสอบ</th>
                                <th rowspan="1" colspan="1"></th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <tr role="row" class="odd" *ngFor="let Approvelist of inprogressTaskAssignmentSummaries">
                                <td>
                                  <span class="tags badge badge-default mr-2 mb-2">{{ Approvelist.department }}
                                    <input type="hidden" id="get-departmentName" [value]="Approvelist.department">
                                  </span>
                                </td>
                                <td>{{ Approvelist.numberOfTotalTask}}</td>
                                <td *ngIf="Approvelist.isApplicable == true">เกี่ยวข้อง</td>
                                <td *ngIf="Approvelist.isApplicable == false">ไม่เกี่ยวข้อง</td>
                                <td *ngIf="Approvelist.isCompliant == true"><span *ngIf="Approvelist.isApplicable == true">สอดคล้อง</span></td>
                                <td *ngIf="Approvelist.isCompliant == false"><span *ngIf="Approvelist.isApplicable == true">ไม่สอดคล้อง</span></td>
                                <td>
                                  <span class="tags badge badge-success mr-2 mb-2">{{Approvelist.summaryResult}}</span>
                                </td>
                                <td>
                                  <button class="btn btn-sm btn-secondary  mr-2 mb-2" [routerLink]="['/artifact/task',mode, artifactId, Approvelist.departmentId ]">รายละเอียดเพิ่มเติม</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>
                        <div class="tab-pane" id="tab2" role="tabcard" aria-expanded="false">
                            <app-artifact-detail [artifactId]="artifactId"></app-artifact-detail>
                        </div>
                        <div class="tab-pane law-view" id="tab3" role="tabcard" aria-expanded="false">
                            <app-artifact-assignment [artifactId]="artifactId"></app-artifact-assignment>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-button">
              <button class="btn btn-danger approve-cancel mr-2 mb-2" type="button">
                <a *ngIf="mode=='initial'" href="#" [routerLink]="['/artifact/list/initial/inprogress']">ยกเลิก</a>
                <a *ngIf="mode!='initial'" href="#" [routerLink]="['/artifact/list/followup/inprogress']">ยกเลิก</a>
              </button>
              <button *ngIf="mode == 'initial' && (isReadOnly(['TSKAPP']) == false) && (law.status == 'Proposed' || ( law.status == 'Approved' && law.taskAssignmentStatus=='Initial' ) ||  ( law.status == 'Approved' && law.taskAssignmentStatus=='Created' ))" type="button" class="btn btn-info btn-modal-approve btn-setsame mr-2 mb-2" data-toggle="modal" data-target="#modal-approve">อนุมัติ</button>
              
              <button *ngIf="mode!='initial'&&(isReadOnly(['TSKAPP'])==false)&&(law.taskAssignmentStatus=='Proposed')" type="button" class="btn btn-info btn-modal-approve btn-setsame mr-2 mb-2" data-toggle="modal" data-target="#modal-approve">อนุมัติ</button>
              <!-- <button *ngIf="!role('TSKAPP')" type="button" class="btn btn-info btn-modal-approve btn-setsame mr-2 mb-2" data-toggle="modal" data-target="#modal-approve" disabled>อนุมัติ</button> -->
            </div>
            <div class="modal fade modal-size-small" id="modal-approve" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <i class="icmn icmn-checkbox-checked ml-0"></i>
                    <h5 class="modal-title" id="myModalLabel">อนุมัติกฎหมายใหม่</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="signature_title">
                      ลงชื่อ
                    </div>
                    <div class="form-input-icon form-input-icon-right">
                      <i class="icmn-quill"></i>
                      <input name="signature" id="signature" type="text" class="form-control" data-validation="[NOTEMPTY]">
                    </div>
                    <div class="text-explain">
                      * กรุณาพิมพ์ลายเซ็นของท่านเพื่อลงชื่อ
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">ยกเลิก</button>
                    <button type="submit" class="btn btn-setsame btn-primary" (click)="onSubmit();">
                      <a>ยืนยัน</a>
                    </button>
                    <swal #validation_dialog title="ระบุข้อมูลไม่ครบถ้วน" text="โปรดระบุข้อมูลให้ครบถ้วน" type="warning"></swal>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>