/* FOOTER */
.cat__footer {
    margin-bottom: -1.36rem;
    background: #e4e9f0;
    -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
    padding: 3.57rem 1.42rem 2.14rem;
    padding-left: 2.85rem;
}

.cat__footer__top .logo-information div {
    background-image: url(/assets/modules/core/common/images/sprite-icon.png);
    background-position: -248px -49px;
    -webkit-background-size: 500px 500px;
            background-size: 500px;
    width: 75px;
    height: 70px;
}

.cat__footer__top .footer-title {
    color: #0751a0;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.cat__footer__top .version {
    text-align: right;
    padding-top: 23px;
    margin-bottom: -15px;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.44);
}

.cat__footer__bottom {
    margin-top: 1.42rem;
    padding-top: 2.14rem;
    border-top: 1px solid #d2d9e5;
}

.cat__footer__company {
    padding-left: 3.57rem;
    position: relative;
    display: inline-block;
    float: right;
}

@media (max-width: 767px) {
    .cat__footer__company {
        float: none;
        margin-top: 2.14rem;
    }
}

.cat__footer__company-logo {
    position: absolute;
    top: 0.35rem;
    left: 0;
    width: 2.14rem;
}

.cat__config--superclean .cat__footer {
    margin-bottom: 0;
}
