<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-object-group"></i>หมวดหมู่ของกฎหมาย</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ข้อมูลทั่วไป</a>
      </li>
      <li class="breadcrumb-item active">หมวดหมู่ของกฎหมาย</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">

                        <button *ngIf="isReadOnly(['METDAT'])==false" class="btn  btn-success mr-2 mb-2" type="button">
                          <a href="#" [routerLink]="['/generalinfo/classification-new']">เพิ่ม +</a>
                        </button>
                        <!-- <button *ngIf="!role('METDAT')" class="btn  btn-success mr-2 mb-2" type="button" disabled>
                            <a href="#" [routerLink]="['/generalinfo/classification-new']">เพิ่ม +</a>
                        </button> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table *ngIf="categories.length !== 0" class="table table-hover nowrap dataTable dtr-inline" id="example1" width="100%" role="grid" aria-describedby="example1_info"
                        style="width: 100%;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">#</th>
                            <th rowspan="1" colspan="1">หมวดหมู่กฎหมาย</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1" *ngIf="isReadOnly(['METDAT'])==false"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">#</th>
                            <th rowspan="1" colspan="1">หมวดหมู่กฎหมาย</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1" *ngIf="isReadOnly(['METDAT'])==false"></th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr *ngFor="let cat of categories" role="row" class="odd">
                            <td class="sorting_1">{{ cat.externalId }}</td>
                            <td>{{ cat.name }}</td>
                            <td>{{ cat.aliasName }}</td>
                            <td *ngIf="isReadOnly(['METDAT'])==false">
                              <li data-original-title="" title="">
                                <a [routerLink]="['/generalinfo/classification-edit', cat.id]">
                                  <i class="fa fa-pencil"></i>
                                </a>
                              </li>
                              <swal #dialog title="ยืนยัน" text="ต้องการลบหมวดหมู่กฎหมายใช่หรือไม่?" type="warning" (confirm)="deleteCategory(cat.id)"></swal>
                              <li data-original-title="" title="" class="bin">
                                <a>
                                  <i class="fa fa-trash" (click)="dialog.show()"></i>
                                </a>
                              </li>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>