<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-briefcase"></i>หน่วยงาน</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ข้อมูลทั่วไป</a>
      </li>
      <li class="breadcrumb-item active">หน่วยงาน</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">

                        <button *ngIf="isReadOnly(['DEPMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button">
                          <a href="#" [routerLink]="['/generalinfo/department-new']">เพิ่ม +</a>
                        </button>
                        <!-- <button *ngIf="!role('DEPMNG')" class="btn  btn-success mr-2 mb-2" type="button" disabled>
                            <a href="#" [routerLink]="['/generalinfo/department-new']">เพิ่ม +</a>
                          </button> -->
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table *ngIf="departments.length > 0" class="table table-hover nowrap dataTable dtr-inline" id="example1" width="100%" role="grid"
                        aria-describedby="example1_info" style="width: 100%;" datatable [dtOptions]="dtOptions">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">รหัสหน่วยงาน</th>
                            <th rowspan="1" colspan="1">ชื่อ กอง/แผนกไม่สังกัดกอง/คณะทำงาน</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1">อีเมลล์</th>
                            <th rowspan="1" colspan="1">สถานะ</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">รหัสหน่วยงาน</th>
                            <th rowspan="1" colspan="1">ชื่อ กอง/แผนกไม่สังกัดกอง/คณะทำงาน</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1">อีเมลล์</th>
                            <th rowspan="1" colspan="1">สถานะ</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </tfoot>
                        <tbody>

                          <tr *ngFor="let department of departments" role="row" class="odd">
                            <td class="sorting_1" tabindex="0">{{department.id}}</td>
                            <td>{{department.name}}</td>
                            <td>{{department.aliasName}}</td>
                            <td>{{department.email}}</td>
                            <td>{{department.isActive?'ใช้งาน':'ไม่ใช้งาน'}}</td>
                            <td>
                              <li data-original-title="" title="">
                                <a href="#" [routerLink]="['/generalinfo/department-edit',department.id]">
                                  <i class="fa fa-pencil" *ngIf="isReadOnly(['DEPMNG'])==false"></i>
                                  <i class="fa fa-eye" *ngIf="isReadOnly(['DEPMNG'])"></i>
                                </a>
                              </li>
                              <swal #dialog title="ยืนยัน" text="ต้องการลบหน่วยงานใช่หรือไม่?" type="warning" (confirm)="deleteDepartment(department.id)"></swal>
                              <!-- <li *ngIf="isReadOnly(['DEPMNG'])==false"  data-original-title="" title="" class="bin">
                                <i class="fa fa-trash " (click)="dialog.show()"></i>
                              </li> -->
                            </td>

                          </tr>


                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>