<section class="card">
    <div class="card-header">
        <span class="card-block">
            <strong><i class="fa fa-plus-square"></i>สร้างใหม่</strong>

        </span>
        <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>ข้อมูลทั่วไป</a></li>
                <li class="breadcrumb-item"><a href="#" [routerLink]="['/generalinfo/department-index']">หน่วยงาน</a></li>
                <li class="breadcrumb-item active">สร้างใหม่</li>
            </ol>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <!-- START: forms/form-validation -->
                <section class="card">

                    <div class="card-block">
                        <div class="row">

                            <div class="col-md-12">
                                
                                    <!-- Under Element Form Validation -->
                                    <form id="department-general-create" class="single-form" name="new-general-create" [formGroup]="departmentNewForm" (ngSubmit)="onSubmit()" >

                                        <div class="form-group row">
                                          <label class="col-md-3 col-form-label" for="l0">* รหัสหน่วยงาน</label>
                                          <div class="col-md-9">
                                            <input name="id"
                                                   type="text"
                                                   class="form-control"
                                                   data-validation="[NOTEMPTY]" formControlName="id">
                                          </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">* ชื่อ กอง/แผนกไม่สังกัดกอง/คณะทำงาน </label>
                                            <div class="col-md-9">
                                              <input name="name"
                                                   type="text"
                                                   class="form-control"
                                                   data-validation="[NOTEMPTY]" formControlName="name">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">* ชื่อย่อ กอง/แผนกไม่สังกัดกอง/คณะทำงาน </label>
                                            <div class="col-md-9">
                                              <input name="aliasname"
                                                   type="text"
                                                   class="form-control"
                                                   data-validation="[NOTEMPTY]" formControlName="aliasName">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">* อีเมลล์ </label>
                                            <div class="col-md-9">
                                              <input name="email"
                                                   type="text"
                                                   class="form-control"
                                                   data-validation="[NOTEMPTY]" formControlName="email">
                                            </div>
                                        </div>

                                        <div class="sigle-form-button">
                                            <button *ngIf="isReadOnly(['DEPMNG'])==false" type="submit" class="btn btn-primary width-150">บันทึก</button>
                                            <swal #validation_dialog title="ระบุข้อมูลไม่ครบถ้วน" text="โปรดระบุข้อมูลให้ครบถ้วน" type="warning"></swal>
                                            <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                                        </div>
                                    </form>
                                    <!-- End Under Element Form Validation -->

                            </div>
                        </div>
                    </div>
                </section>
                <!-- END: forms/form-validation -->

            </div>

        </div>

    </div>

</section>
