<section class="card">
    <div class="card-header">
        <span class="card-block">
            <strong>
                <i class="fa fa-pencil"></i>แก้ไขข้อมูล</strong>
        </span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>ข้อมูลทั่วไป</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" [routerLink]="['/generalinfo/department-index']">หน่วยงาน</a>
            </li>
            <li class="breadcrumb-item active">แก้ไขข้อมูล</li>
        </ol>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <!-- START: forms/form-validation -->
                <section class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Under Element Form Validation -->
                                <form id="edit-general-create" class="single-form" name="new-general-create" [formGroup]="departmentEditForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="id">* รหัสหน่วยงาน</label>
                                        <div class="col-md-9">
                                            <input name="id" id="id" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="id" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="name">* ชื่อ กอง/แผนกไม่สังกัดกอง/คณะทำงาน </label>
                                        <div class="col-md-9">
                                            <input name="name" id="name" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="aliasname">* ชื่อย่อ กอง/แผนกไม่สังกัดกอง/คณะทำงาน </label>
                                        <div class="col-md-9">
                                            <input name="aliasname" id="aliasname" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="aliasName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="email">* อีเมลล์ </label>
                                        <div class="col-md-9">
                                            <input name="email" id="email" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="isActive">* สถานะ </label>
                                        <div class="col-md-9">
                                            <input name="isActive" id="isActive" type="checkbox" data-validation="[NOTEMPTY]" formControlName="isActive"> ใช้งาน
                                        </div>
                                    </div>
                                    <div class="sigle-form-button">
                                        <button *ngIf="isReadOnly(['DEPMNG'])==false" type="submit" class="btn btn-primary width-150" [disabled]="departmentEditForm.invalid">บันทึก</button>
                                        <swal #validation_dialog title="ระบุข้อมูลไม่ครบถ้วน" text="โปรดระบุข้อมูลให้ครบถ้วน" type="warning"></swal>
                                        <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                                    </div>
                                </form>
                                <!-- End Under Element Form Validation -->
                                <!-- Start Post Form-->
                                <form id="post-create" class="single-form" name="new-post-create" [formGroup]="postForm" (ngSubmit)="onPostSubmit()">
                                    <!-- this hidden will store value to create new post -->
                                    <input type="hidden" formControlName="departmentId">
                                    <div class="col-lg-12 table-administrator">
                                        <h5 class="text-header">
                                            <strong>รายชื่อผู้ดูแล</strong>
                                        </h5>
                                        <div class="form-group row" *ngIf="isReadOnly(['DEPMNG'])==false">
                                            <p class="text-muted col-md-1 col-form-label">
                                                <i class="icmn-search mr-2"></i>ค้นหา
                                            </p>
                                            <div class="col-md-10 row">
                                                <div class="col-md-6">
                                                    <select name="administrator" class="form-control select2-tags department-post">
                                                        <option *ngFor="let user of users" [value]="user.id">
                                                            {{user.firstName}} {{user.lastName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <label for="position" class="col-md-2 col-form-label">
                                                    <span class="pull-right">ตำแหน่ง </span>
                                                </label>
                                                <div class="col-md-3">
                                                    <select id="position" name="administrator" class="form-control" data-validation="[NOTEMPTY]" formControlName="isPrimary">
                                                        <option *ngFor="let pos of isPrimaryArr" [ngValue]="pos.status">
                                                            {{pos.position}}
                                                    </select>
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="submit" class="btn btn-success add-administrator mr-2 mb-2" >เพิ่ม
                                                    </button>
                                                </div>
                                                <swal #dialog [options]="{ confirmButtonText: 'ยืนยัน', cancelButtonText: 'ไม่ต้องการ', showCancelButton: true }" title="บันทึกสำเร็จ"
                                                    text="ต้องการกลับไปหน้ารายการหน่วยงาน ใช่หรือไม่?" type="success" (confirm)="redirectToIndex()"
                                                    (cancel)="stayOnPage()"></swal>

                                                <!-- {{postForm.value | json}} -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- End PostForm-->
                                <!-- post table data -->
                                <div class="table-responsive mb-5" style="overflow-x:auto;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ชื่อ-นามสกุล</th>
                                                <th>ตำแหน่ง</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of postArr" >
                                                <td><span *ngIf="isReadOnly(['DEPMNG'])==false" data-original-title="" title="" class="bin"><i class="fa fa-trash " (click)="removeUserList_dialog.show()" style="color:red"></i></span> {{user!=null?user.user:""}}</td>
                                                <td>{{user!=null?user.isPrimary? 'หัวหน้ากอง/แผนก' : 'ผู้แทน':""}}</td>
                                                <swal #removeUserList_dialog [options]="{ confirmButtonText: 'ยืนยัน', cancelButtonText: 'ไม่ต้องการ', showCancelButton: true }" title="ยืนยันลบผู้ใช้งานออกจากหน่วยงานใช่หรือไม่?"
                                                 type="warning" (confirm)="deleteUser(user)"
                                                (cancel)="stayOnPage()"></swal>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>