<section class="card">
    <div class="card-header">
        <span class="card-block">
            <strong><i class="fa fa-pencil"></i>แก้ไขข้อมูล</strong>

        </span>
        <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">ข้อมูลทั่วไป</a></li>
                <li class="breadcrumb-item"><a href="#">หน่วยงาน</a></li>
                <li class="breadcrumb-item active">แก้ไขข้อมูล</li>
            </ol>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <!-- START: forms/form-validation -->
                <section class="card">

                    <div class="card-block">
                        <div class="row">

                            <div class="col-md-12">



                                    <!-- Under Element Form Validation -->
                                    <form id="edit-general-create" class="single-form" name="edit-general-create" method="POST">
                                        <div class="form-group">
                                            <label class="form-label">ชื่อ กอง/แผนกไม่สังกัดกอง/คณะทำงาน </label>
                                            <input name="name"
                                                   type="text"
                                                   class="form-control"
                                                   data-validation="[NOTEMPTY]">
                                        </div>

                                        <div class="sigle-form-button">
                                            <button type="submit" class="btn btn-primary width-150">บันทึก</button>
                                            <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                                        </div>
                                    </form>
                                    <!-- End Under Element Form Validation -->

                            </div>
                        </div>
                    </div>
                </section>
                <!-- END: forms/form-validation -->

            </div>

        </div>

    </div>

</section>
