<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-sort-amount-asc"></i>ประเภทของกฎหมาย</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ข้อมูลทั่วไป</a>
      </li>
      <li class="breadcrumb-item active">ประเภทของกฎหมาย</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">

                        <button *ngIf="isReadOnly(['METDAT02'])==false" class="btn  btn-success mr-2 mb-2" type="button">
                          <a href="#" [routerLink]="['/generalinfo/lawclass-new']">เพิ่ม +</a>
                        </button>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table *ngIf="lawlevels.length > 0" class="table table-hover nowrap dataTable dtr-inline" id="example1" width="100%" role="grid" aria-describedby="example1_info"
                        style="width: 100%;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">#</th>
                            <th rowspan="1" colspan="1">ประเภทของกฎหมาย</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1" *ngIf="isReadOnly(['METDAT02'])==false"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">#</th>
                            <th rowspan="1" colspan="1">ประเภทของกฎหมาย</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1" *ngIf="isReadOnly(['METDAT02'])==false"></th>
                          </tr>
                        </tfoot>
                        <tbody>

                          <tr *ngFor="let lawLevel of lawlevels" role="row" class="odd">
                            <td class="sorting_1" tabindex="0">{{ lawLevel.id }}</td>
                            <td>{{lawLevel.name}}</td>
                            <td>{{lawLevel.aliasName}}</td>
                            <td *ngIf="isReadOnly(['METDAT02'])==false">
                              <li data-original-title="" title="">
                                <a href="#" [routerLink]="['/generalinfo/lawclass-edit',lawLevel.id]">
                                  <i class="fa fa-pencil"></i>
                                </a>
                              </li>
                              <swal #dialog title="ยืนยัน" text="ต้องการลบประเภทกฎหมายใช่หรือไม่?" type="warning" (confirm)="deleteLawLevel(lawLevel.id)"></swal>
                              <li data-original-title="" title="" class="bin">
                                <i class="fa fa-trash" (click)="dialog.show()"></i>
                              </li>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>