<section class="card">
  <div class="card-header">
    <span class="card-block">
            <strong><i class="fa fa-plus-square"></i>สร้างใหม่</strong>

        </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>ข้อมูลทั่วไป</a></li>
      <li class="breadcrumb-item"><a href="#" [routerLink]="['/generalinfo/licence']">ใบอนุญาตที่กฎหมายกำหนด</a></li>
      <li class="breadcrumb-item active">สร้างใหม่</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <!-- START: forms/form-validation -->
        <section class="card">

          <div class="card-block">
            <div class="row">

              <div class="col-md-12">



                <!-- Under Element Form Validation -->
                <form id="department-general-create" class="single-form" name="new-general-create" [formGroup]="departmentNewForm" (ngSubmit)="onSubmit()">

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">ชื่อใบอนุญาต</label>
                    <div class="col-md-9">
                      <input name="name" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="name">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">ชื่อย่อ</label>
                    <div class="col-md-9">
                      <input name="aliasname" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="aliasname">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">ผู้ออกใบอนุญาต</label>
                    <div class="col-md-9">
                      <input name="licens-updater" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="aliasname">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">ประเภท</label>
                    <div class="col-md-9">
                      <select name="type" class="form-control " data-validation="[NOTEMPTY]" formControlName="type">

                        <option value="ใบอนุญาตโรงงาน" selected>ใบอนุญาตโรงงาน</option>
                        <option value="ใบอนุญาตบุคคล">ใบอนุญาตบุคคล</option>
                        <option value="ใบอนุญาตอุปกรณ์เครื่องมือเครื่องใช้">ใบอนุญาตอุปกรณ์เครื่องมือเครื่องใช้</option>
                        <option value="ใบอนุญาตเครื่องจักร">ใบอนุญาตเครื่องจักร</option>
                        <option value="แบบฟอร์มรายงาน">แบบฟอร์มรายงาน</option>
                        <option value="อื่นๆ">อื่นๆ</option>
                      </select>

                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">ความถี่ใบอนุญาต</label>
                    <div class="col-md-3">
                      <input name="f" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="aliasname">
                    </div>
                    <div class="form-group div-checkbox row pl-3 mt-2">
                      <label class="form-check-label">
                          <input class="form-check-input checkbox" type="radio" name="radio" value="เดือน">
                          &nbsp;&nbsp;เดือน


                      </label>
                    </div>
                    <div class="form-group div-checkbox row pl-3 mt-2 ml-3">
                      <label class="form-check-label">

                          <input class="form-check-input checkbox" type="radio" name="radio" value="ปี">
                          &nbsp;&nbsp;ปี

                      </label>
                    </div>
                  </div>



                  <div class="sigle-form-button">
                    <button type="submit" class="btn btn-primary width-150">บันทึก</button>
                    <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                  </div>
                </form>
                <!-- End Under Element Form Validation -->

              </div>
            </div>
          </div>
        </section>
        <!-- END: forms/form-validation -->

      </div>

    </div>

  </div>

</section>
