<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong><i class="fa fa-briefcase"></i>ใบอนุญาตที่กฎหมายกำหนด</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>ข้อมูลทั่วไป</a></li>
      <li class="breadcrumb-item active">ใบอนุญาตที่กฎหมายกำหนด</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-8">
                      <div class="dataTables_length" id="example1_length">

                        <button *ngIf="isReadOnly(['DOCMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button">
                          <a href="#" [routerLink]="['/license/type/new']">เพิ่ม +</a>
                        </button>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 table_search">
                      <div class="cat__top-bar__search">
                        <i class="icmn-search"></i>
                        <input placeholder="พิมพ์เพื่อค้นหา..." type="text">

                      </div>
                      <button class="btn btn-sm  btn-success mr-2 mb-2" type="button">
                          <a>ค้นหา</a>
                      </button>

                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table class="table table-hover nowrap dataTable dtr-inline" id="example1" width="100%" role="grid" aria-describedby="example1_info" style="width: 100%;" datatable [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1">ประเภท</th>
                            <th rowspan="1" colspan="1">เกี่ยวข้องกับกฎหมาย</th>
                            <th rowspan="1" colspan="1">ผู้ออกใบอนุญาต</th>
                            <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                            <th rowspan="1" colspan="1">ชื่อย่อ</th>
                            <th rowspan="1" colspan="1">ประเภท</th>
                            <th rowspan="1" colspan="1">เกี่ยวข้องกับกฎหมาย</th>
                            <th rowspan="1" colspan="1">ผู้ออกใบอนุญาต</th>
                            <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </tfoot>
                        <tbody>

                          <tr *ngFor="let department of departments" role="row" class="odd">
                            <td class="sorting_1" tabindex="0">{{department.id}}</td>
                            <td>{{department.name}}</td>
                            <td>{{department.aliasName}}</td>
                            <td>{{department.email}}</td>
                            <td>{{department.aliasName}}</td>
                            <td>{{department.email}}</td>
                            <td>
                              <li data-original-title="" title=""><a href="#" [routerLink]="['/generalinfo/licence-view',department.id]"><i class="fa fa-eye"></i></a></li>
                              <li data-original-title="" title="" class="bin"><i class="fa fa-trash "></i></li>
                            </td>

                          </tr>


                        </tbody>
                      </table>

                      <nav class="div-pagination">
                        <ul class="pagination">
                          <li class="page-item">
                            <a aria-label="Previous" class="page-link" href="javascript: void(0);">
                                    <span aria-hidden="true">
                                        <i class="fa fa-arrow-left"></i>
                                    </span>
                                    <span class="sr-only">ก่อนหน้า</span>
                                </a>
                          </li>
                          <li class="page-item"><a class="page-link disabled" href="javascript: void(0);">1</a></li>
                          <li class="page-item"><a class="page-link disabled" href="javascript: void(0);">2</a></li>
                          <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                          <li class="page-item"><a class="page-link" href="javascript: void(0);">...</a></li>
                          <li class="page-item"><a class="page-link" href="javascript: void(0);">89</a></li>
                          <li class="page-item"><a class="page-link" href="javascript: void(0);">90</a></li>
                          <li class="page-item"><a class="page-link" href="javascript: void(0);">91</a></li>
                          <li class="page-item">
                            <a aria-label="Next" class="page-link" href="javascript: void(0);">
                                    <span aria-hidden="true">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                                    <span class="sr-only">ถัดไป</span>
                                </a>
                          </li>
                        </ul>
                      </nav>

                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
