<section class="card">
  <div class="card-header">
    <span class="card-block">
            <strong><i class="fa fa-pencil"></i>แก้ไข</strong>

        </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a >ผู้ใช้</a></li>
      <li class="breadcrumb-item"><a href="#" [routerLink]="['/user/group']">กลุ่มผู้ใช้</a></li>
      <li class="breadcrumb-item active">แก้ไข</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <!-- START: forms/form-validation -->
        <section class="card">

          <div class="card-block">
            <div class="row">

              <div class="col-md-12">
                <!-- Under Element Form Validation -->
                <form id="new-group-create" class="single-form" name="new-user-create" method="POST" [formGroup]="userGroupEditForm" (ngSubmit)="onSubmit()">

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">รหัส</label>
                    <div class="col-md-9">
                      <input name="code" type="text" class="form-control" formControlName="id" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">* ชื่อกลุ่มผู้ใช้</label>
                    <div class="col-md-9">
                      <input name="groupname" type="text" class="form-control" formControlName="name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="isSetPermission">* แสดงในเมนูจัดการสิทธิ์ </label>
                    <div class="col-md-9">
                        <input name="isSetPermission" id="isSetPermission" type="checkbox" data-validation="[NOTEMPTY]" formControlName="isSetPermission"> ใช้งาน
                    </div>
                </div>
                  <div class="sigle-form-button">
                    <button *ngIf="isReadOnly(['USRMNG'])==false" type="submit" class="btn btn-primary width-150" >บันทึก</button>
                    <!-- <button *ngIf="!role('USRMNG')" type="submit" class="btn btn-primary width-150" disabled >บันทึก</button> -->
                    <swal #validation_dialog title="ระบุข้อมูลไม่ครบถ้วน" text="โปรดระบุข้อมูลให้ครบถ้วน" type="warning"></swal>
                    <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                  </div>
                </form>
                <!-- End Under Element Form Validation -->

              </div>
            </div>
          </div>
        </section>
        <!-- END: forms/form-validation -->

      </div>

    </div>

  </div>

</section>
