<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-users"></i>กลุ่มผู้ใช้งาน</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ผู้ใช้</a>
      </li>
      <li class="breadcrumb-item active">กลุ่มผู้ใช้งาน</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="user-group" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">

                        <button *ngIf="isReadOnly(['USRMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button">
                          <a href="#" [routerLink]="['/user/group-new']">เพิ่ม +</a>
                        </button>
                        <!-- <button *ngIf="isReadOnly(['USRMNG'])" class="btn  btn-success mr-2 mb-2" type="button" disabled>
                            <a href="#" [routerLink]="['/user/group-new']">เพิ่ม +</a>
                          </button> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table *ngIf="usergroups.length > 0" class="table table-hover nowrap dataTable dtr-inline" id="example1" width="100%" role="grid" aria-describedby="example1_info"
                        style="width: 100%;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">รหัส</th>
                            <th rowspan="1" colspan="1">ชื่อกลุ่มผู้ใช้</th>
                            <th rowspan="1" colspan="1">แสดงในเมนูจัดการสิทธิ์</th>
                            <th *ngIf="isReadOnly(['USRMNG'])==false"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">รหัส</th>
                            <th rowspan="1" colspan="1">ชื่อกลุ่มผู้ใช้</th>
                            <th rowspan="1" colspan="1">แสดงในเมนูจัดการสิทธิ์</th>
                            <th *ngIf="isReadOnly(['USRMNG'])==false"></th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr *ngFor="let group of usergroups;let j = index" role="row" class="odd">
                            <td>{{ j+1 }}</td>
                            <td>{{ group.name }}</td>
                            <td>{{ group.isSetPermission?'แสดง':'ไม่แสดง' }}</td>
                            <td *ngIf="isReadOnly(['USRMNG'])==false">
                              <li *ngIf="group.id !== 6" data-original-title="" title="">
                                <a href="#" [routerLink]="['/user/group-edit', group.id]">
                                  <i class="fa fa-pencil"></i>
                                </a>
                              </li>
                              <swal #dialog title="ยืนยัน" text="ต้องการลบกลุ่มผู้ใช้ใช่หรือไม่?" type="warning" (confirm)="deleteUserGroup(group.id)"></swal>
                              <!-- <li data-original-title="" title="" class="bin" >
                                <i class="fa fa-trash " (click)="dialog.show()"></i>
                              </li>   -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>