<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-users"></i>จัดการผู้ใช้</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ผู้ใช้</a>
      </li>
      <li class="breadcrumb-item active">จัดการผู้ใช้</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-8">
                      <div class="dataTables_length" id="example1_length">
                        <button *ngIf="isReadOnly(['USRMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button">
                          <a href="#" [routerLink]="['/user/user-new']">เพิ่ม +</a>
                        </button>
                        <!-- <button *ngIf="!role('USRMNG')" class="btn  btn-success mr-2 mb-2" type="button" disabled>
                            <a href="#" [routerLink]="['/user/user-new']">เพิ่ม +</a>
                          </button> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table *ngIf="users.length > 0" class="table table-hover nowrap dataTable dtr-inline" id="example1" width="100%" role="grid" aria-describedby="example1_info"
                        style="width: 100%;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">#</th>
                            <th rowspan="1" colspan="1">เลขประจำตัว</th>
                            <th rowspan="1" colspan="1">ชื่อ-นามสกุล</th>
                            <th rowspan="1" colspan="1">อีเมลล์</th>
                            <th rowspan="1" colspan="1">กลุ่มผู้ใช้งาน</th>
                            <th rowspan="1" colspan="1">สถานะ</th>
                            <th rowspan="1" colspan="1" *ngIf="isReadOnly(['USRMNG'])==false"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">#</th>
                            <th rowspan="1" colspan="1">เลขประจำตัว</th>
                            <th rowspan="1" colspan="1">ชื่อ-นามสกุล</th>
                            <th rowspan="1" colspan="1">อีเมลล์</th>
                            <th rowspan="1" colspan="1">กลุ่มผู้ใช้งาน</th>
                            <th rowspan="1" colspan="1">สถานะ</th>
                            <th rowspan="1" colspan="1" *ngIf="isReadOnly(['USRMNG'])==false"></th>
                          </tr>
                        </tfoot>
                        <tbody>

                          <tr *ngFor="let user of users;  let i = index" role="row" class="odd">
                            <td class="sorting_1" tabindex="0">{{ i+1 }}</td>
                            <td>{{ pad(user.id,6) }}</td>
                            <td>{{ user.firstName }} {{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.group }}</td>
                            <td>{{user.isActive?'ใช้งาน':'ไม่ใช้งาน'}}</td>
                            <td *ngIf="isReadOnly(['USRMNG'])==false">
                              <li data-original-title="" title="">
                                <a href="#" [routerLink]="['/user/user-edit',user.id]">
                                  <i class="fa fa-pencil"></i>
                                </a>
                              </li>
                              <swal #dialog title="ยืนยัน" text="ต้องการลบผู้ใช้ใช่หรือไม่?" type="warning" (confirm)="deleteUser(user.id)"></swal>
                              <!-- <li data-original-title="" title="" class="bin" >
                                <i class="fa fa-trash " (click)="dialog.show()"></i>
                              </li> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>