<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-pencil"></i>แก้ไขข้อมูล</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ผู้ใช้</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" [routerLink]="['/user/user-index']">จัดการผู้ใช้</a>
      </li>
      <li class="breadcrumb-item active">แก้ไขข้อมูล</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <!-- START: forms/form-validation -->
        <section class="card">

          <div class="card-block">
            <div class="row">

              <div class="col-md-12">

                <!-- Under Element Form Validation -->
                <form id="edit-user-create" class="single-form" name="edit-user-create" method="POST" [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">* เลขประจำตัว</label>
                    <div class="col-md-9">
                      <input name="firstName" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="id" readonly>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">* ชื่อ</label>
                    <div class="col-md-9">
                      <input name="firstName" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="firstName">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">* นามสกุล</label>
                    <div class="col-md-9">
                      <input name="lastName" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="lastName">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">* อีเมลล์</label>
                    <div class="col-md-9">
                      <input name="email" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">* กลุ่มผู้ใช้งาน</label>
                    <div class="col-md-9">
                      <select name="option" class="form-control select2" data-validation="[NOTEMPTY]" formControlName="groupId">

                        <option>กรุณาเลือก</option>
                        <option *ngFor="let usergroup of userGroups" [attr.value]="usergroup.id" [attr.selected]="usergroup.id == user.groupId ? true : null">{{ usergroup.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="isActive">* สถานะ </label>
                      <div class="col-md-9">
                          <input name="isActive" id="isActive" type="checkbox" data-validation="[NOTEMPTY]" formControlName="isActive"> ใช้งาน
                      </div>
                  </div>
                  <div class="sigle-form-button">
                    <button *ngIf="isReadOnly(['USRMNG'])==false" type="submit" class="btn btn-primary width-150">บันทึก</button>
                    <!-- <button *ngIf="!role('USRMNG')" type="submit" class="btn btn-primary width-150" disabled>บันทึก</button> -->
                    <swal #validation_dialog title="ระบุข้อมูลไม่ครบถ้วน" text="โปรดระบุข้อมูลให้ครบถ้วน" type="warning"></swal>
                    <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                  </div>
                </form>
                <!-- End Under Element Form Validation -->
              </div>
            </div>
          </div>
        </section>
        <!-- END: forms/form-validation -->
      </div>
    </div>
  </div>
</section>