<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-user-plus"></i>สร้างใหม่</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ผู้ใช้</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" [routerLink]="['/user/user-index']">จัดการผู้ใช้</a>
      </li>
      <li class="breadcrumb-item active">สร้างใหม่</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <!-- START: forms/form-validation -->
        <section class="card">

          <div class="card-block">
            <div class="row">

              <div class="col-md-12">
                <!-- Under Element Form Validation -->
                <form id="new-user-create" class="single-form" name="new-user-create" method="POST" [formGroup]="userNewForm" (ngSubmit)="onSubmit()">

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">* เลขประจำตัว</label>
                    <div class="col-md-9">
                      <input name="id" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="id">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">* ชื่อ</label>
                    <div class="col-md-9">
                      <input name="firstName" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="firstName">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">* นามสกุล</label>
                    <div class="col-md-9">
                      <input name="lastName" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="lastName">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">* อีเมลล์</label>
                    <div class="col-md-9">
                      <input name="email" type="text" class="form-control" data-validation="[NOTEMPTY]" formControlName="email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">* กลุ่มผู้ใช้งาน</label>
                    <div class="col-md-9">
                      <select name="option" class="form-control select2" data-validation="[NOTEMPTY]" formControlName="groupId">
                        <option value="">กรุณาเลือก</option>
                        <option *ngFor="let usergroup of userGroups" [attr.value]="usergroup.id">{{ usergroup.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="sigle-form-button">
                    <button *ngIf="isReadOnly(['USRMNG'])==false" type="submit" class="btn btn-primary width-150">บันทึก</button>
                    <!-- <button *ngIf="!role('USRMNG')" type="submit" class="btn btn-primary width-150" disabled>บันทึก</button> -->
                    <swal #validation_dialog title="ระบุข้อมูลไม่ครบถ้วน" text="โปรดระบุข้อมูลให้ครบถ้วน" type="warning"></swal>
                    <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                  </div>
                </form>
                <!-- End Under Element Form Validation -->
              </div>
            </div>
          </div>
        </section>
        <!-- END: forms/form-validation -->
      </div>
    </div>
  </div>
</section>