<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-users"></i>จัดการสิทธิ์</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ผู้ใช้</a>
      </li>
      <li class="breadcrumb-item active">จัดการสิทธิ์</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <div class="tab-content">
              <div class="tab-pane active" id="user-permissions-group" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table *ngIf="userGroups.length > 0" class="table table-bordered table-hover nowrap dtr-inline" id="example1"  role="grid" aria-describedby="example1_info"
                        width="100%" datatable [dtOptions]="dtOptions">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1" >ชื่อรายการสิทธิ์</th>
                            <th  *ngFor="let usergroup of userGroups" rowspan="1" colspan="1"  style="width:120px">{{ usergroup.name }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"></td> 
                            <td *ngFor="let usergroup of userGroups" style="font-size:11px">view / edit</td>
                          </tr> -->
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">การนำเข้ากฎหมายใหม่และจัดแผนการติดตาม</div></td> 
                            <td *ngFor="let usergroup of userGroups;let i=index ">
                                <select class="form-control" (ngModelChange)="submit($event,'ATFMNG07',usergroup.id,result['ATFMNG07'][usergroup.id].mode)" [(ngModel)]="result['ATFMNG07'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFMNG07'][usergroup.id].mode==0?'black':result['ATFMNG07'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">กฎหมายฉบับร่าง</div></td>   
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFMNG03',usergroup.id,result['ATFMNG03'][usergroup.id].mode)" [(ngModel)]="result['ATFMNG03'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFMNG03'][usergroup.id].mode==0?'black':result['ATFMNG03'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>        
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ส่งทวนสอบความเกี่ยวข้อง</div></td>   
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFMNG06',usergroup.id,result['ATFMNG06'][usergroup.id].mode)" [(ngModel)]="result['ATFMNG06'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFMNG06'][usergroup.id].mode==0?'black':result['ATFMNG06'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>               
                          </tr>
                          <!-- <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ตรวจสอบกฎหมายที่รอทวนสอบ</div></td> 
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFMNG04',usergroup.id,result['ATFMNG04'][usergroup.id].mode)" [(ngModel)]="result['ATFMNG04'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFMNG04'][usergroup.id].mode==0?'black':result['ATFMNG04'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>                 
                          </tr> -->
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">จัดการยืนยันความเกี่ยวข้อง</div></td>  
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'TSKASM02',usergroup.id,result['TSKASM02'][usergroup.id].mode)" [(ngModel)]="result['TSKASM02'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['TSKASM02'][usergroup.id].mode==0?'black':result['TSKASM02'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>                
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ประเมินการปฏิบัติสอดคล้องตามกฎหมาย</div></td>  
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'TSKASM',usergroup.id,result['TSKASM'][usergroup.id].mode)" [(ngModel)]="result['TSKASM'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['TSKASM'][usergroup.id].mode==0?'black':result['TSKASM'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>                
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ตรวจสอบผลการเกี่ยวข้องและสอดคล้อง</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'TSKRVW02',usergroup.id,result['TSKRVW02'][usergroup.id].mode)" [(ngModel)]="result['TSKRVW02'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['TSKRVW02'][usergroup.id].mode==0?'black':result['TSKRVW02'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">จัดทำรายงานความเกี่ยวข้องกฎหมายใหม่</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFMNG05',usergroup.id,result['ATFMNG05'][usergroup.id].mode)" [(ngModel)]="result['ATFMNG05'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFMNG05'][usergroup.id].mode==0?'black':result['ATFMNG05'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modePrintOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">นำเสนอผลให้ผู้แทน</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'TSKRVW03',usergroup.id,result['TSKRVW03'][usergroup.id].mode)" [(ngModel)]="result['TSKRVW03'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['TSKRVW03'][usergroup.id].mode==0?'black':result['TSKRVW03'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">อนุมัติและรับทราบความเกี่ยวข้องและสอดคล้อง</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'TSKAPP',usergroup.id,result['TSKAPP'][usergroup.id].mode)" [(ngModel)]="result['TSKAPP'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['TSKAPP'][usergroup.id].mode==0?'black':result['TSKAPP'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ทะเบียนแสดงกฎหมายภายในโรงไฟฟ้า</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFVIW03',usergroup.id,result['ATFVIW03'][usergroup.id].mode)" [(ngModel)]="result['ATFVIW03'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFVIW03'][usergroup.id].mode==0?'black':result['ATFVIW03'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">การติดตามการปฏิบัติสอดคล้องตามกฎหมาย</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFVIW02',usergroup.id,result['ATFVIW02'][usergroup.id].mode)" [(ngModel)]="result['ATFVIW02'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFVIW02'][usergroup.id].mode==0?'black':result['ATFVIW02'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ตรวจสอบผลการประเมินปฏิบัติสอดคล้องตามกฎหมาย</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'TSKRVW',usergroup.id,result['TSKRVW'][usergroup.id].mode)" [(ngModel)]="result['TSKRVW'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['TSKRVW'][usergroup.id].mode==0?'black':result['TSKRVW'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">จัดทำรายงานการการปฏิบัติสอดคล้องตามกฎหมาย</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFVIW',usergroup.id,result['ATFVIW'][usergroup.id].mode)" [(ngModel)]="result['ATFVIW'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFVIW'][usergroup.id].mode==0?'black':result['ATFVIW'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modePrintOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">จัดการกฎหมายยกเลิก</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFMNG',usergroup.id,result['ATFMNG'][usergroup.id].mode)" [(ngModel)]="result['ATFMNG'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFMNG'][usergroup.id].mode==0?'black':result['ATFMNG'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">เรียกดูกฎหมายยกเลิก</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ATFMNG02',usergroup.id,result['ATFMNG02'][usergroup.id].mode)" [(ngModel)]="result['ATFMNG02'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ATFMNG02'][usergroup.id].mode==0?'black':result['ATFMNG02'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">จัดการเอกสาร(ใบอนุญาต เอกสารแนบ)</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'DOCMNG',usergroup.id,result['DOCMNG'][usergroup.id].mode)" [(ngModel)]="result['DOCMNG'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['DOCMNG'][usergroup.id].mode==0?'black':result['DOCMNG'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">จัดการข้อร้องเรียน</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'TCKMNG',usergroup.id,result['TCKMNG'][usergroup.id].mode)" [(ngModel)]="result['TCKMNG'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['TCKMNG'][usergroup.id].mode==0?'black':result['TCKMNG'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ข้อมูลหน่วยงาน</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'DEPMNG',usergroup.id,result['DEPMNG'][usergroup.id].mode)" [(ngModel)]="result['DEPMNG'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['DEPMNG'][usergroup.id].mode==0?'black':result['DEPMNG'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ข้อมูลหมวดหมู่กฎหมาย</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'METDAT',usergroup.id,result['METDAT'][usergroup.id].mode)" [(ngModel)]="result['METDAT'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['METDAT'][usergroup.id].mode==0?'black':result['METDAT'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">ข้อมูลประเภทกฎหมาย</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'METDAT02',usergroup.id,result['METDAT02'][usergroup.id].mode)" [(ngModel)]="result['METDAT02'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['METDAT02'][usergroup.id].mode==0?'black':result['METDAT02'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">นำเข้าข้อมูลผู้ใช้ระบบ</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'USRMNG',usergroup.id,result['USRMNG'][usergroup.id].mode)" [(ngModel)]="result['USRMNG'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['USRMNG'][usergroup.id].mode==0?'black':result['USRMNG'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0"><div style="width:400px;">จัดการสิทธิ์ของผู้เช้าใช้งาน</div></td>
                            <td *ngFor="let usergroup of userGroups;let i=index " >
                                <select class="form-control" (ngModelChange)="submit($event,'ACLMNG',usergroup.id,result['ACLMNG'][usergroup.id].mode)" [(ngModel)]="result['ACLMNG'][usergroup.id].mode" [ngStyle]="{'width':'110px','color':'white','background-color':result['ACLMNG'][usergroup.id].mode==0?'black':result['ACLMNG'][usergroup.id].mode==1?'#1e90ff':'#5cb85c'}">
                                  <option *ngFor="let mode of modeOptions" [value]="mode.id">{{mode.name}}</option>
                                </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>