@font-face {
    font-family: 'DB_Surawong_X';
    src: url('font/db_surawong_x_v3.2-webfont.eot');
    src: url('font/db_surawong_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/db_surawong_x_v3.2-webfont.woff') format('woff'),
         url('font/db_surawong_x_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DB_Surawong_X';
    src: url('font/db_surawong_x_bd2_v3.2-webfont.eot');
    src: url('font/db_surawong_x_bd2_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/db_surawong_x_bd2_v3.2-webfont.woff') format('woff'),
         url('font/db_surawong_x_bd2_v3.2-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('font/thsarabunnew-webfont.eot');
    src: url('font/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/thsarabunnew-webfont.woff') format('woff'),
         url('font/thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('font/thsarabunnew_bolditalic-webfont.eot');
    src: url('font/thsarabunnew_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/thsarabunnew_bolditalic-webfont.woff') format('woff'),
         url('font/thsarabunnew_bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('font/thsarabunnew_italic-webfont.eot');
    src: url('font/thsarabunnew_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/thsarabunnew_italic-webfont.woff') format('woff'),
         url('font/thsarabunnew_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('font/thsarabunnew_bold-webfont.eot');
    src: url('font/thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/thsarabunnew_bold-webfont.woff') format('woff'),
         url('font/thsarabunnew_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
