<div class="cat__menu-right">
    <div class="cat__menu-right__inner">
        <div class="cat__menu-right__header">
            <span class="fa fa-times pull-right cat__menu-right__action--menu-toggle"><!-- --></span>
            <i class="fa fa-bell-o"></i>
            การแจ้งเตือนทั้งหมด
        </div>
        <div class="cat__menu-right__content">
          <div class="cat__apps__messaging__tab">
                <span class="fa fa-times pull-right cat__apps__messaging__tab_close"></span>
                <div class="cat__apps__messaging__tab__content">

                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Barak Obama</div>
                    <div class="cat__apps__messaging--text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                </div>
            </div>
            <div class="cat__apps__messaging__tab">
               <span class="fa fa-times pull-right cat__apps__messaging__tab_close"></span>
                <div class="cat__apps__messaging__tab__content">

                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Ton Somgud</div>
                    <div class="cat__apps__messaging--text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                </div>
            </div>
            <div class="cat__apps__messaging__tab">
                <span class="fa fa-times pull-right cat__apps__messaging__tab_close"></span>
                <div class="cat__apps__messaging__tab__content">

                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Boom Manang</div>
                    <div class="cat__apps__messaging--text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                </div>
            </div>
            <div class="cat__apps__messaging__tab">
                <span class="fa fa-times pull-right cat__apps__messaging__tab_close"></span>
                <div class="cat__apps__messaging__tab__content">

                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Gan Odanf</div>
                    <div class="cat__apps__messaging--text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                </div>
            </div>
        </div>

    </div>
</div>
