// Import mixins from "core" module
@import '~assets/modules/core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* FOOTER */

.cat {
    &__footer {
        margin-bottom: rem(-19);
        background: $gray-border;
        border-radius: 5px 5px 0px 0px;
        padding: rem(50) rem(20) rem(30);
        padding-left: rem(40);
        padding-top: 15px;
        padding-bottom: 3px;
        &__top{
          .block-left{
            padding-left: 55px;
            .logo-egat{
              img{
                width: 58px;
                float: right;
              }
            }
            .text{
              font-size: 11px;
              .text-top-1{
                display: inline-block;
                color: $main-color;
              }
              .text-top-2{
                display: inline-block;
                color: $main-color;
              }
            }
          }

          .logo-information{
            margin-right: -10px;
            div{
              background-image: url(/assets/modules/core/common/images/sprite-icon.png);
              background-position: -145px -28px;
              background-size: 300px;
              width: 50px;
              height: 50px;
              float: right;
            }
          }
          .footer-title {
              color: $main-color;
              font-size: 11px;
              margin-bottom: 2px;
              font-weight: bold;
              letter-spacing: 1px;
              display: inline-block;
              vertical-align: top;
              margin-right: 12px;
          }
          .footer-detail{
              font-size: 11px;
              display: inline-block;
          }
          .version{
            text-align: right;
            margin-bottom: 0;
            padding-top: 0px;
            font-size: 9px;
            color: rgba(128, 128, 128, 0.44);
          }
        }

        &__bottom {
            margin-top: rem(20);
            padding-top: rem(30);
            border-top: 1px solid $gray;
        }
        &__company {
            padding-left: rem(50);
            position: relative;
            display: inline-block;
            float: right;

            @media (max-width: $sm-max-width) {
                float: none;
                margin-top: rem(30);
            }
        }
        &__company-logo {
            position: absolute;
            top: rem(5);
            left: 0;
            width: rem(30);
        }

        @at-root {
            .cat__config--superclean {
                .cat__footer {
                    margin-bottom: 0;
                }
            }
        }
    }
}
