<div class="cat__footer">
  <div class="cat__footer__top">
    <div class="row">
      <div class="col-sm-6 block-left row">
        <div class="col-sm-2 logo-egat">
          <a href="">
              <img src="assets/modules/core/common/images/egat.png" />
          </a>
        </div>
        <div class="col-sm-10 text">
          <div class="text-top-1">การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย</div>
          <div class="text-top-2">โรงไฟฟ้าแม่เมาะ</div>
          <div class="text-top-3">Maemoh Power Plant</div>
        </div>
      </div>
      <div class="col-sm-6 block-right row">
        <div class="col-sm-2 logo-information">
            <div></div>
        </div>
        <div class="col-sm-10">

           <div class="col-sm-12">
              <div class="footer-title">
                  ผู้ดูแลเว็บไซต์
              </div>
              <div class="footer-detail">
                  <div class="tel list-detail">
                      นายมฆวัน  นิลกัณหะ
                  </div>
                  <div class="tel list-detail">
                      <i class="fa fa-phone-square" aria-hidden="true"></i>
                      <span >0-5425-2912</span>
                  </div>
                  <div class="email list-detail">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <span >makkawan.nin@egat.co.th</span>
                  </div>

              </div>
            </div>
        </div>
      </div>


        <!-- <div class="col-sm-3">

            <div class="footer-title">
                ผู้รับผิดชอบข้อมูล
            </div>
            <div class="footer-detail">
                <div class="tel list-detail">
                    นายอมรพันธ์ ลีลาภรณ์
                </div>
                <div class="tel list-detail">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    <span >0-5425-2005</span>
                </div>
                <div class="email list-detail">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span >assmm@egat.co.th</span>
                </div>

            </div>


        </div> -->

        <!-- <div class="col-sm-3">
            <div class="footer-title">
                ติดต่อแผนกประชาสัมพันธ์
            </div>
            <div class="footer-detail">
                <div class="tel list-detail">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    <span >0-5425-3862, 0-5425-2738</span>
                </div>
                <div class="fax list-detail">
                    <i class="fa fa-fax" aria-hidden="true"></i>
                    <span >0-5425-2731</span>
                </div>

                <div class="email list-detail">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span >aspublic@egat.co.th</span>
                </div>
                <div class="address list-detail">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span >800 หมู่ 6 ต.แม่เมาะ อ.แม่เมาะ จ.ลำปาง 52220 </span>
                </div>

            </div>
        </div> -->
        <div class="col-sm-12 version">
          <span>version 1.1.1</span>
        </div>
    </div>
  </div>
</div>
