<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-check-square-o"></i>ยืนยันความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>การจัดการกฎหมาย</a>
      </li>
      <li class="breadcrumb-item">
        <a *ngIf="mode=='initial'" href="#" [routerLink]="['/artifact/list/initial/inprogress']">กฎหมายที่อยู่ในระหว่างการดำเนินการ</a>
        <a *ngIf="mode!='initial'" href="#" [routerLink]="['/artifact/list/followup/inprogress']">กฎหมายที่อยู่ในระหว่างการดำเนินการ</a>
      </li>
      <li class="breadcrumb-item active">ยืนยันความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}</li>
    </ol>
  </div>

  <div class="card-block new-law pl-0 pr-0">

    <div class="row">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <section class="card">
              <div class="card-block custom-card-block">
                <section class="card">
                  <div class="card-header custom-card-header">
                    <span class="cat__core__title">
                      {{ title }}
                    </span>
                  </div>
                </section>
                <div class="row">
                  <div class="col-md-12">
                      <!-- TODO add onSubmit -->
                      <div id="bootstrap-wizard-1" class="col-sm-12">
                        <div class="tab-content show_detail mt-0 pt-0 pl-0 pr-0">
                          <div class="tab-pane active show_detail--row" id="tab1">
                            <div class="row view-tab">
                              <!-- TAB INSIDE -->
                              <div class="nav-tab-block">
                                <ul class="nav nav-tabs" role="tablist">

                                  <li class="nav-item nav-item-1">
                                    <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab-inside1" role="tab" aria-expanded="true">
                                      <i class="icmn-books"></i>
                                      ประเมินความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}
                                    </a>
                                  </li>
                                  <li class="nav-item nav-item-2">
                                    <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab-inside2" role="tab" aria-expanded="false">
                                      <i class="icmn-file-text2"></i>
                                      ข้อมูลทั่วไป
                                    </a>
                                  </li>
                                  <li class="nav-item nav-item-3">
                                    <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab-inside3" role="tab" aria-expanded="false">
                                      <i class="icmn-file-text2"></i>
                                      รายละเอียดกฎหมาย
                                    </a>
                                  </li>

                                </ul>
                                <div class="tab-content mt-4">
                                  <div class="tab-pane active" id="tab-inside1" role="tabcard" aria-expanded="true" style="overflow-x:auto;">
                                    <table class="table" id="artifact-assesment" style="width: 100%;">
                                      <thead>
                                        <tr>
                                          <th rowspan="1" colspan="1">หน่วยงาน</th>
                                          <th rowspan="1" colspan="1">รายละเอียดข้อปฏิบัติ</th>
                                          <th rowspan="1" colspan="1">ความเกี่ยวข้อง</th>
                                          <th rowspan="1" colspan="1">{{mode=='initial'?'ความสอดคล้อง':'ความสอดคล้อง'}}</th>
                                          <th rowspan="1" colspan="1">สถานะ</th>
                                          <th rowspan="1" colspan="1"></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let assignment of taskAssignments" role="row" class="odd">
                                          <td class="sorting_1" tabindex="0">{{assignment.department}}</td>
                                          <td><div class="artifact-node-content" [innerHTML]="assignment.artifactNode.content"></div></td>
                                          <td>{{mode=='initial'?assignment.isApplicableText: assignment.isApplicableText=='อยู่ในระหว่างดำเนินการ'?'เกี่ยวข้อง':assignment.isApplicableText}}</td>
                                          <td>{{((assignment.isApplicable==false)&&(assignment.status!='Assigned'))?"":assignment.isCompliantText}}</td>
                                          <td>
                                              <span class="tags badge summary-tag" [ngClass]="assignment.status">{{ assignment.statusText }}</span>
                                          </td>
                                          <td>
                                            <li data-original-title="" title="" class="bin">
                                              <a href="#" [routerLink]="['/task',mode, assignment.id]">
                                                <button *ngIf="(assignment.status !== 'Initial')&&(((isReadOnly(['TSKASM'])==false)&&(assignment.status=='Assigned'))||((isReadOnly(['TSKRVW'])==false)&&(assignment.status=='Assessed')) ||(!(((isReadOnly(['TSKASM'])==false)&&(assignment.status=='Assigned'))||((isReadOnly(['TSKRVW'])==false)&&(assignment.status=='Assessed')))))" type="button"  class="btn btn-sm btn-secondary mr-2 mb-2">
                                                  <span *ngIf="((isReadOnly(['TSKASM'])==false)&&(assignment.status=='Assigned'))">ประเมิน</span>
                                                  <span *ngIf="((isReadOnly(['TSKRVW'])==false)&&(assignment.status=='Assessed'))">ตรวจสอบการประเมิน</span>
                                                  <span *ngIf="(!(((isReadOnly(['TSKASM'])==false)&&(assignment.status=='Assigned'))||((isReadOnly(['TSKRVW'])==false)&&(assignment.status=='Assessed'))))">รายละเอียดเพิ่มเติม</span>
                                                </button>
                                                <button *ngIf="(assignment.status === 'Initial')&&(((isReadOnly(['TSKASM02'])==false)&&(assignment.status=='Assigned'))|| ((isReadOnly(['TSKRVW02'])==false)&&(assignment.status=='Assessed'))||(!(((isReadOnly(['TSKASM02'])==false)&&(assignment.status=='Assigned'))||((isReadOnly(['TSKRVW02'])==false)&&(assignment.status=='Assessed')))))" type="button"  class="btn btn-sm btn-secondary mr-2 mb-2" disabled>
                                                    <span *ngIf="((isReadOnly(['TSKASM02'])==false)&&(assignment.status=='Assigned'))">ประเมิน</span>
                                                    <span *ngIf="((isReadOnly(['TSKRVW02'])==false)&&(assignment.status=='Assessed'))">ตรวจสอบการประเมิน</span>
                                                    <span *ngIf="(!(((isReadOnly(['TSKASM02'])==false)&&(assignment.status=='Assigned'))||((isReadOnly(['TSKRVW02'])==false)&&(assignment.status=='Assessed'))))">รายละเอียดเพิ่มเติม</span>
                                                </button>
                                              </a>
                                            </li>
                                            <li data-original-title="" title="">
                                              <i *ngIf="(assignment.status !== 'Initial')&&(!(((isReadOnly(['TSKASM'])==false)&&(assignment.status=='Assigned'))||((isReadOnly(['TSKRVW'])==false)&&(assignment.status=='Assessed'))))" class="fa fa-eye" aria-hidden="true" href="#" [routerLink]="['/task',mode, assignment.id]"></i>
                                              <i *ngIf="(assignment.status === 'Initial')&&(!(((isReadOnly(['TSKASM02'])==false)&&(assignment.status=='Assigned'))||((isReadOnly(['TSKRVW02'])==false)&&(assignment.status=='Assessed'))))" class="fa fa-eye" aria-hidden="true" href="#" [routerLink]="['/task',mode, assignment.id]"></i>
                                            </li>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="tab-pane" id="tab-inside2" role="tabcard" aria-expanded="true">
                                    <app-artifact-detail [artifactId]="artifactId"></app-artifact-detail>
                                  </div>
                                  <div class="tab-pane law-view" id="tab-inside3" role="tabcard" aria-expanded="false">
                                    <app-artifact-assignment [artifactId]="artifactId"></app-artifact-assignment>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>