<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-list-alt"></i>{{statusText}}</strong>
    </span>
    <ol class="breadcrumb">
      <li *ngIf="taskAssignmentType ==='initial'" class="breadcrumb-item">
        <a>การจัดการกฎหมาย</a>
      </li>
      <li *ngIf="taskAssignmentType ==='followup' || taskAssignmentType ==='all'" class="breadcrumb-item">
        <a>การติดตาม</a>
      </li>
      <li class="breadcrumb-item active">{{statusText}}</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="inprogress" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-8">
                      <div class="dataTables_length" id="example1_length">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 table_search">
                      <!-- <div class="cat__top-bar__search">
                        <i class="icmn-search"></i>
                        <input placeholder="พิมพ์เพื่อค้นหา..." type="text"> 

                      </div> 
                      <button class="btn btn-sm  btn-success mr-2 mb-2" type="button">
                        <a>ค้นหา</a>
                      </button>
                      <button class="btn btn-sm  btn-success mr-2 mb-2" type="button" (click)="refresh()">
                        <a>Refresh</a>
                      </button> -->

                    </div>

                  </div>
                  <div class="row">
                    <div *ngIf="ArtifactSummaryEntities.length === 0" class="col-sm-12">
                      <p>ไม่มีกฎหมายสำหรับ{{statusText}}</p>
                    </div>
                    <div *ngIf="ArtifactSummaryEntities.length !== 0" class="col-sm-12" style="overflow-x:auto;">
                      <table class="table table-hover nowrap dataTable dtr-inline " id="example1" width="100%" role="grid"
                        aria-describedby="example1_info" style="width: 100%;" datatable [dtOptions]="dtOptions">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">#</th>
                            <th rowspan="1" colspan="1">เลขที่</th>
                            <th rowspan="1" colspan="1" width="8%">หมวดหมู่
                              <input type="text" class="form-control-filter" name="search-first-name" />
                            </th>
                            <th rowspan="1" colspan="1">เรื่อง
                              <input type="text" class="form-control-filter" name="search-first-name" />
                            </th>
                            <th rowspan="1" colspan="1">เกี่ยวข้องกับหน่วยงาน
                              <input type="text" class="form-control-filter" name="search-first-name" />
                            </th>
                            <th rowspan="1" colspan="1">ประกาศณวันที่</th>
                            <th rowspan="1" colspan="1">สถานะกฎหมาย
                              <input type="text" class="form-control-filter" name="search-first-name" />
                            </th>
                            <th *ngIf="status == 'inprogress'">สถานะการดำเนินการ</th>
                            <th rowspan="1" colspan="1" *ngIf="taskAssignmentType ==='followup' || taskAssignmentType ==='all'">การติดตามครั้งต่อไป</th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">#</th>
                            <th rowspan="1" colspan="1">เลขที่</th>
                            <th rowspan="1" colspan="1">หมวดหมู่</th>
                            <th rowspan="1" colspan="1">เรื่อง</th>
                            <th rowspan="1" colspan="1">เกี่ยวข้องกับหน่วยงาน</th>
                            <th rowspan="1" colspan="1">ประกาศณวันที่</th>
                            <th rowspan="1" colspan="1">สถานะกฎหมาย</th>
                            <th *ngIf="status == 'inprogress'">สถานะการดำเนินการ</th>
                            <th rowspan="1" colspan="1" *ngIf="taskAssignmentType ==='followup' || taskAssignmentType ==='all'">การติดตามครั้งต่อไป</th>
                            <th rowspan="1" colspan="1"></th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr *ngFor="let ArtifactSummary of ArtifactSummaryEntities; let i = index" role="row" class="odd">
                            <td class="sorting_1" tabindex="0">{{ i+1 }}</td>
                            <td style="white-space: nowrap;">{{ ArtifactSummary.code }}</td>
                            <td>{{ ArtifactSummary.category }}</td>
                            <td>{{ ArtifactSummary.title }}</td>
                            <td *ngIf="ArtifactSummary.departments.length != 0">
                              <span *ngFor="let department of ArtifactSummary.departments" class="tags badge summary-tag"
                                [ngClass]="department.status">{{ department.aliasName }}</span>
                            </td>
                            <td *ngIf="ArtifactSummary.departments.length == 0">
                              <span class="tags badge summary-tag">ไม่เกี่ยวข้องกับโรงไฟฟ้าแม่เมาะ</span>
                            </td>
                            <td>{{ ArtifactSummary.publishedDate }}</td>
                            <td>
                              <span class="tags badge summary-tag" [ngClass]="ArtifactSummary.status">{{
                                ArtifactSummary.statusText }}</span>
                            </td>
                            <td *ngIf="status == 'inprogress'">
                              <span class="tags badge summary-tag" [ngClass]="ArtifactSummary.taskAssignmentStatus"
                                *ngIf="ArtifactSummary.taskAssignmentStatus == 'Proposed'">รอ MR อนุมัติ</span>
                              <span class="tags badge summary-tag" [ngClass]="ArtifactSummary.taskAssignmentStatus"
                                *ngIf="ArtifactSummary.taskAssignmentStatus == 'Assessed'">รอการตรวจสอบ</span>
                              <span class="tags badge summary-tag" [ngClass]="ArtifactSummary.taskAssignmentStatus"
                                *ngIf="ArtifactSummary.taskAssignmentStatus == 'Ticketed'">ร้องเรียน</span>
                              <span class="tags badge summary-tag" [ngClass]="ArtifactSummary.taskAssignmentStatus"
                                *ngIf="ArtifactSummary.taskAssignmentStatus == 'Assigned'">รอการประเมิน</span>
                              <span class="tags badge summary-tag" [ngClass]="ArtifactSummary.taskAssignmentStatus"
                                *ngIf="ArtifactSummary.taskAssignmentStatus == 'Approved'">รอการติดตามรอบถัดไป</span>
                              <span class="tags badge summary-tag" [ngClass]="ArtifactSummary.taskAssignmentStatus"
                                *ngIf="ArtifactSummary.taskAssignmentStatus == 'Confirmed'">รอการนำส่งอนุมัติ</span>
                            </td>
                            <td *ngIf="taskAssignmentType ==='followup' || taskAssignmentType ==='all'">
                              {{ ArtifactSummary.dueDate }}
                            </td>
                            <td>
                              <li data-original-title="" title="">
                                <a *ngIf="(status != 'canceled')" href="#" [routerLink]="['/artifact/view','active',ArtifactSummary.id]">
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a *ngIf="(status == 'canceled')" href="#" [routerLink]="['/artifact/view','canceled',ArtifactSummary.id]">
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                              </li>
                              <li *ngIf="(role('ATFMNG')&&(ArtifactSummary.status !== 'Approved')&&(isReadOnly(['TSKASM02','TSKRVW02','TSKRVW03','TSKAPP','TSKASM','TSKRVW'])==false)&&(status !== 'canceled'))"
                                data-original-title="" title="" class="bin">
                                <a href="#" [routerLink]="['/artifact/edit', ArtifactSummary.id]">
                                  <i class="fa fa-pencil"></i>
                                </a>
                              </li>
                              <li *ngIf="(status.toLowerCase()=='draft')&&(isReadOnly(['ATFMNG03'])==false)"
                                data-original-title="" title="" class="bin">
                                <!-- <li *ngIf="(isReadOnly(['TSKASM02','TSKRVW02','TSKRVW03','TSKAPP','TSKASM','TSKRVW'])==false)" data-original-title="" title="" class="bin"> -->
                                <i class="fa fa-trash " (click)="dialog.show()"></i>
                                <swal #dialog title="ยืนยัน" text="ต้องการลบกฎหมายฉบับร่างใช่หรือไม่?" type="warning"
                                  [options]="{ confirmButtonText: 'ยืนยัน', cancelButtonText: 'ไม่ต้องการ', showCancelButton: true }"
                                  (confirm)="removeArtifact(ArtifactSummary.id)" (cancel)="dialog.hide()"></swal>
                              </li>
                            </td>
                            <td>
                              <div *ngIf="status === 'inprogress'" class="dropdown d-inline-block mb-2 mr-2">
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown"
                                  aria-expanded="false">
                                  เลือกดำเนินการ
                                </button>
                                <ul *ngIf="taskAssignmentType === 'initial' && ArtifactSummary.status != 'Approved'"
                                  class="dropdown-menu" aria-labelledby="" role="menu">
                                  <!-- <a class="dropdown-item" id="change-data" href="#" [routerLink]="['/artifact/edit', ArtifactSummary.id]">แก้ไขข้อมูล</a> -->
                                  <a *ngIf="(role('TSKASM02'))&&((ArtifactSummary.status=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Assigned')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Ticketed'))"
                                    class="dropdown-item" id="artifact-assesment" href="#" [routerLink]="['/artifact/task','initial',ArtifactSummary.id]">ยืนยันตรวจสอบความเกี่ยวข้อง</a>
                                  <a *ngIf="(role('TSKRVW02'))&&((ArtifactSummary.status=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Assigned')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Ticketed'))"
                                    class="dropdown-item" id="propose-artifact-assesment" href="#" [routerLink]="['/task/summary','initial',ArtifactSummary.id]">ตรวจสอบและนำส่งความเกี่ยวข้อง</a>
                                  <a *ngIf="(role('TSKAPP'))&&((ArtifactSummary.status=='Confirmed')||(ArtifactSummary.status=='Proposed')||(ArtifactSummary.status=='Assigned')||(ArtifactSummary.status=='Assessed'))"
                                    class="dropdown-item" id="approve-artifact-assesment" href="#" [routerLink]="['/task/approve','initial',ArtifactSummary.id]">อนุมัติความเกี่ยวข้อง</a>
                                </ul>
                                <ul *ngIf="taskAssignmentType === 'initial' && ArtifactSummary.status == 'Approved'"
                                  class="dropdown-menu" aria-labelledby="" role="menu">
                                  <a *ngIf="(role('TSKASM'))&&(ArtifactSummary.status=='Approved')&&((ArtifactSummary.taskAssignmentStatus=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Assigned')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Ticketed'))"
                                    class="dropdown-item" id="artifact-assesment" href="#" [routerLink]="['/artifact/task','initial',ArtifactSummary.id]">ยืนยันตรวจสอบความเกี่ยวข้อง</a>
                                  <a *ngIf="(role('TSKRVW'))&&(ArtifactSummary.status=='Approved')&&((ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Assigned')||(ArtifactSummary.taskAssignmentStatus=='Ticketed'))"
                                    class="dropdown-item" id="propose-artifact-assesment" href="#" [routerLink]="['/task/summary','initial',ArtifactSummary.id]">ตรวจสอบและนำส่งความเกี่ยวข้อง</a>
                                  <a *ngIf="(role('TSKAPP'))&&(ArtifactSummary.status=='Approved')&&(ArtifactSummary.taskAssignmentStatus=='Proposed')"
                                    class="dropdown-item" id="approve-artifact-assesment" href="#" [routerLink]="['/task/approve','initial',ArtifactSummary.id]">อนุมัติความเกี่ยวข้อง</a>
                                </ul>
                                <ul *ngIf="taskAssignmentType !== 'initial'" class="dropdown-menu" aria-labelledby=""
                                  role="menu">
                                  <!-- <a class="dropdown-item" id="change-data" href="#" [routerLink]="['/artifact/edit', ArtifactSummary.id]">แก้ไขข้อมูล</a> -->
                                  <a *ngIf="(role('TSKASM'))&&(ArtifactSummary.status=='Approved')&&((ArtifactSummary.taskAssignmentStatus=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Assigned')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Ticketed'))"
                                    class="dropdown-item" id="artifact-assesment" href="#" [routerLink]="['/artifact/task','followup',ArtifactSummary.id]">ยืนยันตรวจสอบความสอดคล้อง</a>
                                  <a *ngIf="(role('TSKRVW'))&&(ArtifactSummary.status=='Approved')&&((ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Assigned')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Ticketed'))"
                                    class="dropdown-item" id="propose-artifact-assesment" href="#" [routerLink]="['/task/summary','followup',ArtifactSummary.id]">ตรวจสอบและนำส่งผลความสอดคล้อง</a>
                                  <a *ngIf="(role('TSKAPP'))&&(ArtifactSummary.status=='Approved')&&((ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Assigned')||(ArtifactSummary.taskAssignmentStatus=='Assessed'))"
                                    class="dropdown-item" id="approve-artifact-assesment" href="#" [routerLink]="['/task/approve','followup',ArtifactSummary.id]">อนุมัติและรับทราบความสอดคล้อง</a>

                                  <!-- <a *ngIf="(role('TSKASM'))&&(ArtifactSummary.status=='Approved')&&((ArtifactSummary.taskAssignmentStatus=='Approved')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Assigned'))" class="dropdown-item" id="artifact-assesment" href="#" [routerLink]="['/artifact/task','followup',ArtifactSummary.id]">ยืนยันตรวจสอบความสอดคล้อง</a>
                                  <a *ngIf="(role('TSKRVW'))&&(ArtifactSummary.status=='Approved')&&((ArtifactSummary.taskAssignmentStatus=='Approved')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Assigned'))" class="dropdown-item" id="propose-artifact-assesment" href="#" [routerLink]="['/task/summary','followup',ArtifactSummary.id]">ตรวจสอบและนำส่งผลความสอดคล้อง</a>
                                  <a *ngIf="(role('TSKAPP'))&&(ArtifactSummary.status=='Approved')&&((ArtifactSummary.taskAssignmentStatus=='Approved')||(ArtifactSummary.taskAssignmentStatus=='Proposed')||(ArtifactSummary.taskAssignmentStatus=='Confirmed')||(ArtifactSummary.taskAssignmentStatus=='Assessed')||(ArtifactSummary.taskAssignmentStatus=='Assigned'))" class="dropdown-item" id="approve-artifact-assesment" href="#" [routerLink]="['/task/approve','followup',ArtifactSummary.id]">อนุมัติและรับทราบความสอดคล้อง</a> -->

                                </ul>
                              </div>
                              <div *ngIf="status === 'created'">
                                <a href="#" [routerLink]="['/artifact/assign', ArtifactSummary.id]">
                                  <button *ngIf="role('TSKRVW')" type="button" class="btn btn-sm btn-secondary mr-2 mb-2">ทวนสอบกฎหมาย</button>
                                  <button *ngIf="!role('TSKRVW')" type="button" class="btn btn-sm btn-secondary mr-2 mb-2"
                                    disabled>ทวนสอบกฎหมาย</button>
                                </a>
                              </div>
                              <div *ngIf="(taskAssignmentType.toLowerCase() === 'followup')&&(status === 'approved')">
                                <a href="#" [routerLink]="['/artifact/view','active',ArtifactSummary.id]">
                                  <button *ngIf="(isReadOnly(['ATFMNG03'])==false)" type="button" class="btn btn-sm btn-secondary mr-2 mb-2">ยกเลิกกฎหมาย</button>
                                </a>
                              </div>
                              <div *ngIf="status === 'draft'">
                                <a href="#" [routerLink]="['/artifact/edit', ArtifactSummary.id]">
                                  <button *ngIf="role('ATFMNG')" type="button" class="btn btn-sm btn-secondary mr-2 mb-2">แก้ไขกฎหมาย</button>
                                  <button *ngIf="!role('ATFMNG')" type="button" class="btn btn-sm btn-secondary mr-2 mb-2"
                                    disabled>แก้ไขกฎหมาย</button>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- <nav class="div-pagination">
                        <ul class="pagination">
                          <li class="page-item">
                            <a aria-label="Previous" class="page-link" href="javascript: void(0);">
                              <span aria-hidden="true">
                                <i class="fa fa-arrow-left"></i>
                              </span>
                              <span class="sr-only">ก่อนหน้า</span>
                            </a>
                          </li>
                          <li class="page-item">
                            <a class="page-link disabled" href="javascript: void(0);">1</a>
                          </li>

                          <li class="page-item">
                            <a aria-label="Next" class="page-link" href="javascript: void(0);">
                              <span aria-hidden="true">
                                <i class="fa fa-arrow-right"></i>
                              </span>
                              <span class="sr-only">ถัดไป</span>
                            </a>
                          </li>
                        </ul>
                      </nav> -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</section>