<nav class="cat__menu-left">
  <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
    <div class="cat__menu-left__pin-button">
      <div>
      </div>
    </div>
  </div>
  <div class="cat__menu-left__logo egat_logo">
    <a>
      <img src="assets/modules/core/common/images/egat.png" />
    </a>
  </div>
  <div class="cat__menu-left__inner">
    <ul class="cat__menu-left__list cat__menu-left__list--root">

      <li class="cat__menu-left__item " [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="#" [routerLink]="['/home']">
          <span class="cat__menu-left__icon icmn-home3 "></span> หน้าหลัก
        </a>
      </li>
      <li *ngIf="role('USRMNG')||role('ACLMNG')" class="cat__menu-left__item cat__menu-left__submenu cat__menu-left--colorful--default"
        [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="javascript: void(0);">
          <span class="cat__menu-left__icon icmn-users"></span>
          ผู้ใช้
        </a>
        <ul class="cat__menu-left__list" style="display: none;">
          <li *ngIf="role('USRMNG')" class="cat__menu-left__item " [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/user/group']">
              <span class="cat__menu-left__icon"></span>
              กลุ่มผู้ใช้
            </a>
          </li>
          <li *ngIf="role('USRMNG')" class="cat__menu-left__item " [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/user/user-index']">
              <span class="cat__menu-left__icon"></span>
              จัดการผู้ใช้
            </a>
          </li>
          <li *ngIf="role('ACLMNG')" class="cat__menu-left__item " [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/user/user-permissions']">
              <span class="cat__menu-left__icon"></span>
              จัดการสิทธิ์
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="role('METDAT')||role('DEPMNG')||role('METDAT02')||role('DOCMNG')" class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="javascript: void(0);">
          <span class="cat__menu-left__icon icmn-cog "></span> ข้อมูลทั่วไป
        </a>
        <ul class="cat__menu-left__list" style="display: none;">
          <li *ngIf="role('DEPMNG')" class="cat__menu-left__item " [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/generalinfo/department-index']">
              <span class="cat__menu-left__icon"></span>
              หน่วยงาน
            </a>
          </li>
          <li *ngIf="role('METDAT')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/generalinfo/classification-index']">
              <span class="cat__menu-left__icon"></span>
              หมวดหมู่ของกฎหมาย
            </a>
          </li>
          <li *ngIf="role('METDAT02')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/generalinfo/lawclass-index']">
              <span class="cat__menu-left__icon"></span>
              ประเภทของกฎหมาย
            </a>
          </li>
          <li *ngIf="role('DOCMNG')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/license/type/index']">
              <span class="cat__menu-left__icon"></span>
              ใบอนุญาตที่กฎหมายกำหนด
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="role('DOCMNG')" class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="javascript: void(0);">
          <span class="cat__menu-left__icon icmn-file-text2 "></span>
          เอกสาร
        </a>
        <ul class="cat__menu-left__list" style="display: none;">
          <li *ngIf="role('DOCMNG')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/documentation/manage-document']">
              <span class="cat__menu-left__icon"></span>
              เอกสารแนบ
            </a>
          </li>
          <li *ngIf="role('DOCMNG')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/license/view']">
              <span class="cat__menu-left__icon"></span>
              ใบอนุญาต
            </a>
          </li>
        </ul>
      </li>

      <!-- <li class="cat__menu-left__item " [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="#" [routerLink]="['/license/index']">

                    <span class="cat__menu-left__icon fa fa-id-card-o "></span>
                    ใบอนุญาตที่กฎหมายกำหนด
                </a>

      </li> -->
      <li *ngIf="role('ATFVIW03')||role('ATFMNG06')||role('ATFMNG03')||role('ATFMNG02')||role('TSKASM02')||role('TSKRVW02')||role('ATFMNG05')||role('TSKRVW03')||role('TSKAPP')" class="cat__menu-left__item cat__menu-left__submenu " [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="javascript: void(0);">
          <span class="cat__menu-left__icon icmn-download"></span>
          การจัดการกฎหมาย
        </a>
        <ul class="cat__menu-left__list" style="display: none;">
          <li *ngIf="role('ATFVIW03')" class="cat__menu-left__item " [routerLinkActive]="['cat__menu-left__item--active']">
            <!-- <a href="#" [routerLink]="['/artifact/list/all/initial']"> -->
              <a href="#" [routerLink]="['/artifact/list/all/approved']">
              <span class="cat__menu-left__icon"></span>
              ทะเบียนแสดงกฎหมายภายในโรงไฟฟ้า
            </a>
          </li>
          <li *ngIf="role('ATFMNG06')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/artifact/list/initial/created']">
              <span class="cat__menu-left__icon"></span>
              กฎหมายที่รอทวนสอบ
            </a>
          </li>
          <li *ngIf="role('ATFMNG03')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/artifact/list/initial/draft']">
              <span class="cat__menu-left__icon"></span>
              กฎหมายฉบับร่าง
            </a>
          </li>
          <li *ngIf="role('ATFMNG02')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/artifact/list/initial/canceled']">
              <span class="cat__menu-left__icon"></span>
              กฎหมายที่ยกเลิก
            </a>
          </li>
          <li *ngIf="role('TSKASM02')||role('TSKRVW02')||role('ATFMNG05')||role('TSKRVW03')||role('TSKAPP')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/artifact/list/initial/inprogress']">
              <span class="cat__menu-left__icon"></span>
              กฎหมายที่อยู่ในระหว่างดำเนินการ
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="role('ATFVIW02')||role('TSKASM')||role('TSKRVW')||role('ATFVIW')||role('TSKAPP')" class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="javascript: void(0);">
          <span class="cat__menu-left__icon icmn-spinner11 "></span>
          <!-- cldss for spin : cat__core__spin-delayed--pseudo-selector -->
          การติดตาม
        </a>
        <ul class="cat__menu-left__list" style="display: none;">
          <!-- <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/retention/law-index']">
                            <span class="cat__menu-left__icon"></span>
                            ทะเบียนแสดงกฎหมายภายในโรงไฟฟ้า
                        </a>
          </li> -->
          <!-- <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/retention/plan']">
                            <span class="cat__menu-left__icon"></span>
                            แผนการติดตาม
                        </a>
          </li> -->
          
          <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/artifact/list/followup/initial']">
              <span class="cat__menu-left__icon"></span>
              การติดตามรอบต่อไป
            </a>
          </li>

          <li *ngIf="role('TSKASM')||role('TSKRVW')||role('ATFVIW')" class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/artifact/list/followup/inprogress']">
              <span class="cat__menu-left__icon"></span>
              การติดตามที่อยู่ในระหว่างดำเนินการ
            </a>
          </li>

          <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/artifact/list/followup/overdue']">
              <span class="cat__menu-left__icon"></span>
              การติดตามที่เกินกำหนด
            </a>
          </li>
          <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
            <a href="#" [routerLink]="['/artifact/list/followup/approved']">
              <span class="cat__menu-left__icon"></span>
              ผลการติดตาม
            </a>
          </li>
        </ul>
      </li>

      <li class="cat__menu-left__item cat__menu-left__item_notification" [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="#" [routerLink]="['/notification']">

          <span class="cat__menu-left__icon fa fa-bell "></span>
          การแจ้งเตือน
        </a>

      </li>

      <li *ngIf="role('TCKMNG')" class="cat__menu-left__item " [routerLinkActive]="['cat__menu-left__item--active']">
        <a href="#" [routerLink]="['/ticket/index']">
          <span class="cat__menu-left__icon fa fa-exclamation-circle "></span>
          การร้องเรียน
        </a>
      </li>
      
    </ul>
  </div>
</nav>