// import mixins from "core" module */
@import '~assets/modules/core/common/css/mixins';

//////////////////////////////////////////////////////////////////////////////////////////
/* MENU LEFT */

.cat {

    // root styles
    &__menu-left {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        bottom: 0;
        width: rem(250);
        height: 100%;
        background: $main-color;
        transform: translate3d(rem(-250), 0, 0);
        transition: transform .2s ease-in-out;

        @at-root {
            // box shadow option
            .cat__config--shadow {
                @media (min-width: $sm-min-width){
                    .cat__menu-left {
                        box-shadow: 0 0 200px -30px rgba($black-lighten-more,.4);
                    }
                }
            }
        }

        // next styles affects on "top-bar" module
        // left padding
        @at-root {
            .cat__top-bar {
                padding-left: rem(50);
            }
        }

        // > 768px (breakpoint) styles
        @media (min-width: $sm-min-width) {

            // hide menu
            transform: translate3d(rem(-200), 0, 0);

            // show menu on hover
            &:hover {
                /* transform: translate3d(0, 0, 0); */
            }

            // show menu on body class
            body.cat__menu-left--visible & {
                transform: translate3d(0, 0, 0);
            }

            // next styles affects on "styles-core" module
            // left margin when menu in default state
            @at-root {
                .cat__content {
                    margin-left: rem(50);
                }
            }

            // next styles affects on "styles-core" module
            // left margin when menu visible
            @at-root {
                body.cat__menu-left--visible .cat__content {
                    margin-left: rem(250);
                }
            }
        }

        // < 768px (breakpoint) styles
        @media (max-width: $sm-max-width) {

            // show menu button when menu closed
            .cat__menu-left__lock {
                right: rem(-50);
                transition: right .2s ease-in-out;
            }

            // show menu and slide back menu button
            body.cat__menu-left--visible--mobile & {
                transform: translate3d(0, 0, 0);

                .cat__menu-left__lock {
                    right: rem(0);
                }
            }
        }


        // logo styles
        &__logo {
            width: rem(250);
            height: rem(75);
            display: inline-block;
            background: white;
            padding: rem(14) rem(18);
            text-align: center;
            a {
                line-height: rem(33);
            }
            img {
              width: 100px;
              height: auto;
              max-height: inherit;
              max-width: inherit;
              margin-top:-6px;
            }
        }


        // inner block, fix for jScrollPane
        &__inner {
            position: absolute;
            top: rem(85);
            bottom: 0;
            width: 100% !important;
            overflow: hidden !important;
            @media (max-width: $sm-max-width) {
                overflow-y: auto;
            }
        }


        // submenu styles
        &__submenu {

            // submenu ul list
            > .cat__menu-left__list {
                display: none;
                background: rgb(114, 167, 181);
            }

            // submenu menu item modifier (adds arrow marker)
            &.cat__menu-left__item {
                > a {
                    &:after {
                        display: block;
                        content: '';
                        border-width: rem(5) rem(5) rem(5) 0;
                        border-color: transparent $gray-darken transparent transparent;
                        border-style: solid;
                        position: absolute;
                        top: rem(17);
                        right: rem(54);
                        transition: transform .1s ease-in-out;
                    }
                }
            }

            // toggled submenu
            &--toggled {

                // menu item
                &.cat__menu-left__item {
                    background: $main-color;
                    color: $white;

                    > a {
                        // arrow marker styles
                        &:after {
                            transform: rotate(-90deg);
                        }
                    }

                    > .cat__menu-left__icon {
                        color: $white;
                    }
                }
            }
        }


        // ul list
        &__list {
            list-style: none;
            padding-left: 0;
            &--root {
                margin: 0rem 0;
            }
        }

        // menu item divider
        &__divider {
            background: $black-lighten-more;
            height: 1px;
            margin: rem(10) rem(20);
        }

        // menu item
        &__item {
            > a {
                position: relative;
                min-height: rem(45);
                padding: rem(12) rem(50) rem(12) rem(20);
                display: block;
                color: white;
                &:before{
                  background: $gray-darken !important;
                }

                // inner badge fitting
                > .badge {
                    margin-top: rem(3);
                }
            }

            // menu item states
            &--active, &:active, &:focus {
                &:before{
                  background-color: none!important;
                }
                > a {
                    &:after{
                      border-color: transparent white transparent transparent !important;
                    }
                    background: none;
                    color: $blue-menu;
                    > .cat__menu-left__icon {
                        color: $blue-menu;
                    }
                    &:before{
                      background: none !important;
                    }
                }
            }
            &:hover{
              > a {
                background: none;
                color: $blue-menu;
                span{
                  color: $blue-menu;
                }
              }
            }
            &--disabled {
                > a {
                    cursor: default;
                    background: transparent !important;
                    color: $gray-darken!important;
                    opacity: .4;
                    > .cat__menu-left__icon {
                        color: $text !important;
                    }
                }
            }
        }

        // menu item icon
        &__icon {
            position: absolute;
            width: rem(20);
            text-align: center;
            top: rem(15);
            right: rem(16);
            color: white;
            font-weight: bold;
            line-height: 1.1;
            text-transform: uppercase;
        }

        // menu toggle button container for animated button
        &__lock {
            position: absolute;
            top: 0;
            right: 0;
            width: rem(50);
            height: rem(65);
            cursor: pointer;
            background: $main-color-fade1;
            padding: rem(23) rem(2) 0 0;
            text-align: center;
            user-select: none;
        }


        // colorful menu

        &__list--root {
            > .cat__menu-left__item {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    width: 2px;
                    height: 100%;
                    background: transparent;
                }

                &.cat__menu-left--colorful--primary {
                    &:hover, &.cat__menu-left__submenu--toggled, &.cat__menu-left__item--active  {
                        &:before {
                            background-color: $primary;
                        }
                    }
                }
                &.cat__menu-left--colorful--secondary {
                    &:hover, &.cat__menu-left__submenu--toggled, &.cat__menu-left__item--active  {
                        &:before {
                            background-color: $secondary;
                        }
                    }
                }
                &.cat__menu-left--colorful--default {
                    &:hover, &.cat__menu-left__submenu--toggled, &.cat__menu-left__item--active  {
                        &:before {
                            background-color: $default;
                        }
                    }
                }
                &.cat__menu-left--colorful--info {
                    &:hover, &.cat__menu-left__submenu--toggled, &.cat__menu-left__item--active  {
                        &:before {
                            background-color: $info;
                        }
                    }
                }
                &.cat__menu-left--colorful--success {
                    &:hover, &.cat__menu-left__submenu--toggled, &.cat__menu-left__item--active  {
                        &:before {
                            background-color: $success;
                        }
                    }
                }
                &.cat__menu-left--colorful--warning {
                    &:hover, &.cat__menu-left__submenu--toggled, &.cat__menu-left__item--active  {
                        &:before {
                            background-color: $warning;
                        }
                    }
                }
                &.cat__menu-left--colorful--danger {
                    &:hover, &.cat__menu-left__submenu--toggled, &.cat__menu-left__item--active  {
                        &:before {
                            background-color: $danger;
                        }
                    }
                }
                &.cat__menu-left--colorful--yellow {
                    &:hover, &.cat__menu-left__submenu--toggled, &.cat__menu-left__item--active  {
                        &:before {
                            background-color: $yellow;
                        }
                    }
                }
            }
        }
    }
}



/////////////////////////////////////////////////////////////////////////////////////////
// backdrop block for menu mobile view

@media (max-width: $sm-max-width) {

    // backdrop block styles
    .cat__menu-left__backdrop {
        position: fixed;
        z-index: 999;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $black;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out;

        // visible styles
        body.cat__menu-left--visible--mobile & {
            opacity: .4;
            visibility: visible;
            transition: opacity 0.2s ease-in-out;
        }
    }

    // preventing body scroll
    body.cat__menu-left--visible--mobile {
        overflow: hidden;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////
/*  ANIMATED BUTTON (MENU TOGGLE) */

.cat__menu-left__pin-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: rem(19);
    height: rem(20);
    font-size: 0;
    text-indent: -9999px;
    outline: none;
    div {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        background: $text-darken-more;
        transition: transform .2s;
        &:before, &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background: $text-darken-more;
            content: "";
        }
        &:before {
            top: rem(-6);
            transform-origin: top right;
            transition: transform .2s;
        }
        &:after {
            bottom: rem(-6);
            transform-origin: bottom right;
            transition: transform .2s, width .2s;
        }
    }
    &:hover {
        div {
            background: $text;
            &:before, &:after {
                background-color: $text;
            }
        }
    }
    @media (max-width: $sm-max-width) {
        body.cat__menu-left--visible--mobile & {
            div {
                transform: rotate(-180deg);
                background: transparent;
                &:before {
                    top: 0;
                    transform: translateX(rem(-2)) translateY(rem(6)) rotate(45deg);
                }
                &:after {
                    bottom: 0;
                    transform: translateX(rem(-2)) translateY(rem(-8)) rotate(-45deg);
                }
            }
        }
    }
    @media (min-width: $sm-min-width) {
        body.cat__menu-left--visible & {
            div {
                transform: rotate(-180deg);
                background: transparent;
                &:before {
                    top: 0;
                    transform: translateX(rem(-2)) translateY(rem(7)) rotate(45deg);
                }
                &:after {
                    bottom: 0;
                    transform: translateX(rem(-2)) translateY(rem(-7)) rotate(-45deg);
                }
            }
        }
    }
}


/////////////////////////////////////////////////////////////////////////////////////////
/*  JSCROLLPNAE CUSTOM STYLES */

.cat {
    &__menu-left {
        .jspScrollable {
            outline: none;
            &:hover {
                .jspVerticalBar {
                    opacity: .7;
                    @include transition-very-slow();
                }
                .jspHorizontalBar {
                    opacity: .7;
                    @include transition-very-slow();
                }
            }
            .jspTrack {
                left: -2px !important;
            }
            .jspVerticalBar {
                background: transparent;
                width: 3px;
                opacity: 0;
                @include transition-slow();
            }
            .jspHorizontalBar {
                background: transparent;
                height: 4px;
                opacity: 0;
                bottom: 1px;
                @include transition-slow();
                .jspDrag:after {
                    background: $text-darken-more;
                    top: 0;
                    bottom: 0;
                }
            }
            .jspPane, .jspContainer {
                width: 100% !important;
            }
            .jspCap {
                display: none;
            }
            .jspTrack {
                background: transparent;
                position: relative;
                width: 2px;
                left: -5px;
            }
            .jspDrag {
                background: transparent;
                position: relative;
                top: 0;
                left: -1px;
                width: 5px;
                cursor: pointer;
                border-radius: 0;
                &:after {
                    display: block;
                    content: '';
                    background: $text-darken-more;
                    position: absolute;
                    width: 100%;
                    top: 4px;
                    bottom: 4px;
                    border-radius: 20px;
                }
            }
        }
    }
}


.cat__menu-left__list{
  .cat__menu-left__submenu{
    .cat__menu-left__item--active{
      a{
        background-color: $blue-menu;

      }
    }
    .cat__menu-left__item{
      a{
        .cat__menu-left__icon{
          font-size: 11px;
          padding-top: 3px;
        }
      }
    }

  }

}




/* .cat__menu-left[_ngcontent-c0]:hover{
  -webkit-transform: translate3d(-14.29rem, 0, 0) !important;
  transform: translate3d(-14.29rem, 0, 0) !important;

} */

.cat__menu-left--visible{
  /*.cat__menu-left[_ngcontent-c0]{
     -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
      &:hover{
        -webkit-transform: translate3d(0, 0, 0) !important;
         transform: translate3d(0, 0, 0) !important;

      }

  }*/
}


.cat__menu-left__list[_ngcontent-c0]   .cat__menu-left__submenu[_ngcontent-c0]   .cat__menu-left__item--active[_ngcontent-c0]   a[_ngcontent-c0]{
  background: none;
}

.cat__menu-left__submenu.cat__menu-left__item--active > a[_ngcontent-c0]:after{
  border-color: transparent $blue-menu transparent transparent !important;
}
.cat__menu-left__submenu.cat__menu-left__item:hover > a[_ngcontent-c0]:after{
  border-color: transparent $blue-menu transparent transparent !important;
}

.cat__menu-left__list--root[_ngcontent-c0]    > .cat__menu-left__item[_ngcontent-c0]:before{
  display: none !important;
}


.cat__menu-left__submenu .cat__menu-left__list{
  height: 0;
  opacity: 0;
}
