<div class="modal-dialog" role="document" style="padding-left:10px;padding-right:10px;max-width: 980px;">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icmn icmn-file-text2"></i>
        <h5 class="modal-title" id="myModalLabel">อัพโหลดใบอนุญาต</h5>
        <button type="button" class="close" (click)="closeModal()"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body show_detail">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="license_name">ชื่อใบอนุญาต</label>
          <div class="col-md-9">
            
            <select name="categoryId" class="form-control select2 field_category" data-validation="[NOTEMPTY]" [(ngModel)]="selectedLicense.licenseTypeId">
                <option value="">เลือกชื่อใบอนุญาต</option>
                <option *ngFor="let licenseType of licensTypes" [selected]="licenseType.id == selectedLicense.licenseTypeId" [value]="licenseType.id">{{licenseType.name}}</option>
              </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="licensee">ชื่อผู้รับอนุญาต</label>
          <div class="col-md-9">
            <input id="licensee" name="" type="text" class="form-control" data-validation="[NOTEMPTY]" [(ngModel)]="selectedLicense.holderName">
          </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="licensee">เลขที่ใบอนุญาต</label>
            <div class="col-md-9">
              <input id="licensee" name="" type="text" class="form-control" data-validation="[NOTEMPTY]" [(ngModel)]="selectedLicense.licenseNumber">
            </div>
          </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="license_renewal_date">วันครบกำหนดต่อใบอนุญาต</label>
          <div class="col-md-9">
            <my-date-picker-th id="license_renewal_date" name="license_renewal_date" [options]="myDatePickerOptions" [placeholder]="placeholder" [(ngModel)]="dueDate"></my-date-picker-th>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="expired_date">วันหมดอายุ</label>
          <div class="col-md-9">
            <my-date-picker-th id="expired_date" name="expired_date" [options]="myDatePickerOptions" [placeholder]="placeholder" [(ngModel)]="expireDate"></my-date-picker-th>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="allow_date">วันที่อนุญาต</label>
          <div class="col-md-9">
            <my-date-picker-th id="allow_date" name="allow_date" [options]="myDatePickerOptions" [placeholder]="placeholder" [(ngModel)]="issueDate"></my-date-picker-th>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="l0">ต้องการเปิดเป็นสาธารณะ</label>
          <div class="col-md-9">
            <select name="isPublic" class="form-control select2 field_category" data-validation="[NOTEMPTY]" [(ngModel)]="isPublic">
              <option value="false">ต้องการอัพโหลดเอกสารนี้แบบ เอกสารส่วนตัว (Private)</option>
              <option value="true">ต้องการอัพโหลดเอกสารนี้แบบสาธารณะ สำหรับใช้ภายในโรงไฟฟ้า (Public)</option>
            </select>
          </div>
        </div>

        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label" for="license_type">ประเภทใบอนุญาต</label>
          <div class="col-md-9">
            <select id="license_type" name="option" class="form-control select2" data-validation="[NOTEMPTY]">
              <option value="">กรุณาเลือก</option>
              <option value="Organization">ใบอนุญาตโรงไฟฟ้า</option>
              <option value="Personal">ใบอนุญาตบุคคล</option>
              <option value="Report">แบบฟอร์มรายงาน</option>
              <option value="Miscellaneous">อื่นๆ</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="responsible_name">ชื่อผู้รับผิดชอบ</label>
          <div class="col-md-9">
            <input id="responsible_name" name="" type="text" class="form-control" data-validation="[NOTEMPTY]">
          </div>
        </div> -->

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="attachments">แนบไฟล์</label>
          <div class="col-md-9">
            <input id="attachments" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.png,.jpg" />
          </div>
        </div>


        <div class="sigle-form-button">
          <button type="submit" class="btn btn-primary width-150" (click)="onSubmit()">บันทึก</button>
          <button type="button" class="btn btn-default remove-error" (click)="closeModal()">ปิด</button>
        </div>


      </div>


    </div>
  </div>