<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-eye"></i>ดูรายละเอียดกฎหมาย</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>การจัดการกฎหมาย</a>
      </li>
      <li class="breadcrumb-item active">ดูรายละเอียดกฎหมาย</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="">

            <div class="tab-content nav-tabs-horizontal">
              <div class="tab-pane active" id="law-view" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">

                      </div>
                    </div>

                  </div>
                  <div class="row view-tab">
                    <div class="nav-tab-block">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item nav-item-1">
                          <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab" aria-expanded="true">
                            <i class="icmn-books"></i>
                            ข้อมูลทั่วไป
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            รายละเอียดกฎหมาย
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab1" role="tabcard" aria-expanded="true">
                          <app-artifact-detail [artifactId]="artifactId"></app-artifact-detail>
                        </div>
                        <div class="tab-pane law-view" id="tab2" role="tabcard" aria-expanded="false">
                          <app-artifact-assignment [artifactId]="artifactId"></app-artifact-assignment>
                        </div>
                        <!-- <div class="tab-pane" id="tab3" role="tabcard" aria-expanded="false">
                                                <div class="col-lg-12 " style="">




                                                    <div class="table-responsive mb-5 mt-5">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>หน่วยงาน</th>
                                                                    <th>ความเกี่ยวข้อง</th>
                                                                    <th>การปฎิบัติสอดคล้อง</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                              <tr>
                                                                <td>กดหด.พก</td>
                                                                <td>เกี่ยวข้อง</td>
                                                                <td>สอดคล้อง</td>
                                                              </tr>

                                                              <tr>
                                                                <td>ทมสก.ย</td>
                                                                <td>ไม่เกี่ยวข้อง</td>
                                                                <td>สอดคล้อง</td>
                                                              </tr>

                                                              <tr>
                                                                <td>บยล.พก</td>
                                                                <td>เกี่ยวข้อง</td>
                                                                <td>ไม่สอดคล้อง</td>
                                                              </tr>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                            </div> -->

                        <div class="button button mt-0 ml-5">

                          <!-- <button type="button" class="btn btn-secondary btn-back mr-2 mb-2" href="#" [routerLink]="['/laws/index']">ย้อนกลับ</button> -->
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</section>