<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-list-alt"></i>ใบอนุญาต</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>เอกสาร</a>
      </li>
      <li class="breadcrumb-item active">ใบอนุญาต</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row" id="licence" class="licence">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <button *ngIf="isReadOnly(['DOCMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button" (click)="uploadLicense()">
              เพิ่ม +</button>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_licence" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                      </div>
                    </div>
                  </div>
                  <div class="row view-tab">
                    <div class="nav-tab-block">

                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item nav-item-1">
                          <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab" aria-expanded="true">
                            <i class="icmn-warning"></i>
                            ใบอนุญาตที่ใกล้หมดอายุ
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab" aria-expanded="false">
                            <i class="icmn-blocked"></i>
                            ใบอนุญาตที่หมดอายุ
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab3" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            ใบอนุญาตทั้งหมด
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab4" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            ใบอนุญาตโรงไฟฟ้า
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab5" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            ใบอนุญาตบุคคล
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab6" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            ใบอนุญาตอุปกรณ์เครื่องมือเครื่องใช้
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab7" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            ใบอนุญาตเครื่องจักร
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab8" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            แบบฟอร์มรายงาน
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab9" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            อื่นๆ
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab1" role="tabcard" aria-expanded="true">
                          <app-license-list [status]="'Active'" [alert]="'Alert'" [licenseType]="'all'"></app-license-list>
                        </div>
                        <div class="tab-pane" id="tab2" role="tabcard" aria-expanded="true">
                            <app-license-list [status]="'Expired'" [alert]="'all'" [licenseType]="'all'"></app-license-list>
                        </div>
                        <div class="tab-pane" id="tab3" role="tabcard" aria-expanded="true">
                            <app-license-list [status]="'all'" [alert]="'all'" [licenseType]="'all'"></app-license-list>
                        </div>
                        <div class="tab-pane" id="tab4" role="tabcard" aria-expanded="true">
                            <app-license-list [status]="'all'" [alert]="'all'" [licenseType]="'Organization'"></app-license-list>
                        </div>
                        <div class="tab-pane" id="tab5" role="tabcard" aria-expanded="true">
                            <app-license-list [status]="'all'" [alert]="'all'" [licenseType]="'Personal'"></app-license-list>
                        </div>
                        <div class="tab-pane" id="tab6" role="tabcard" aria-expanded="true">
                          <app-license-list [status]="'all'" [alert]="'all'" [licenseType]="'Tool'"></app-license-list>
                        </div>
                        <div class="tab-pane" id="tab7" role="tabcard" aria-expanded="true">
                          <app-license-list [status]="'all'" [alert]="'all'" [licenseType]="'Machine'"></app-license-list>
                        </div>
                        <div class="tab-pane" id="tab8" role="tabcard" aria-expanded="true">
                            <app-license-list [status]="'all'" [alert]="'all'" [licenseType]="'Report'"></app-license-list>
                        </div>
                        <div class="tab-pane" id="tab9" role="tabcard" aria-expanded="true">
                            <app-license-list [status]="'all'" [alert]="'all'" [licenseType]="'Miscellaneous'"></app-license-list>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>