// Import mixins from "core" module
@import '~assets/modules/core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* ALERT */

.cat {
    &__alert {
      .body {
        color: black;
      }
    }
}
