<div *ngFor="let alert of alerts">
    <ng2-izitoast *ngIf="alert.status=='success'" [title]="alert.title" [message]="alert.message" [backgroundColor]="'#a9dcb6'"
        [position]="'topRight'">
    </ng2-izitoast>
    <ng2-izitoast *ngIf="alert.status=='info'" [title]="alert.title" [message]="alert.message" [backgroundColor]="'#8ce6ff'"
        [position]="'topRight'">
    </ng2-izitoast>
    <ng2-izitoast *ngIf="alert.status!='info' && alert.status!='success'" [title]="alert.title" [message]="alert.message" [backgroundColor]="'#e5aeb2'"
        [position]="'topRight'">
    </ng2-izitoast>
</div>