<div class="cat__content login">
  <!-- START: pages/login-alpha -->
  <div class="cat__pages__login cat__pages__login--fullscreen" style="background-image: url(../../assets/modules/core/common/images/egat_background.jpg)">
    <div class="cat__pages__login__header">
      <div class="row">
        <div class="col-lg-8">
          <div class="cat__pages__login__header__logo">
            <a href="javascript: history.back();">
                          <img src="../../assets/modules/core/common/images/egat.png" />
                      </a>
            <div class="cat__top-bar__left">
              <div class="text-top-1">ระบบจัดการและติดตามการปฎิบัติตามกฎหมาย</div>
              <div class="text-top-2">โรงไฟฟ้าแม่เมาะ</div>
              <div class="text-top-3">Maemoh Power Plant</div>
            </div>
            <!-- <a href="javascript: void(0);" class="btn btn-sm btn-outline ml-3 switch-to-fullscreen">Switch Fullscreen / Windowed</a>
                      <a href="javascript: void(0);" class="btn btn-sm btn-outline ml-3 random-bg-image" data-img="1">Randomize Background Image</a> -->
          </div>
        </div>
        <!-- <div class="col-lg-4">
                  <div class="cat__pages__login__header__menu">
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><a href="javascript: history.back();">&larr; Back</a></li>
                          <li class="list-inline-item active"><a href="javascript: void(0);">Login</a></li>
                          <li class="list-inline-item"><a href="javascript: void(0);">About</a></li>
                          <li class="list-inline-item"><a href="javascript: void(0);">Support</a></li>
                      </ul>
                  </div>
              </div> -->
      </div>
    </div>
    <div class="cat__pages__login__block">
      <div class="row">
        <div class="col-xl-12">
          <!-- <div class="cat__pages__login__block__promo text-white text-center">
                      <h1 class="mb-3">
                          <strong>WELCOME TO CLEAN UI ADMIN TEMPLATE</strong>
                      </h1>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                          the industry's standard dummy text ever since the 1500s.</p>
                  </div> -->
          <div class="cat__pages__login__block__inner">
            <div class="cat__pages__login__block__form">
              <h4 class="text-uppercase header">
                              <strong>  ใส่ข้อมูลเพื่อเข้าสู่ระบบ</strong>
                          </h4>
              <br />
              <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate id="form-validation">
                <div class="form-group">
                  <label class="form-label">ชื่อผู้ใช้</label>
                  <input type="text" class="form-control" name="username" formControlName="username" required data-validation-message="กรุณากรอกข้อมูลให้ถูกต้อง" />
                </div>
                <div class="form-group">
                  <label class="form-label">รหัสผ่าน</label>
                  <input type="password" class="form-control" name="password" formControlName="password" required data-validation-message="ต้องใส่เกิน 6 ตัวขึ้นไป" placeholder="รหัสผ่าน" />
                </div>
                <div class="form-group">
                  <!--
                  <a href="javascript: void(0);" class="pull-right cat__core__link--blue cat__core__link--underlined">ลืมรหัส?</a>
                  <div class="checkbox">
                    <label>
                                          <input type="checkbox" name="example6" checked>
                                          จำฉันไว้ครั้งต่อไป
                                      </label>
                  </div>
                -->
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary mr-3">เข้าสู่ระบบ</button>

                </div>
                <!-- <div class="form-group">
                                  <span>
                                      Use another service to Log In
                                  </span>
                                   <div class="mt-2">
                                      <a href="javascript: void(0);" class="btn btn-icon">
                                          <i class="icmn-facebook"></i>
                                      </a>
                                      <a href="javascript: void(0);" class="btn btn-icon">
                                          <i class="icmn-google"></i>
                                      </a>
                                      <a href="javascript: void(0);" class="btn btn-icon">
                                          <i class="icmn-windows"></i>
                                      </a>
                                      <a href="javascript: void(0);" class="btn btn-icon">
                                          <i class="icmn-twitter"></i>
                                      </a>
                                  </div>
                              </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END: pages/login-alpha -->
</div>
