<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-list-alt"></i>ประเมินการปฎิบัติ</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>{{mode=="initial"?'การจัดการกฎหมาย':'การติดตาม'}}</a>
      </li>
      <li class="breadcrumb-item">
        <a>{{mode=="initial"?'ยืนยันความเกี่ยวข้อง':'ยืนยันความสอดคล้อง'}}</a>
      </li>
      <li class="breadcrumb-item active">ประเมินการปฎิบัติ</li>
    </ol>
  </div>
  <div class="card-block custom-card-block custom-card-block-evaluate-practice">

    <div class="div_button mb-4 mt-4">
      <app-task-assessment *ngIf="((taskAssignment.status=='Assigned')&&(mode=='initial')&&(isReadOnly(['TSKASM02'])==false))" [taskAssignmentId]="taskAssignmentId" [departmentId]="departmentId" [userId]="userId" [artifactId]="taskAssignment.artifactId"></app-task-assessment>
      <app-task-assessment *ngIf="((taskAssignment.status=='Assigned')&&(mode!='initial')&&(isReadOnly(['TSKASM'])==false))" [taskAssignmentId]="taskAssignmentId" [departmentId]="departmentId" [userId]="userId" [artifactId]="taskAssignment.artifactId"></app-task-assessment>
      <div class="dropdown d-inline-block  mr-2" *ngIf="(taskAssignment.status=='Assigned')">
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          เอกสารแนบ
        </button>
        <ul class="dropdown-menu" aria-labelledby="" role="menu">
          <a class="dropdown-item" data-toggle="modal" data-target="#search-document" (click)="attachDocument()">ค้นหาเอกสาร</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#search-document" (click)="attachLicense()">ค้นหาใบอนุญาต</a>
          <a *ngIf="isReadOnly(['DOCMNG'])==false" class="dropdown-item" data-toggle="modal" data-target="#add-document" (click)="uploadDocument()">อัพโหลดเอกสารทั่วไป</a>
          <a *ngIf="isReadOnly(['DOCMNG'])==false" class="dropdown-item" data-toggle="modal" data-target="#add-license" (click)="uploadLicense()">อัพโหลดใบอนุญาต</a>

        </ul>
      </div>
      <app-task-review *ngIf="((taskAssignment.status=='Assessed')&&(taskAssessments.length != 0)&&((mode=='initial')&&(isReadOnly(['TSKRVW02'])==false)))" [taskAssignmentId]="taskAssignmentId" [taskAssessments]="taskAssessments"[department]="taskAssignment.department" [userId]="userId" [artifactId]="taskAssignment.artifactId"></app-task-review>
      <app-task-review *ngIf="((taskAssignment.status=='Assessed')&&(taskAssessments.length != 0)&&((mode!='initial')&&(isReadOnly(['TSKRVW'])==false)))" [taskAssignmentId]="taskAssignmentId" [taskAssessments]="taskAssessments"[department]="taskAssignment.department" [userId]="userId" [artifactId]="taskAssignment.artifactId"></app-task-review>
      <button class="btn btn-success mr-2 btn-sm " id="button-comment" type="button">ความคิดเห็น</button>
    </div>

    <section class="card">
      <div class="card-header custom-card-header">
        <span class="cat__core__title">
          {{ taskAssignment.title }}
        </span>
      </div>
      <div class="card-block">
        <h5 class="card-title">{{ taskAssignment.group }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">รายละเอียดของข้อปฏิบัติ</h6>
        <div class="card-text" [innerHTML]="taskAssignment.artifactNode.content | safeHtml"></div>
      </div>
    </section>

    <section class="card">
      <div class="card-header custom-card-header">
        <span class="cat__core__title">
          <strong>รายละเอียด</strong>

        </span>
      </div>


      <div class="card-block ">
        <div class="row custom-evaluate-row">
          <div class="col-md-2 custom-label" for="l0">
            <span>การติดตามเลขที่</span>
          </div>
          <div class="col-md-4">
            <span>{{ taskAssignment.id }}</span>
          </div>
          <div class="col-md-2 custom-label" for="l0">
            <span>กฎหมายเลขที่</span>
          </div>
          <div class="col-md-4">
            <span>{{ taskAssignment.artifact.code }}</span>
          </div>
        </div>
        <div class="row custom-evaluate-row">
          <div class="col-md-2 custom-label" for="l0">
            <span>ประเภท</span>
          </div>
          <div class="col-md-4">
            <span>{{ taskAssignment.artifact.type }}</span>
          </div>
          <div class="col-md-2 custom-label" for="l0">
            <span>หมวดหมู่</span>
          </div>
          <div class="col-md-4">
            <span>{{ taskAssignment.artifact.category }}</span>
          </div>
        </div>
        <div class="row custom-evaluate-row">

          <div class="col-md-2 custom-label" for="l0">
            <span>หน่วยงาน</span>
          </div>
          <div class="col-md-4">
            <span>{{taskAssignment.department}}</span>
          </div>
          <div class="col-md-2 custom-label" for="l0">
            <span>สถานะ</span>
          </div>
          <div class="col-md-4">
            <span class="badge badge-default pt-2 pb-2 pl-2 pr-2">{{ taskAssignment.statusText }}</span>
          </div>
        </div>
        <div class="row custom-evaluate-row">
          <div class="col-md-2 custom-label" for="l0">
            <span>วันที่ครบกำหนด</span>
          </div>
          <div class="col-md-4">
            <span>{{taskAssignment.dueDate}}</span>
          </div>
          <div class="col-md-2 custom-label" for="l0">
            <span>ความก้าวหน้า</span>
          </div>
          <div class="col-md-4">
            <progress class="progress progress-warning" [attr.value]="taskAssignment.progress" max="100">75%</progress>
          </div>
        </div>
        <div class="row custom-evaluate-row">

          <div class="col-md-2 custom-label" for="l0">
            <span>วันที่สร้าง</span>
          </div>
          <div class="col-md-4">
            <span>{{ taskAssignment.assignDate }}</span>
          </div>
          <div class="col-md-2 custom-label" for="l0">
            <span>แก้ไขล่าสุด</span>
          </div>
          <div class="col-md-4">
            <span>{{ taskAssignment.assignDate }}</span>
          </div>
        </div>
      </div>
    </section>

    <section class="card">
      <div class="card-header custom-card-header">
        <span class="cat__core__title">
          รายการผลการประเมินและการตรวจสอบ
        </span>
      </div>
      <div class="card-block" style="overflow-x:auto;">
        <div *ngIf="taskAssessments.length == 0">
          <p>ไม่มีรายการประเมิน!</p>
          <app-task-assessment  *ngIf="((taskAssignment.status=='Assigned')&&(mode=='initial')&&(isReadOnly(['TSKASM02'])==false))" [taskAssignmentId]="taskAssignmentId" [departmentId]="departmentId" [userId]="userId" [artifactId]="taskAssignment.artifactId"></app-task-assessment>
          <app-task-assessment  *ngIf="((taskAssignment.status=='Assigned')&&(mode!='initial')&&(isReadOnly(['TSKASM'])==false))" [taskAssignmentId]="taskAssignmentId" [departmentId]="departmentId" [userId]="userId" [artifactId]="taskAssignment.artifactId"></app-task-assessment>
        </div>
        <table class="table" *ngIf="taskAssessments.length > 0">
          <thead>
            <tr>
              <th>สรุปการประเมิน</th>
              <th>รายละเอียดการปฏิบัติ</th>
              <th>สรุปการตรวจสอบ</th>
              <th>บันทึกการตรวจสอบ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let assessment of taskAssessments">
              <td>
                <div class="assessment-date">{{ assessment.createDate }}</div>
                <span class="badge badge-success pt-2 pb-2 pl-2 pr-2" *ngIf="assessment.isApplicable && (assessment.status === 'Assessed' || assessment.status === 'Confirmed')">
                  {{ assessment.isApplicableText }}
                </span>
                <span class="badge badge-default pt-2 pb-2 pl-2 pr-2" *ngIf="assessment.isApplicable && (assessment.status === 'Rejected' || assessment.status === 'Closed')">
                  {{ assessment.isApplicableText }}
                </span>
                <span class="badge badge-success pt-2 pb-2 pl-2 pr-2" *ngIf="!assessment.isApplicable && (assessment.status === 'Assessed' || assessment.status === 'Confirmed')">
                  {{ assessment.isApplicableText }}
                </span>
                <span class="badge badge-default pt-2 pb-2 pl-2 pr-2" *ngIf="!assessment.isApplicable && (assessment.status === 'Rejected' || assessment.status === 'Closed')">
                  {{ assessment.isApplicableText }}
                </span>
                <span class="badge badge-success pt-2 pb-2 pl-2 pr-2" *ngIf="assessment.isCompliant  && (assessment.status === 'Assessed' || assessment.status === 'Confirmed')&&((assessment.isApplicable)||assessment.status=='Assigned')">
                  {{assessment.isCompliantText}}
                </span>
                <span class="badge badge-default pt-2 pb-2 pl-2 pr-2" *ngIf="assessment.isCompliant  && (assessment.status === 'Rejected' || assessment.status === 'Closed')&&((assessment.isApplicable)||assessment.status=='Assigned')">
                  {{assessment.isCompliantText}}
                </span>
                <span class="badge badge-danger pt-2 pb-2 pl-2 pr-2" *ngIf="!assessment.isCompliant  && (assessment.status === 'Assessed' || assessment.status === 'Confirmed')&&((assessment.isApplicable)||assessment.status=='Assigned')">
                  {{assessment.isCompliantText}}
                </span>
                <span class="badge badge-default pt-2 pb-2 pl-2 pr-2" *ngIf="!assessment.isCompliant  && (assessment.status === 'Rejected' || assessment.status === 'Closed')&&((assessment.isApplicable)||assessment.status=='Assigned')">
                  {{assessment.isCompliantText}}  
                </span>
                <div class="assessment-name">ผู้ประเมิน {{ assessment.creator }}</div>
              </td>
              <td>{{ assessment.detail }}</td>
              <td>
                <div class="assessment-date">{{ assessment.reviewDate }}</div>
                <span class="badge badge-default pt-2 pb-2 pl-2 pr-2" *ngIf="assessment.statusText != null">
                  {{ assessment.statusText }}
                </span>
                <div class="assessment-name" *ngIf="assessment.reviewDate != ''">ผู้ตรวจสอบ {{ assessment.reviewer }}</div>
              </td>
              <td>{{ assessment.reviewComment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="card">
      <div class="card-header custom-card-header">
        <span class="cat__core__title">
          เอกสารประกอบ
        </span>
      </div>
      <div class="card-block" style="overflow-x:auto;">
        <div *ngIf="documents.length == 0">
          <p>ไม่มีรายการเอกสาร!</p>

        </div>
        <table class="table" *ngIf="documents.length > 0">
          <thead>
            <tr>
              <th>#</th>
              <th>ชื่อเอกสาร</th>
              <th>ประเภท</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documents; let i = index;">
              <td scope="row">{{ i }}</td>
              <td>{{ document.title }}</td>
              <td>{{ document.type }}</td>
              <td>
                <a [href]="document.url" target="_blank">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a>
                  <i class="fa fa-trash" aria-hidden="true" (click)="dialog.show()"></i>
                </a>
              </td>
              <swal #dialog title="ยืนยัน" text="ต้องการลบไฟล์แนบใช่หรือไม่?" type="warning" (confirm)="deleteAttachment(document.id)"></swal>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section *ngIf="taskAssignment.tickets.length > 0" class="card">
      <div class="card-header custom-card-header">
        <span class="cat__core__title">
          ข้อร้องเรียน
        </span>
      </div>
      <div class="card-block" style="overflow-x:auto;">
        <table class="table" *ngIf="taskAssignment.tickets.length > 0">
          <thead>
            <tr>
              <th>#</th>
              <th>ข้อร้องเรียน</th>
              <th>เลขที่ข้อร้องเรียน</th>
              <th>วันที่ร้องเรียน</th>
              <th>ตรวจพบโดย</th>
              <th>สถานะ</th>
              <th>วันที่ปิด</th>
              <th>ปิดโดย</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of taskAssignment.tickets; let k = index;">
              <th scope="row">{{ k+1 }}</th>
              <td>{{ ticket.title }}</td>
              <td>{{ ticket.ticketExternalId }}</td>
              <td>{{ ticket.createDate }}</td>
              <td>{{ ticket.owner }}</td>
              <td>{{ ticket.statusText }}</td>
              <td>{{ ticket.closeDate }}</td>
              <td>{{ ticket.closeBy }}</td>
              <td>
                <button class="btn btn-success mr-2  btn-sm" *ngIf="(ticket.status !== 'Closed' &&  (isReadOnly(['TCKMNG'])==false))" type="button" (click)="closeTicket(ticket.id,taskAssignment.id)">ปิดข้อร้องเรียน</button>
                <button class="btn btn-success mr-2  btn-sm" *ngIf="(ticket.status === 'Closed' && (role('TCKMNG')))" type="button"
                  (click)="closeTicket(ticket.id,taskAssignment.id)" disabled>ปิดข้อร้องเรียน</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <app-task-comment [taskAssignmentId]="taskAssignmentId" [userId]="userId"></app-task-comment>
    <div class="row custom-evaluate-row">
      <div class="row" id="evaluate-practice" class="evaluate-practice">
        <div class="col-lg-12">
          <div class="mb-12">
            <div class="nav-tabs-horizontal">
              <div class="tab-content">
                <div class="tab-pane active" id="home1" role="tabcard">
                  <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="example1_length">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <app-document-upload [userId]="userId" [taskAssignmentId]="taskAssignmentId"></app-document-upload> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>