<div class="modal-dialog" role="document"  style="padding-left:10px;padding-right:10px;max-width: 980px;">
  <!-- id="search-document" -->
  <div class="modal-content">
    <div class="modal-header">
      <i class="icmn icmn-search"></i>
      <h5 class="modal-title" id="myModalLabel">ค้นหาเอกสาร</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body show_detail">
      <div class="row" id="licence" class="licence">
        <div class="col-lg-12">
          <div class="mb-12">
            <div class="nav-tabs-horizontal" style="overflow-x:auto;">
              <table *ngIf="mode === 'license' && licenses.length !== 0" class="table table-hover nowrap dataTable dtr-inline license-table1"
                id="license-table1" width="100%" role="grid" aria-describedby="example1_info" style="width: 100%;" datatable
                [dtOptions]="dtOptionsLicense">
                <thead>
                  <tr>
                    <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                    <th rowspan="1" colspan="1">ชื่อผู้รับอนุญาต</th>
                    <th rowspan="1" colspan="1">วันครบกำหนดต่อใบอนุญาต</th>
                    <th rowspan="1" colspan="1">วันหมดอายุ</th>
                    <th rowspan="1" colspan="1">วันที่อนุญาต</th>
                    <!-- <th rowspan="1" colspan="1">ประเภทใบอนุญาต</th> -->
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1"></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                    <th rowspan="1" colspan="1">ชื่อผู้รับอนุญาต</th>
                    <th rowspan="1" colspan="1">วันครบกำหนดต่อใบอนุญาต</th>
                    <th rowspan="1" colspan="1">วันหมดอายุ</th>
                    <th rowspan="1" colspan="1">วันที่อนุญาต</th>
                    <!-- <th rowspan="1" colspan="1">ประเภทใบอนุญาต</th> -->
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1"></th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let license of licenses" role="row" class="odd">
                    <td>{{ license.licenseType.name }}</td>
                    <td>{{ license.holderName }}</td>
                    <td>{{ license.dueDate }}</td>
                    <td>{{ license.expireDate }}</td>
                    <td>{{ license.issueDate }}</td>
                    <!-- <td>{{ license.licenseType.category }}</td> -->
                    <th rowspan="1" colspan="1">
                      <li data-original-title="" title="">
                        <a [href]="license.document.url" target="_blank">
                          <i class="fa fa-eye" aria-hidden="true" href="#"></i>
                        </a>
                      </li>
                    </th>
                    <td>
                      <button class="btn btn-success mr-2  btn-sm" type="button" (click)="onSubmit(license.document.id)">แนบเอกสาร</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table *ngIf="mode === 'documents' && documents.length !== 0" class="table table-hover nowrap dataTable dtr-inline license-table1"
                id="license-table1" width="100%" role="grid" aria-describedby="example1_info" style="width: 100%;" datatable
                [dtOptions]="dtOptionsDocument">
                <thead>
                  <tr>
                    <th rowspan="1" colspan="1">ชื่อเอกสาร</th>
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1"></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th rowspan="1" colspan="1">ชื่อเอกสาร</th>
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1"></th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let document of documents" role="row" class="odd">
                    <td>{{ document.title }}</td>
                    <th rowspan="1" colspan="1">
                      <li data-original-title="" title="">
                        <a [href]="document.url" target="_blank">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                      </li>
                    </th>
                    <td>
                      <button class="btn btn-success mr-2  btn-sm" type="button" (click)="onSubmit(document.id)">แนบเอกสาร</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>