<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-list-alt"></i>ใบอนุญาต</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>เอกสาร</a>
      </li>
      <li class="breadcrumb-item active">ประวัติการต่ออายุอนุญาต</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <button *ngIf="isReadOnly(['DOCMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button" (click)="renewLicense()">
              เพิ่มข้อมูลการต่ออายุใบอนุญาต</button>
            <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
              <div class="row">
                <div *ngIf="licenses.length === 0" class="card-block">
                  <div class="row" id="approve-artifact-assesment" class="review-artifact-assesment">
                    <div class="col-lg-12">
                      <div class="mb-12">
                        ไม่มีประวัติการต่อใบอนุญาตในรายการนี้
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="licenses.length !== 0" class="col-sm-12" style="overflow-x:auto;">
                  <table class="table table-hover nowrap dataTable dtr-inline " id="license-table1" width="100%" role="grid" aria-describedby="example1_info"
                    style="width: 100%;" datatable [dtOptions]="dtOptions">
                    <thead>
                      <tr>
                        <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                        <th rowspan="1" colspan="1">เลขที่ใบอนุญาต</th>
                        <th rowspan="1" colspan="1">ชื่อผู้รับอนุญาต</th>
                        <th rowspan="1" colspan="1">วันครบกำหนดต่อใบอนุญาต</th>
                        <th rowspan="1" colspan="1">วันหมดอายุ</th>
                        <th rowspan="1" colspan="1">วันที่อนุญาต</th>
                        <th rowspan="1" colspan="1">ประเภทใบอนุญาต</th>
                        <th rowspan="1" colspan="1">ชื่อผู้รับผิดชอบ</th>
                        <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
                        <th rowspan="1" colspan="1"></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                        <th rowspan="1" colspan="1">เลขที่ใบอนุญาต</th>
                        <th rowspan="1" colspan="1">ชื่อผู้รับอนุญาต</th>
                        <th rowspan="1" colspan="1">วันครบกำหนดต่อใบอนุญาต</th>
                        <th rowspan="1" colspan="1">วันหมดอายุ</th>
                        <th rowspan="1" colspan="1">วันที่อนุญาต</th>
                        <th rowspan="1" colspan="1">ประเภทใบอนุญาต</th>
                        <th rowspan="1" colspan="1">ชื่อผู้รับผิดชอบ</th>
                        <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
                        <th rowspan="1" colspan="1"></th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let license of licensesFiltered" role="row" class="odd">
                        <td>{{ license.licenseType.name }}</td>
                        <td>{{ license.licenseNumber }}</td>
                        <td>{{ license.holderName }}</td>
                        <td>{{ license.dueDate }}</td>
                        <td>{{ license.expireDate }}</td>
                        <td>{{ license.issueDate }}</td>
                        <td>{{ license.licenseType.categoryText }}</td>
                        <td>{{ license.document.owner }}</td>

                        <td *ngIf="license.licenseType.frequencyYear !== 0 || license.licenseType.frequencyMonth !== 0">
                          <span *ngIf="license.licenseType.frequencyYear !== 0">{{ license.licenseType.frequencyYear }} ปี </span>
                          <span *ngIf="license.licenseType.frequencyMonth !== 0">{{ license.licenseType.frequencyMonth }} เดือน </span>
                        </td>
                        <td *ngIf="license.licenseType.frequencyYear === 0 && license.licenseType.frequencyMonth === 0"> ไม่มีวันหมดอายุ </td>
                        <td>
                          <li data-original-title="" title="">
                            <a [href]="license.document.url" target="_blank">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                          </li>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>