<div class="cat__top-bar">
    <!-- left aligned items -->
    <!-- <div class="cat__menu-left__logo egat_logo">
        <a href="#" [routerLink]="['/']">
            <img src="assets/modules/core/common/images/egat.png" />
        </a>
    </div> -->
    <div class="cat__top-bar__left">
      <div class="text-top-1">ระบบจัดการและติดตามการปฎิบัติตามกฎหมาย</div>
      <div class="text-top-2">โรงไฟฟ้าแม่เมาะ</div>
      <div class="text-top-3">Maemoh Power Plant</div>
        <!-- <div class="text-top-1">การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย</div>
        <div class="text-top-2">โรงไฟฟ้าแม่เมาะ</div>
        <div class="text-top-3">Maemoh Power Plant</div> -->
    </div>
    <!-- right aligned items -->
    <div class="cat__top-bar__right">
        <div class="cat__top-bar__item">
            <div class="dropdown cat__top-bar__avatar-dropdown">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="text_user">
                        {{user.firstName}} {{user.lastName}}
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" (click)="showProfile()" ><i class="dropdown-icon icmn-user" ></i>บัญชีผู้ใช้</a>
                    <div class="dropdown-divider"></div>
                    <!-- <div class="dropdown-header">Home</div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> System Dashboard</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> User Boards</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Issue Navigator (35 New)</a>
                    <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" (click)="logout()" ><i class="dropdown-icon icmn-exit"></i>ออกจากระบบ</a>
                </ul>
            </div>
        </div>
        <div class="cat__top-bar__item">

            <i class="fa fa-question"  data-toggle="modal" data-target="#help"></i>
            <!--
            <div class="cat__top-bar__menu-button cat__menu-right__action--menu-toggle">
                <i class="fa fa-bell"  data-toggle="tooltip" data-placement="left" title="การแจ้งเตือน"></i>
            </div> -->
        </div>
    </div>
</div>
<div class="modal fade modal-size-medium" id="help" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pl-4">
                <i class="fa fa-question"></i>
                <h5 class="modal-title" id="myModalLabel">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body show_detail" style="padding: 20px 5px;">
              <div class="col-sm-12">

                 <div class="col-sm-12">
                    <div class="footer-title">
                        ผู้ดูแลเว็บไซต์
                    </div>
                    <div class="footer-detail">
                        <div class="tel list-detail">
                            นายมฆวัน  นิลกัณหะ
                        </div>
                        <div class="tel list-detail">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                            <span >0-5425-2912</span>
                        </div>
                        <div class="email list-detail">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span >makkawan.nin@egat.co.th</span>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
