<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-list-alt"></i>ทวนสอบกฎหมาย</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>การจัดการกฎหมาย</a>
      </li>
      <li class="breadcrumb-item">
        <a>กฎหมายใหม่</a>
      </li>
      <li class="breadcrumb-item active">ทวนสอบกฎหมาย</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <form id="law-review" class="cat__wizard cat__wizard__numbers" name="law-review">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="topic">เรื่อง</label>
                <div class="col-md-9">
                  <input id="topic" name="name" type="text" class="form-control" [value]="selectedArtifact.title" readonly>

                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="reply_date">* กำหนดวันตอบกลับ</label>
                <div class="col-md-9">
                  <my-date-picker-th id="reply_date" name="reply_date" [options]="myDatePickerOptions" [placeholder]="placeholder" [(ngModel)]="duedate"></my-date-picker-th>
                </div>
              </div>
              <button type="submit" class="btn btn-setsame btn-primary" (click)="onSubmit()">ยืนยัน</button>
              <swal #validation_dialog title="ระบุข้อมูลไม่ครบถ้วน" text="โปรดระบุข้อมูลให้ครบถ้วน" type="warning"></swal>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>