<div class="comment" id="comment_div">
  <div class="title-comment">
    <i class="fa fa-commenting-o" aria-hidden="true"></i>
    <span class="cat__core__title">
              ความคิดเห็น
          </span>
  </div>

  <div class="add-comment">
    <h6 class="card-subtitle mb-2 text-muted">เพิ่มความคิดเห็น</h6>
    <textarea class="form-control" name="comment" id="l15" rows="5" id="comment" [(ngModel)]="content"></textarea>
    <button type="button" class="btn btn-sm btn-success mr-2 mt-3 mb-2" (click)="onSubmit()" >เพิ่มความคิดเห็น</button>

  </div>

  <div class="all-comment">
    <div class="title">
      <div class="wrap-title">
        <span class="number">
                {{ comments.length }}
              </span>
        <span class="text">
                comments
              </span>
      </div>
    </div>
    <div *ngFor="let comment of comments" class="comment-list">
      <div class="date text-muted">
        {{ comment.createDate }}
      </div>
      <div class="name">
        {{ comment.creator }}
      </div>
      <div class="detail">
        {{ comment.content }}
      </div>
    </div>

  </div>

</div>