<cat-menu-right></cat-menu-right>
<cat-menu-left></cat-menu-left>
<cat-top-bar></cat-top-bar>
<div class="cat__content">
  <cat-alert></cat-alert>
  <router-outlet></router-outlet>
<cat-footer></cat-footer>
<!-- <div id="modalloading" class="modal-backdrop fade show" style="z-index: 1031!important;display: none;"></div> -->
</div>
