<button  *ngIf="role('TSKASM')" class="btn btn-success mr-2  btn-sm" type="button" data-toggle="modal" data-target="#assessmentModal">ประเมิน</button>
<button  *ngIf="!role('TSKASM')" class="btn btn-success mr-2  btn-sm" type="button" data-toggle="modal" data-target="#assessmentModal" disabled>ประเมิน</button>
<div id="assessmentModal" class="modal fade modal-size-large" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icmn icmn-file-text2"></i>
        <h5 class="modal-title" id="myModalLabel">ประเมิน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body show_detail">
        <form id="edit-general-create" class="single-form" name="new-general-create" [formGroup]="taskAssessmentForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="l0">ความเกี่ยวข้อง</label>
            <div class="col-md-10">
              <select id="isApplicable" name="isApplicable" formControlName="isApplicable" class="form-control select">
                <option value="">กรุณาเลือก</option>
                <option value="true">เกี่ยวข้อง</option>
                <option value="false">ไม่เกี่ยวข้อง</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="taskAssessmentForm.value.isApplicable=='true'">
            <label class="col-md-2 col-form-label" for="l0">การปฏิบัติ</label>
            <div class="col-md-10">
              <select id="isCompliant" name="isCompliant" formControlName="isCompliant" class="form-control select">
                <option value="">กรุณาเลือก</option>
                <option value="true">สอดคล้อง</option>
                <option value="false">ไม่สอดคล้อง</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="taskAssessmentForm.value.isApplicable=='true'">

            <label class="col-md-2 col-form-label" for="l0">รายละเอียดการปฏิบัติ</label>
            <div class="col-md-10">
              <textarea class="form-control" name="retention-" id="l15" rows="3" id="reason" formControlName="detail"></textarea>
            </div>
          </div>

          <div class="button">
            <button type="submit" class="btn btn-success">บันทึก</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>