  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">ปิดข้อร้องเรียน</h5>
        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-detail show_detail pt-0 pb-0" style="overflow-y:auto;height:430px;" [ngStyle]="{'overflow-y':'auto','height':heightModal+'px'}">
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">เลขที่ร้องเรียน</div>
            <div class="show_detail--value col-md-8">{{ ticket.id }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">ชื่อเรื่องร้องเรียน</div>
            <div class="show_detail--value col-md-8">{{ ticket.title }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">เนื้อหา</div>
            <div class="show_detail--value col-md-8" [innerHTML]="ticket.description | safeHtml"></div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">ประเภทของกฎหมาย</div>
            <div class="show_detail--value col-md-8">ISO-{{ ticket.iso }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">หน่วยงาน</div>
            <div class="show_detail--value col-md-8">{{ ticket.department }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">ตรวจพบโดย</div>
            <div class="show_detail--value col-md-8">{{ ticket.owner }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">สถานะ</div>
            <div class="show_detail--value col-md-8">{{ ticket.statusText }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">วันที่ร้องเรียน</div>
            <div class="show_detail--value col-md-8">{{ ticket.createDate }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">เลขข้อร้องเรียน</div>
            <div class="show_detail--value col-md-8">{{ ticket.ticketExternalId }}</div>
          </div>
          <div class="form-group div-checkbox row pl-3 mt-4" *ngIf="isReadOnly(['TCKMNG'])==false">
            <label class="form-check-label">
              <input class="form-check-input checkbox" type="checkbox" value="" [(ngModel)]="isConfirm"> &nbsp;&nbsp;ยืนยันปิดข้อร้องเรียน
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="display:block;">
        <div class="text-detail show_detail pt-0 pb-0 w-100">
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">รายละเอียด</div>
            <div class="show_detail--value col-md-8">
              <textarea class="form-control" id="l15" rows="3" [(ngModel)]="actionDetail"></textarea>
            </div>
          </div>
        </div>
        <div class="w-100 mt-3" style="text-align:right;    padding-right: 35px;">
          <button type="button" class="btn" data-dismiss="modal" (click)="closeModal()" >ยกเลิก</button>
          <button type="submit" class="btn btn-setsame btn-primary" (click)="onSubmit()" >ยืนยัน</button>
        </div>
      </div>
    </div>
  </div>
