<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong *ngIf="mode === 'ADD'">
        <i class="fa fa-plus-square"></i>สร้างใหม่
      </strong>
      <strong *ngIf="mode === 'EDIT'">
        <i class="fa fa-plus-square"></i>แก้ไข
      </strong>
      <strong *ngIf="mode === 'VIEW'">
        <i class="fa fa-plus-square"></i>รายละเอียด
      </strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>ข้อมูลทั่วไป</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" [routerLink]="['/license/type/index']">ใบอนุญาตที่กฎหมายกำหนด</a>
      </li>
      <li *ngIf="mode === 'ADD'" class="breadcrumb-item active">สร้างใหม่</li>
      <li *ngIf="mode === 'EDIT'" class="breadcrumb-item active">แก้ไข</li>
      <li *ngIf="mode === 'VIEW'" class="breadcrumb-item active">รายละเอียด</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <!-- START: forms/form-validation -->
        <section class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-md-12">
                <!-- Under Element Form Validation -->
                <form>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">ชื่อใบอนุญาต</label>
                    <div class="col-md-9">
                      <input name="name" type="text" class="form-control" data-validation="[NOTEMPTY]" [(ngModel)]="licenseType.name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">ชื่อย่อ</label>
                    <div class="col-md-9">
                      <input name="aliasname" type="text" class="form-control" data-validation="[NOTEMPTY]" [(ngModel)]="licenseType.aliasName">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">ผู้ออกใบอนุญาต</label>
                    <div class="col-md-9">
                      <input name="issuer" type="text" class="form-control" data-validation="[NOTEMPTY]" [(ngModel)]="licenseType.issuer">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">ประเภท</label>
                    <div class="col-md-9">
                      <select name="category" class="form-control field_license-type" data-validation="[NOTEMPTY]" [(ngModel)]="licenseType.category">
                        <option value="Organization" selected>ใบอนุญาตโรงงาน/โรงไฟฟ้า</option>
                        <option value="Personal">ใบอนุญาตบุคคล</option>
                        <option value="Tool">ใบอนุญาตอุปกรณ์เครื่องมือเครื่องใช้</option>
                        <option value="Machine">ใบอนุญาตเครื่องจักร</option>
                        <option value="Report">แบบฟอร์มรายงาน</option>
                        <option value="Miscellaneous">อื่นๆ</option>
                      </select>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">ความถี่ใบอนุญาต</label>
                    <div class="col-md-3">
                      <input class="form-control" data-validation="[NOTEMPTY]" name="frequencyYear" type="text" [(ngModel)]="licenseType.frequencyYear"
                        style="width:50px; display:inline;">
                      <span style="padding:0 10px;"> ปี</span>
                      <input class="form-control" data-validation="[NOTEMPTY]" name="frequencyMonth" type="text" [(ngModel)]="licenseType.frequencyMonth"
                        style="width:50px; display:inline;">
                      <span style="padding:0 10px;"> เดือน</span>

                    </div>
                    <div class="form-group div-checkbox row pl-3 mt-2 ml-3">
                      <div>

                      </div>
                    </div>
                  </div>
                  <div *ngIf="mode === 'ADD' || mode === 'EDIT'" class="sigle-form-button">
                    <button type="submit" class="btn btn-primary width-150" (click)="addLicenseType()">บันทึก</button>
                    <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                  </div>
                </form>
                <!-- End Under Element Form Validation -->
              </div>
            </div>
          </div>
        </section>
        <!-- END: forms/form-validation -->

      </div>

    </div>

  </div>

</section>