<section class="card">
  <style>
    .content-invalid  {
      border-left: 5px solid #a94442; /* red */
    }
  </style>
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-pencil"></i>นำเข้ากฎหมายใหม่</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>การจัดการกฎหมาย</a>
      </li>
      <li class="breadcrumb-item active">นำเข้ากฎหมายใหม่</li>
    </ol>
  </div>
  <div class="card-block new-law">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <section class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    <div id="bootstrap-wizard-1" class="col-sm-12">

                      <div class="form-bootstrapWizard">
                        <ul class="bootstrapWizard form-wizard">
                          <li class="active" data-target="#step1">
                            <a href="#tab1" data-toggle="tab" class="active">
                              <span class="step step1">1</span>
                              <span class="title">ข้อมูลทั่วไป</span>
                            </a>
                          </li>
                          <li data-target="#step2" class="">
                            <a href="#tab2" data-toggle="tab">
                              <span class="step step2">2</span>
                              <span class="title">เนื้อหากฎหมาย</span>
                            </a>
                          </li>
                          <li data-target="#step3" class="">
                            <a href="#tab3" data-toggle="tab">
                              <span class="step step3">
                                <i class="fa fa-check" aria-hidden="true"></i>
                              </span>
                              <span class="title">สำเร็จ</span>
                            </a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>

                      <div class="tab-content">
                        <div class="tab-pane active" id="tab1">

                          <br>
                          <h3>
                            <strong>ขั้นตอนที่ 1 </strong>- ข้อมูลทั่วไป</h3>
                          <form>
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0">* เกี่ยวข้องกับกฎหมายในด้าน</label>
                              <div class="col-md-9">
                                <select id="type" name="type" class="form-control field_type" data-validation="[NOTEMPTY]" [(ngModel)]="artifact.type">
                                  <option value="">กรุณาเลือก</option>
                                  <option value="Quality">ด้านคุณภาพ</option>
                                  <option value="Environment">ด้านสิ่งแวดล้อม</option>
                                  <option value="Energy">การจัดการพลังงาน</option>
                                  <option value="Safety">ความปลอดภัย / OHSAS</option>
                                  <option value="Miscellaneous">อื่นๆ</option>
                                </select>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0">* หมวดหมู่กฎหมาย</label>
                              <div class="col-md-9">
                                <div style="height:36px">
                                  <select id="categoryId" name="categoryId" class="form-control select2 field_category" data-validation="[NOTEMPTY]" [(ngModel)]="artifact.categoryId">
                                    <option value="">เลือกหมวดหมู่กฎหมาย</option>
                                    <option *ngFor="let cat of categories" [selected]="cat.id == categoryId" [value]="cat.id">{{cat.name}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0">* ประเภทของกฎหมาย</label>
                              <div class="col-md-9">
                                <div style="height:36px">
                                  <select id="levelId" name="levelId" class="form-control select2 field_lawlevel" data-validation="[NOTEMPTY]" [(ngModel)]="artifact.levelId">
                                    <option value="">เลือกประเภทของกฎหมาย</option>
                                    <option *ngFor="let level of lawlevels" [selected]="level.id == levelId" [value]="level.id">{{level.name}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0">* เรื่อง</label>
                              <div class="col-md-9">
                                <div class="" style="height:36px">
                                  <input id="title" type="text" name="title" class="form-control" data-validation="[NOTEMPTY]" [(ngModel)]="artifact.title">
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="createDate">* ประกาศ ณ วันที่</label>
                              <div class="col-md-9">
                                <div style="height:36px;">
                                  <my-date-picker-th id="createDate" name="createDate" [options]="myDatePickerOptions" [placeholder]="placeholder" [(ngModel)]="createDate"></my-date-picker-th>
                                </div>
                                <!--<label class="input-group datepicker-only-init">-->
                                <!--<input class="form-control" placeholder="dd/mm/yyyy ( ตัวอย่าง : 10/06/2560 )" type="text" name="createDate" [(ngModel)]="artifact.createDate">-->
                                <!--<span class="input-group-addon">-->
                                <!--<i class="icmn-calendar"></i>-->
                                <!--</span>-->
                                <!--</label>-->
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="publishedDate">* วันประกาศในราชกิจจานุเบกษา</label>
                              <div class="col-md-9">
                                <div style="height:36px;">
                                  <my-date-picker-th id="publishedDate" name="publishedDate" [options]="myDatePickerOptions" [placeholder]="placeholder" [(ngModel)]="publishedDate"></my-date-picker-th>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="effectiveDate">* วันที่มีผลบังคับ</label>
                              <div class="col-md-9">
                                <div style="height:36px;">
                                  <my-date-picker-th id="effectiveDate" name="effectiveDate" [options]="myDatePickerOptions" [placeholder]="placeholder" [(ngModel)]="effectiveDate"></my-date-picker-th>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0">* แหล่งที่มาของกฎหมาย</label>
                              <div class="col-md-9">
                                <div class="" style="height:36px">
                                  <input id="source" type="text" name="source" class="form-control" data-validation="[NOTEMPTY]" placeholder="ชื่อผู้ออกกฎหมายในท้ายประกาศ" [(ngModel)]="artifact.source">
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0">เลือกไฟล์แนบ</label>
                              <div class="col-md-9">
                                <input type="file" id="addnew-file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.png,.jpg"
                                  multiple>

                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0"></label>
                              <div class="col-md-9 addnew-file">
                                <label *ngIf="isHasFileUpload === true" class="col-form-label" for="l0">รายการไฟล์แนบ</label>
                                <ol>
                                  <li class="attach-item" *ngFor="let fileData of fileDatas">{{ fileData.filename }}
                                    <div>
                                      <div class="text">
                                        <a [href]="fileData.href" target="_blank">{{ fileData.title }}</a>
                                        <i class="fa fa-trash" aria-hidden="true" (click)="dialog.show()" ></i>
                                      </div>
                                    </div>
                                    <swal #dialog title="ยืนยัน" text="ต้องการลบไฟล์แนบใช่หรือไม่?" type="warning" (confirm)="deleteAttachment(fileData.id)"></swal>
                                  </li>
                                </ol>
                                
                                
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0">หมายเหตุ</label>
                              <div class="col-md-9">
                                <textarea name="note" class="form-control" id="l15" rows="3" [(ngModel)]="artifact.note"></textarea>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="l0">บทนำ</label>
                              <div class="col-md-9">
                                <textarea name="introduction" class="form-control" id="15" rows="3" [(ngModel)]="artifact.introduction"></textarea>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">

                              </div>
                            </div>


                            <div class="button">
                              <button type="button" class="btn btn-warning mr-2 mb-2 next next-step-1" (click)="onSubmit('Draft')">ถัดไป</button>
                              <span style="color:red">{{validationError}}</span>
                              <swal #validation_dialog title="ระบุข้อมูลไม่ครบถ้วน" text="โปรดระบุข้อมูลให้ครบถ้วน" type="warning"></swal>
                            </div>
                          </form>
                        </div>

                        <div class="tab-pane" id="tab2">
                          <br>
                          <h3>
                            <strong>ขั้นตอนที่ 2</strong>- เนื้อหากฎหมาย</h3>
                          <!-- list of law detail -->
                              <app-artifact-group [artifactId]="artifact.id" [artifactNodeGroups]="artifactNodeGroups" ></app-artifact-group>
                     
                          <div class="button ">
                            <button type="button" class="btn btn-secondary mr-2 mb-2 before before-step-2 ">ก่อนหน้า</button>
                            <button type="button" class="btn btn-warning mr-2 mb-2 next next-step-2 ">ถัดไป</button>
                          </div>
                        </div>
                        <!-- end list of law detail -->

                        <div class="tab-pane" id="tab3">
                          <div class="text-success ">
                            ท่านได้กรอกข้อมูลครบถ้วนแล้ว ตามขั้นตอน
                            <br>ทำการบันทึกกฎหมายนี้ได้
                          </div>
                          <div class="form-actions ">
                            <button type="button" class="btn btn-secondary before before-step-3 ">ก่อนหน้า</button>

                            <!-- <button type="button"  formtarget="_blank" class="btn btn btn-success width-150 btn-setsame"  [routerLink]="['/artifact/view', artifact.id]" >แสดงตัวอย่าง</button> -->
                            <button type="button" class="btn btn-warning width-150 btn-setsame" (click)="onUpdate('Draft')">บันทึกแบบร่าง</button>
                            <button type="submit" class="btn btn-primary width-150 btn-setsame" (click)="onUpdate('Created')">บันทึก</button>
                            <!-- <button type="button " class="btn btn-default remove-error ">Clear</button>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>