<div class="dropdown d-inline-block  mr-2">
  <button *ngIf="role('TSKRVW')" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    ตรวจสอบ
  </button>
  <button *ngIf="!role('TSKRVW')" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled>
      ตรวจสอบ
    </button>
  <ul class="dropdown-menu" aria-labelledby="" role="menu">
    <a class="dropdown-item" data-toggle="modal" (click)="onClickCheckEvaluate()">ยืนยันผล</a>
    <a class="dropdown-item" data-toggle="modal" data-target="#back-to-review">ส่งกลับไปแก้ไข</a>
  </ul>
</div>

<div id="reviewModal" class="modal fade modal-size-large modal-check-evaluate" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icmn icmn-file-text2"></i>
        <h5 class="modal-title" id="myModalLabel">ยืนยันผล</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body show_detail">
        <div class="show_detail--row">
          <div class="show_detail--title col-md-2">หน่วยงาน</div>
          <div class="show_detail--value col-md-10">{{ department }}</div>
        </div>
        <div class="show_detail--row">
          <div class="show_detail--title col-md-2">ความเกี่ยวข้อง</div>
          <div class="show_detail--value col-md-10">{{ recentTaskAssessment.isApplicableText }}</div>
        </div>
        <div class="show_detail--row">
          <div class="show_detail--title col-md-2">ความสอดคล้อง</div>
          <div class="show_detail--value col-md-10">{{ recentTaskAssessment.isApplicable==false?"":recentTaskAssessment.isCompliantText }}</div>
        </div>
        <div class="show_detail--row">
            <div class="show_detail--title col-md-2">รายละเอียดการปฏิบัติ</div>
            <div class="show_detail--value col-md-10">{{ recentTaskAssessment.detail }}</div>
          </div>
      </div>
      <div class="modal-footer">

        <div class="form-group div-checkbox row">
          <label class="form-check-label">
            <input class="form-check-input checkbox" type="checkbox" [(ngModel)]="isConfirm" value="true"> &nbsp;&nbsp;ข้าพเจ้ายืนยันว่าได้อ่านรายละเอียดกฎหมายข้างต้นแล้ว รายละเอียดดังกล่าวสมบูรณ์
            <div class="alert alert-danger hide" role="alert">
              <strong>กรุณา!</strong>ทำการทำเครื่องหมายยืนยัน
            </div>
          </label>
        </div>
        <button type="button" (click)="onSubmit()" class="btn btn-primary confirm btn-setsame">ถูกต้อง</button>

      </div>

    </div>
  </div>
</div>


<div class="modal fade modal-size-large modal-check-evaluate" id="back-to-review" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icmn icmn-file-text2"></i>
        <h5 class="modal-title" id="myModalLabel">ส่งกลับไปแก้ไข</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body show_detail">
        <div class="title">
          ระบุรายละเอียด
        </div>
        <div class="detail">
          <textarea class="form-control" name="request-review" id="request-review" rows="3" [(ngModel)]="reviewComment"></textarea>
        </div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-primary" (click)="onReject()">ส่งกลับไปแก้ไข</button>

      </div>

    </div>
  </div>
</div>