
  <div class="text-detail show_detail">
    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">เลขที่กฎหมาย</div>
      <div class="show_detail--value col-md-8">{{ artifact.code }}</div>
    </div>
    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">เกี่ยวข้องกับกฎหมายในด้าน</div>
      <div class="show_detail--value col-md-8">{{ artifact.typeText }}</div>
    </div>
    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">หมวดหมู่กฎหมาย</div>
      <div class="show_detail--value col-md-8">{{ artifact.category }}</div>
    </div>
    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">ประเภทของกฎหมาย</div>
      <div class="show_detail--value col-md-8">{{ levelMap[artifact.levelId]?.name }}</div>
    </div>
    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">เรื่อง</div>
      <div class="show_detail--value col-md-8">{{ artifact.title }}</div>
    </div>

    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">ประกาศ ณ วันที่</div>
      <div class="show_detail--value col-md-8">{{ artifact.createDate }}</div>
    </div>
    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">วันประกาศในราชกิจจานุเบกษา</div>
      <div class="show_detail--value col-md-8">{{ artifact.publishedDate }}</div>
    </div>
    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">วันที่มีผลบังคับ</div>
      <div class="show_detail--value col-md-8">{{ artifact.effectiveDate }}</div>
    </div>

    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">แหล่งที่มาของกฎหมาย</div>
      <div class="show_detail--value col-md-8">{{ artifact.source }}</div>
    </div>

    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">ไฟล์ต้นฉบับ</div>
      <div class="show_detail--value col-md-8">
        <ol class="pl-3">
          <li *ngFor="let document of artifact.documents">
            <a [href]="document.url" target="_blank">{{ document.title }}</a>
          </li>

        </ol>
      </div>
    </div>
    <div class="show_detail--row">
      <div class="show_detail--title col-md-4">หมายเหตุ</div>
      <div class="show_detail--value col-md-8">{{ artifact.note }}</div>
    </div>
  </div>
