<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">บัญชีผู้ใช้</h5>
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-detail show_detail pt-0 pb-0">
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">เลขประจำตัว</div>
            <div class="show_detail--value col-md-8">{{ user.id }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">ชื่อ นามสกุล</div>
            <div class="show_detail--value col-md-8">{{ user.firstName }} {{user.lastName}}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">Email</div>
            <div class="show_detail--value col-md-8">{{ user.email }}</div>
          </div>
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">กลุ่มผู้ใช้</div>
            <div class="show_detail--value col-md-8">{{ user.group }}</div>
          </div>
          <!-- <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">หน่วยงาน</div>
            <div class="show_detail--value col-md-8">{{ ticket.department }}</div>
          </div> -->
          <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">สถานะ</div>
            <div class="show_detail--value col-md-8" *ngIf="user.isActive">ปกติ</div>
            <div class="show_detail--value col-md-8" *ngIf="!user.isActive">เลิกใช้</div>
          </div>
          <!-- <div class="show_detail--row row">
            <div class="show_detail--title col-md-4">เข้าใช้งานครั้งล่าสุดเมื่อ</div>
            <div class="show_detail--value col-md-8">{{ ticket.createDate }}</div>
          </div> -->
        </div>
      </div>
      <div class="modal-footer" style="display:block;">
        <div class="w-100 mt-3" style="text-align:right;    padding-right: 35px;">
          <button type="button" class="btn" data-dismiss="modal" (click)="close()" >ปิด</button>
        </div>
      </div>
    </div>
  </div>
