// import mixins from "core" module
@import url('https://fonts.googleapis.com/css?family=Trirong');
@import 'mixins';


/////////////////////////////////////////////////////////////////////////////////////////
/*  "CORE" MODULE STYLES */
/* test build */

html {
    font-size: 14px;
    @media (max-width: $xl-max-width) {
        font-size: 13px;
    }
    @media (max-width: $sm-max-width) {
        font-size: 12px;
    }
}

body {
    font-family: $base__font-family;
    color: $text-darken-more;
     background: white !important;

    @media (min-width: $md-min-width) {
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
    color: $text;
    @include transition-color();
    &:hover, &:active, &:focus {
        color: $blue;
        text-decoration: none;
    }
}

input {
    outline: none !important;
    font-family: $base__font-family;
    color: $text-darken-more;
}

button, input {
    box-shadow: none !important;
}

button{
  cursor: pointer;
}

input[type=text], input[type=password], input[type=email], textarea {
    appearance: none !important;
}

button.btn, input, optgroup, select, textarea{
  font-family: $base__font-family !important;
}

table td{
  cursor: pointer;
}
table tfoot tr{
  background: #f1f1f1;
}
table tfoot{
  color:rgba(81, 77, 106, 0.34);
}

table.dataTable.nowrap th, table.dataTable.nowrap td{
  white-space: normal;
}
table.dataTable{
  margin-bottom: 35px !important;
}
.datepicker-only-init{
  position: relative;
  input{
    padding-left: 45px;
  }
  .input-group-addon{
    position: absolute;
    left: 0;
    z-index: 99;
    bottom: 0;
    top: 0;
    border-right: 0;
  }
}

.note-editor{
  .note-view,.note-insert{
    display: none;
  }
}

.datepicker-only-init{
  ul{
    list-style-type: none !important;
  }
}
// main container
.cat {
    &__content {
        padding: rem(20);

        @media (max-width: $sm-max-width) {
            padding: rem(20) 0;
            overflow-x: hidden;
        }
    }
}

.cat__menu-left__action--menu-toggle{
  height: 75px !important;
  background: none !important;
  /* pointer-events: none;
   cursor: default; */
  .cat__menu-left__pin-button{
    height: 1.8rem !important;
  }
}
.cat__content{
  position: relative;
  transition: all 0.3s;
  left: 0px;
}
.menu_hover{
   .cat__content{
    left: 200px;
    transition: all 0.3s;

  }
  .cat__top-bar__left{
    left: 200px;

    transition: all 0.3s;
  }
}
.cat__top-bar__left{
  margin-left: 20px;
  transition: all 0.3s;
  position: relative;
  left:0;
}
// code element
code {
    color: $text;
    background: $gray-lighten-more;
}

// pre element
pre {
    color: $text;
    padding: rem(20);
    border-radius: 3px;
    border: 1px solid $gray-border;
    background: $gray-lighten-more;

    &.cat__core__pre--darken {
        background: $black-lighten;
        $color: $text;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  CORE OPTIONS */
.cat__footer{
  display: none;
  /*position: fixed;
  bottom: 19px;
  left: 125px;
  right: 0;*/
}
cat-page{
  .card{
    min-height: 76vh;
  }
}
.cat__config {

    // vertical layout (default)
    &--vertical {

    }

    // horizontal layout
    &--horizontal {

    }

    // unfixed option
    &--unfixed {

    }

    // compact option
    &--compact {

    }

    // super clean mode option
    &--superclean {
        .cat__content {
            padding: 0;
        }
        .card {
            border: none !important;
            border-radius: 0 !important;
        }
        .cat__core__top-sidebar {
            margin: 0 0 rem(20);
        }
    }

    // squared corners option
    &--squared-corners {
        .card, .cat__footer, .cat__core__widget {
            border-radius: 0 !important;
        }
    }

    // shadow option
    &--shadow {

    }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  CORE COMPONENTS & UTILITIES */

.cat__core {

    // sortable cards
    &__sortable {
        padding-bottom: rem(50);
        margin-bottom: rem(-50);
        overflow-y: auto;

        > .card {
            > .card-header {
                cursor: move;
            }
        }

        .cat__core__sortable__uncollapse {
            display: none;
        }

        &__collapsed {
            > .card-block, > .card-footer {
                display: none;
            }
            > .card-header {
                border-bottom: none
            }

            .cat__core__sortable__collapse {
                display: none;
            }

            .cat__core__sortable__uncollapse {
                display: inline;
            }
        }

        // controls
        &__control {
            display: block;
            height: rem(18);
            padding-top: rem(3);
            font-size: rem(10);
            i {
                color: $gray;
                cursor: pointer;
                &:hover {
                    color: $gray-darken;
                }
            }
        }
    }

    // scroll top button
    &__scroll-top {
        position: fixed;
        z-index: 1100;
        bottom: rem(40);
        right: rem(40);
        border-radius: 5px;
        background: $gray-lighten;
        color: $gray-darken;
        text-align: center;
        width: rem(60);
        height: rem(60);
        padding: rem(20);
        opacity: .8;

        &:hover, &:focus, &:active {
            opacity: 1;
            color: $white;
            background: $gray;
        }
    }

    // left & right card sidebars
    &__card-with-sidebar {
        position: relative;
        min-height: rem(400);
        &:before {
            content: '';
            display: block;
            width: 1px;
            background: $gray-border;
            position: absolute;
            left: rem(240);
            top: 0;
            height: 100%;
            z-index: 0;
        }
        &:after {
            display: table;
            clear: both;
            content: "";
        }
        .cat__core__card-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            width: rem(240);
            padding: rem(15);
            overflow-y: auto;
            height: 100%;
        }
        .card-header, .card-block, .card-footer {
            margin-left: rem(240);
        }

        &--right {
            &:before {
                left: auto;
                right: rem(240);
            }
            .cat__core__card-sidebar {
                left: auto;
                right: 0;
            }
            .card-header, .card-block, .card-footer {
                margin-left: 0;
                margin-right: rem(240);
            }
        }

        &--large {
            &:before {
                left: rem(320);
            }
            .cat__core__card-sidebar {
                width: rem(320);
            }
            .card-header, .card-block, .card-footer {
                margin-left: rem(320);
            }

            &.cat__core__card-with-sidebar--right {
                &:before {
                    left: auto;
                    right: rem(320);
                }
                .card-header, .card-block, .card-footer {
                    margin-right: rem(320);
                    margin-left: 0;
                }
            }
        }

        @media (max-width: $md-max-width) {
            &:before, &:after {
                display: none;
            }

            .cat__core__card-sidebar {
                position: static;
                margin-bottom: rem(0);
                width: auto;
                overflow: auto;
                height: auto;
            }

            .card-header, .card-block, .card-footer {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    // top sidebars
    &__top-sidebar {
        margin: rem(-20) rem(-20) rem(20) rem(-20);
        padding: rem(20) rem(20) rem(15);
        &--bg {
            padding: rem(20) rem(20) rem(15);
            background: $white;
            border-bottom: 1px solid $gray-border;
        }

        @media (max-width: $sm-max-width) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }
    }

    // scrollable block
    &__scrollable {
        overflow: auto;
    }

    // avatar
    &__avatar {
        width: rem(35);
        height: rem(35);
        background-color: $gray-lighten;
        border-color: $gray-darken;
        display: inline-block;
        overflow: hidden;
        border-radius: 500px;
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        &--50 {
            width: rem(50);
            height: rem(50);
        }

        &--70 {
            width: rem(70);
            height: rem(70);
        }

        &--90 {
            width: rem(90);
            height: rem(90);
        }

        &--110 {
            width: rem(110);
            height: rem(110);
        }

        &--border {
            border: 4px solid $gray;
        }

        &--border-white {
            border: 4px solid $white;
        }
    }

    // neagtive margin fix
    &__margin-fix {
        margin-top: -1.35rem;
    }

    // font size
    @at-root {
        .font-size-0 {font-size: rem(0)}
        .font-size-10 {font-size: rem(10)}
        .font-size-12 {font-size: rem(12)}
        .font-size-14 {font-size: rem(14)}
        .font-size-16 {font-size: rem(16)}
        .font-size-18 {font-size: rem(18)}
        .font-size-20 {font-size: rem(20)}
        .font-size-24 {font-size: rem(24)}
        .font-size-26 {font-size: rem(26)}
        .font-size-30 {font-size: rem(30)}
        .font-size-36 {font-size: rem(36)}
        .font-size-40 {font-size: rem(40)}
        .font-size-50 {font-size: rem(50)}
        .font-size-60 {font-size: rem(60)}
        .font-size-70 {font-size: rem(70)}
        .font-size-80 {font-size: rem(80)}
    }

    // quick height
    @at-root {
        .height-100 {height: rem(100);}
        .height-200 {height: rem(200);}
        .height-300 {height: rem(300);}
        .height-400 {height: rem(400);}
        .height-500 {height: rem(500);}
        .height-600 {height: rem(600);}
        .height-700 {height: rem(700);}
    }

    // quick width
    @at-root {
        .width-50 {width: rem(50);}
        .width-100 {width: rem(100);}
        .width-200 {width: rem(200);}
        .width-300 {width: rem(300);}
        .width-400 {width: rem(400);}
        .width-500 {width: rem(500);}
        .width-600 {width: rem(600);}
        .width-700 {width: rem(700);}
    }

    // example block
    &__example {
        padding: rem(15);
        border: 1px solid $gray-border;
        &:before {
            content: 'EXAMPLE';
            display: block;
            margin-bottom: rem(15);
            color: $text;
        }
    }

    // links
    &__link {
        &--underlined {
            border-bottom: 1px solid rgba($black-lighten-more, .25);
            &:hover {
                border-bottom-color: rgba($blue, .2);
            }
        }
        &--blue {
            color: $blue;
            &:hover {
                color: $blue-darken;
            }
            &.link-underlined {
                border-bottom: 1px solid rgba($blue, .25);
                &:hover {
                    border-bottom-color: rgba($blue, .2);
                }
            }
        }
    }

    // card title
    &__title {
        font-size: rem(21);
        color: $black-lighten-more;
    }

    // donut badge
    &__donut {
        display: inline-block;
        width: rem(16);
        height: rem(16);
        border-radius: 100%;
        border: 4px solid $default;
        position: relative;
        top: rem(2);
        margin-right: rem(4);
        &--default {
            border-color: $default;
        }
        &--primary {
            border-color: $primary;
        }
        &--secondary {
            border-color: $secondary;
        }
        &--success {
            border-color: $success;
        }
        &--warning {
            border-color: $warning;
        }
        &--danger {
            border-color: $danger;
        }
        &--info {
            border-color: $info;
        }
        &--yellow {
            border-color: $yellow;
        }
    }

    // icons block
    &__icons-block {
        padding: 0 0 rem(30);
        text-align: center;
        p {
            height: rem(30);
        }
        li {
            text-align: center;
            display: inline-block;
            width: rem(40);
            height: rem(40);
            line-height: rem(40);
            font-size: rem(36);
            padding: rem(10) rem(30);
            box-sizing: content-box;
            border-radius: 3px;
            background: $gray-lighten;
            margin: rem(10);
            &:hover {
                background: $black-lighten;
                color: $white;
            }
        }
        .tooltip {
            font-size: rem(18);
        }
    }

    // steps
    &__step {
        color: $text;
        background-color: $white;
        padding: rem(20);
        border-radius: 3px;
        display: block;
        &__digit {
            float: left;
            margin-right: rem(20);
            font-size: rem(42);
            width: rem(56);
            line-height: rem(50);
            text-align: center;
            font-weight: bold;
            i {
                font-size: rem(36);
            }
        }
        &__title {
            font-weight: bold;
            font-size: rem(16);
        }
        &__desc {
            p {
                margin-bottom: 0;
            }
        }
        &--default, &--primary, &--secondary,
        &--success, &--info, &--warning, &--danger {
            color: $white !important;
        }
        &--default {
            background: $default !important;
            border-bottom-color: $default;
        }
        &--primary {
            background: $primary !important;
            border-bottom-color: $primary;
        }
        &--secondary {
            background: $secondary !important;
            border-bottom-color: $secondary;
        }
        &--success {
            background: $success !important;
            border-bottom-color: $success;
        }
        &--info {
            background: $info !important;
            border-bottom-color: $info;
        }
        &--warning {
            background: $warning !important;
            border-bottom-color: $warning;
        }
        &--danger {
            background: $danger !important;
            border-bottom-color: $danger;
        }
        &--disabled {
            cursor: not-allowed;
            opacity: .65;
        }
        &--squared {
            border-radius: 0;
        }
        @media (max-width: $md-max-width) {
            margin-bottom: rem(16) !important;
            margin-top: 0 !important;
        }
    }
    @at-root {
        // card-header child's
        .card-header {
            .cat__core__step {
                padding: rem(5) 0 rem(10) 0;
                margin-bottom: rem(-12);
                margin-top: rem(0);
                color: $text !important;
                background-color: $white !important;
                border-bottom-width: 3px;
                border-bottom-style: solid;
                border-radius: 0;
                &__digit {
                    font-size: rem(28);
                    line-height: rem(38);
                    height: rem(24);
                    display: block;
                    width: auto;
                    min-width: rem(40);
                    margin: 0 rem(10);
                    i {
                        font-size: rem(24);
                    }
                }
                &__title {
                    font-weight: bold;
                    font-size: rem(14);
                }
                &__desc {
                    padding-top: 0;
                    p {
                        font-size: rem(12);
                        margin-bottom: rem(5);
                        color: $gray-darken;
                    }
                }
            }

            @media (max-width: $md-max-width) {
                [class^="col-"]:last-child {
                    .cat__core__step {
                        margin-bottom: rem(-13) !important;
                    }
                }
            }
        }
    }

    // steps inline (pills)
    &__steps-inline {
        display: inline-block;
        &:before, &:after {
            content: " ";
            display: table;
        }
        .cat__core__step {
            float: left;
            height: rem(22);
            border: none;
            border-left-width: rem(0);
            background: $gray-lighten;
            line-height: rem(25);
            color: $default;
            text-align: center;
            border-radius: rem(0);
            padding: 0 rem(15);
            &:first-child {
                border-right-width: 1px;
                border-radius: 100px 0 0 100px;
                padding-left: rem(18);
            }
            &:last-child {
                border-left-width: 0;
                border-radius: 0 100px 100px 0;
                padding-right: rem(18);
            }
            &--active {
                background: $primary;
                color: $white;
            }
        }
    }

    // default spinner
    &__spin {
        -webkit-animation: fa-spin 1s infinite linear;
        -o-animation: fa-spin 1s infinite linear;
        animation: fa-spin 1s infinite linear;
    }

    // spinner with animation pauses
    &__spin-delayed {
        -webkit-animation: fa-spin-delayed 4s infinite ease-in-out;
        -o-animation: fa-spin-delayed 4s infinite ease-in-out;
        animation: fa-spin-delayed 4s infinite ease-in-out;
    }

    // spinner with animation pauses for :after and :before child
    &__spin-delayed--pseudo-selector:before,
    &__spin-delayed--pseudo-selector:after {
        display: inline-block;
        -webkit-animation: fa-spin-delayed 3s infinite ease-in-out;
        -o-animation: fa-spin-delayed 3s infinite ease-in-out;
        animation: fa-spin-delayed 3s infinite ease-in-out;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////
/*  CORE ANIMATIONS */

// default spinner animation
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

// animation with pauses
@-webkit-keyframes fa-spin-delayed {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.card-block.custom-card-block{
  background: white;
  padding: 0px 25px;
  .card-title{
    padding: 1.35rem 0;
  }
  .card-text{
    margin-bottom: 1.35rem;
  }
}

.custom-label{
  font-weight: bold;
}

.card-block.custom-card-block.custom-card-block-bodered{
  border: 1px solid #e4e9f0;
}
.card.custom-card{
  min-height: auto;
}

.card-block>.card{
  min-height: auto;
}

.card-block{
  padding: 25px;
}


.card-header.custom-card-header{
  padding: 10px 25px ;
    border: 1px solid #e4e9f0;
    vertical-align: middle;
    border-radius: 2px 2px 0 0;
  .card-block{
    padding-left: 0 !important;
    font-size: 18px;
    color: $main-color;
    padding-bottom: 0;
    padding: 0;
    display: block;
    i{
      margin-right: 15px;
    }

  }
  .cat__core__title{
    font-size: 16px;
    font-weight: bold;
  }
}

.card-header{
  padding: 25px;
  border-bottom: none;
  padding-bottom: 0px;
  .card-block{
    padding-left: 0 !important;
    font-size: 18px;
    color: $main-color;
    border-bottom: none;
    padding-bottom: 0;
    padding: 0;
    margin-bottom: 10px;
    display: block;
    i{
      margin-right: 15px;
    }
  }
}
.breadcrumb{
  &-item{
    &.active{
      color: $main-color;
    }
    &+ .breadcrumb-item::before {
        content: ">";
    }
  }
}

.btn{
  cursor: pointer;
  &.btn-success{

    a{
      color: white;
    }
  }
  &.btn-sm{
    padding: 0.15rem 0.6rem;
  }

}
.dataTables_length{
  .btn{
    &.btn-success{
      margin-bottom: 27px !important;
      a{

      }
    }
  }
}
.table {
  thead {
    th {
      border-bottom: none;
      border-top: none;
      color: $main-color;
    }
    tr{
      background-color: $main-color-fade1;
    }
  }
  li{
    list-style: none;
    display: inline-block;
    .fa-pencil {
        color: green;
    }
    &.bin{
      color: red;
      margin-left: 10px;
    }
  }
}

.pagination {
  .page-item{
    &.previous,&.next,&:last-child{
      .page-link {
        background: $main-color;
        color: white;
        border-color: $main-color;
      }
    }

    &.active{
      .page-link {
          background: #e4e9f0 !important;
          border-color: #e4e9f0 !important;
          color:  $main-color;
      }
    }
    &.disabled{
      .page-link{
        color: white;
        border-color: $main-color;
        background: $main-color !important;
      }
    }
  }
}
.sigle-form-button{
  margin-top: 50px;
}
/***** form-group ******/
.form-group{
  label.col-form-label{
    font-weight: bold;
  }
}
/**** END form-group ****/


/**** form wizard ******/
/*Start Wizard*/
.form-bootstrapWizard {
  pointer-events: none;
  cursor: default;
  font-family: "PT sans-serif";
}
#bootstrap-wizard-1{
  .tab-content{
    margin-top: 55px;
  }
}
.bootstrapWizard {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%; }

.bootstrapWizard a:hover, .bootstrapWizard a:active, .bootstrapWizard a:focus {
  text-decoration: none; }

.bootstrapWizard li {
  display: block;
  float: left;
  width: 33.3%;
  text-align: center;
  padding-left: 0; }
  .bootstrapWizard li a {
    pointer-events: none;
    cursor: default; }

.bootstrapWizard li:before {
  border-top: 3px solid #d6d9de;
  content: "";
  display: block;
  font-size: 0;
  overflow: hidden;
  position: relative;
  top: 11px;
  right: 1px;
  width: 100%;
  z-index: 1; }

.bootstrapWizard li:first-child:before {
  left: 50%;
  max-width: 50%; }

.bootstrapWizard li:last-child:before {
  max-width: 50%;
  width: 50%; }

.bootstrapWizard li.complete .step {
  background: #0aa66e;
  padding: 1px 6px;
  border: 3px solid #55606E;
  pointer-events: none;
  cursor: default; }

.bootstrapWizard li .step i {
  font-size: 10px;
  font-weight: 400;
  position: relative;
  top: -1.5px; }

.bootstrapWizard li .step {
  background: #d6d9de;
  color: #fff;
  display: inline;
  font-size: 20px;
  font-weight: 700;
  line-height: 12px;
  padding: 8px 15px;
  border: 3px solid transparent;
  border-radius: 50%;
  line-height: normal;
  position: relative;
  text-align: center;
  z-index: 2;
  transition: all 0.1s linear 0s; }

.bootstrapWizard li .step3 {
  padding: 8px; }
  .bootstrapWizard li .step3 .fa-check {
    font-size: 24px;
    vertical-align: middle;
  }
.bootstrapWizard li.active .step3 {
  padding: 8px !important;
  border: 3px solid green !important; }
  .bootstrapWizard li.active .step3 .fa-check {
    color: green; }

.bootstrapWizard li.active .step, .bootstrapWizard li.active.complete .step {
  background: white;
  color: $main-color;
  font-weight: 700;
  padding: 8px 15px;
  font-size: 20px;
  border-radius: 50%;
  border: 3px solid $main-color; }

.bootstrapWizard li.complete .title, .bootstrapWizard li.active .title {
  color: #2B3D53; }

.bootstrapWizard li .title {
  color: #bfbfbf;
  display: block;
  font-size: 13px;
  line-height: 15px;
  max-width: 100%;
  position: relative;
  table-layout: fixed;
  text-align: center;
  top: 20px;
  word-wrap: break-word;
  z-index: 104; }

.wizard-actions {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%; }

.wizard-actions li {
  display: inline; }

.tab-content.transparent {
  background-color: transparent; }

.law-parent-list {
  padding: 0;

  border-radius: 9px; }

.bootstrapWizard li.active:before {
  border-top: 3px solid $main-color; }

.block-law-detail .hidden {
  display: none; }
.block-law-detail .js-detail-remove {
  float: right;
  font-size: 12px;
  margin-top: -27px;
  margin-bottom: 8px;
  margin-right: 0px;
cursor: pointer;
}

.block-law-detail .js-detail-edit {
  float: right;
  font-size: 12px;
  margin-top: -27px;
  margin-bottom: 8px;
  margin-right: 15px;
cursor: pointer;
}
.block-law-detail .section-detail{
  display: flex;
}
.block-law-detail{
  .select-department{
    padding: 20px;
    padding-top: 4px;
  }
  .textarea{
    padding: 4px;
  }
  .js-detail-add-second{
    padding-left: 4px;
  }
  .js-detail-container-second{
    margin-left: 0;
    padding-bottom: 2px;
    padding-left: 0px;
    padding: 7px;
  }

  .show-input{
    margin: 0;
    padding-top: 15px;
    border-top: 1px solid;
    margin-top: 10px;
    .input-list{
      height: 26px;
      background-color: #eef0f4;
      margin: 0;
      padding-left: 0 !important;
      border-radius: 5px;
      margin-right: 20px;
      .input-list-text{
        padding: 2px 8px;
        padding-right: 3px;
      }
      .close{
        //margin-top: -10px;
        //margin-right: -4px;
        padding-right: 7px;
        margin-left: 5px;
        .remove-department{
          font-size: 10px;
        }
      }
    }
  }
}
.new-law .tab-content {
  margin-top: 35px; }
  .new-law .tab-content h3 {
    margin-bottom: 25px;
    color: $main-color-dark;
    font-size: 22px;
  }
.block-detail-container-second{
  margin-top: 15px;
}
.js-detail-container-second {
  border-radius: 9px;
  margin-left: 80px;
  padding: 7px;
  padding-top: 0px;
  background-color: #c5d0de;
  margin-bottom: 15px;
  cursor: pointer;
}

.js-detail-container-third {
  border-radius: 9px;
  margin-left: 80px;
  background-color: #afb7c1;
  padding: 15px;
  margin-bottom: 10px; }

.js-detail-second-remove {
  float: right;
  margin-bottom: 8px;
  cursor: pointer;
 }

 .js-detail-second-edit {
  float: right;
  margin-bottom: 8px;
  cursor: pointer;
 }

 .node-group-label{
  font-weight: bold;
 }

.js-detail-third-remove {
  float: right;
  margin-right: -11px;
  margin-top: -11px;
  margin-bottom: 10px;
  font-size: 14px;
  color: red; }

.js-detail-add-third {
  color: green;
  font-size: 18px;
  margin-top: 5px; }

.js-detail-add-second {
  color: green;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.btn.js-detail-add {
  margin-left: 0; }

.button {
  float: left;
  margin-top: 35px;
  margin-right: 0 !important; }

#tab3 .form-actions {
  text-align: left;
  border: none; }
#tab3 .text-success {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 27px;
  display: inline-block;
  float: none;
  width: 100%; }

.btn-setsame{
  width: 110px;
}

/*End Wizard*/

/* tag */
.tags.badge.summary-tag{
   background: none !important;
   color: inherit !important;
   padding: 0.1rem 0;
   margin-right: 3px;
  &:before{
    content: '';
    width: 3px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    margin-right: 3px;
    background: #dccfcf;
  }
  &.Approved{
    &:before{
      background: #03BA40;
    }
  }

  &.Created,&.Assigned{
    &:before{
      background: #F7CB2A;
    }
  }

  &.Assessed{
    &:before{
      background: rgb(36, 195, 223);
    }
  }
  &.Confirmed,&.Proposed{
    &:before{
      background: rgb(170, 241, 146);
    }
  }
  &.Ticketed{
    &:before{
      background: #DE1D10;
    }
  }
  &.Cancled,&.Draft{
    &:before{
      background: #dccfcf;
    }
  }
}
.note-editor{
  padding: 3px;
  border: none !important;
}

.cat__top-bar{
  .egat_logo{
    float: left;
    width: auto;
    background: none;
    /* padding: 0; */
    height: auto;
    padding: 8px;
    padding-left: 28px;
    img{
      width: 110px;
      height: auto;
      max-height: initial;
    }
  }
}
  .login .cat__pages__login__header img {
    width: 95px;
    max-width: inherit;
    max-height: inherit; }
  .login .cat__pages__login__header a {
    float: left; }
  .login .cat__top-bar__left {
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.24;
  }
  .login .cat__pages__login__block {
    padding-top: 10px; }
  .login .btn.btn-primary, .login .show > .btn.btn-primary {
    background-color: $main-color;
    border-color: $main-color; }
  .login .btn.btn-primary:hover,.login .btn.btn-primary:focus{
    background-color: #11738e !important;
    border-color: #11738e !important;
  }
  .login .form-actions {
    text-align: center; }
  .login .form-control {
    border-color: $primary; }
  .login .form-group label {
    color:#000000; }
  .login .checkbox label {
    color: rgba(41, 43, 44, 0.64);
    font-size: 13px; }
  .login .pull-right {
    font-size: 13px;
    color: #0751a0; }
  .login .header {
    color: $main-color; }
  .login .form-actions {
    border-top: none; }
  .login span.input-group-addon {
    border-color: rgb(65, 150, 173);
    background-color: rgb(65, 150, 173); }
  .login{
    .cat__pages__login__block__inner{
      background-color: rgba(255, 255, 255, 0.52);
    }
    .cat__top-bar__left{
      display: block;
      .text-top{
        &-1,&-2{
          color:$main-color;
        }
        &-3{
          color:$main-color;
        }
      }
    }
  }

  .login{
    .cat__pages__login--fullscreen{
      position: fixed;
      z-index: 20000;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      background-size: cover;
      background-repeat: no-repeat;


    }

    .cat__pages__login__block {
        padding: 1.71rem 2.85rem;
        width: 100%;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        position: relative;
        z-index: 2;
    }
    .cat__pages__login__header {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        width: 100%;
        color: #fff;
        padding: 2.85rem;
    }
    .cat__pages__login__block__inner {
        min-width: 21.42rem;
        max-width: 35.71rem;
        margin: 0 auto;
        padding: 3.57rem 2.85rem 1.42rem;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.65);
        position: relative;
    }

  }

//***** modal ******//

  .modal-header{
    background-color: none;
    display: block;
    .icmn{
      font-size: 25px;
      margin-left: 23px;
      color: $main-color;
      vertical-align: middle;
    }

    .modal-title{
      display: inline-block;
      font-size: 18px;
      color: $main-color;
      font-weight: bold;
    }
    .close{
      color: red;
      font-size: 30px;
      margin-top: -7px;
    }
  }
  .modal-body{
    ul{
      list-style: none;
      padding-left: 40px;
      list-style-type: none;
    }
  }

//***** modal ***//

//***** กฎหมายที่อยู่ระหว่างการดพเนินการ/ยืนยันความสอดคล้อง ******//
#artifact-assesment{
  .div-checkbox{
    display: block;
    text-align: left;
    margin-right: 10px;
    margin-top: 25px;
    padding-left: 30px;
    input.checkbox{
      font-size: 50px;
    }
  }
  .button{
    padding-left: 20px;
  }
  .div-text-editor{

    padding: 10px;
  }
  .note-editor{
    padding: 2px;
    background-color: whitesmoke;
  }
  select{
    margin-top: 12px;
  }
  .success-detail{
    padding: 50px 150px;
  }
  .alert-danger{
    background: none;
    color: red;
    padding-left: 10px;
  }
}


//***** END กฎหมายที่อยู่ระหว่างการดพเนินการ/ยืนยันความสอดคล้อง ******//

//***** กฎหมายที่อยู่ระหว่างการดำเนินการ/ตรวจสอบผลความเกี่ยวข้อง ******//
.review-artifact-assesment{
  table{
    input.form-check-input{
      margin-left: 0;
    }
  }
  .btn-present-executive{
    margin-top: 20px;
  }
  .law-info{
    margin: 0 auto;
    /* display: inline-block; */
    border: 3px solid $yellow-color;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    width: 450px;
    margin-left: 45px;
    margin: 0 auto;
    margin-bottom: 75PX;
    margin-top: 15px;
    .title{
      position: absolute;
      width: 100%;
      left: 0;
      top: -20px;
      text-align: center;
      text-transform: uppercase;
      font-size: 23px;
      font-weight: bold;
      color: $blue-light;
      line-height: 34px;
      span{
        background-color: white;
        padding: 0 10px;
      }
    }
    .button{
      display: inline-block;
      width: 100%;
      position: absolute;
      bottom: -28px;
      left: 0;
      padding: 0 50px;
      button{
        background-color: $blue-light;
        width: 100%;
        a{
          font-size: 14px;
        }
      }

    }

  }
}
.show_detail{
    padding: 30px;
    &--row{
      margin-bottom: 7px;
      .show_detail--title{
        font-weight: bold;
        color: $blue-light;
        display: inline-block;
        vertical-align: top;
      }
      .show_detail--value{
        display: inline-block;
      }
    }
}

#modal-view{
  .show_detail{
    &--row{
      display: flex;
    }
  }
  .modal-footer{
    position: relative;
    .div-checkbox{
      position: absolute;
      left: 50px;
      top: 23px;
      .alert-danger{
        background: none;
        color: red;
        font-style: italic;
        padding: 0;
        padding-left: 11px;
      }
    }
  }
  ul{
    padding: 0;
    list-style-type: decimal;
    padding-left: 15px;

    li{
      position: relative;
      padding-left: 0px;
      &:before{
        content: '';
        width: 7px;
        height: 7px;
        background-color: #f9ce26;
        display: block;
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 7px;
        display: none;
      }
      a{
        color: #0275EC;
      }
    }
  }
  #request-review-expand{
    #content-request-review{
      width: 100%;
      margin: 0 auto;
      margin-bottom: 28px;
      padding: 40px;
      .title{
        font-weight: bold;
        color: $blue-light;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 5px;
      }
    }
  }
}


//***** END กฎหมายที่อยู่ระหว่างการดำเนินการ/ตรวจสอบผลความเกี่ยวข้อง ******//

//*****  กฎหมายที่อยู่ระหว่างการดำเนินการ/อนุมัติและรับทราบความเกี่ยวข้อง ******//
#approve-artifact-assesment{
  button{
    a{
      color: white;
    }
  }
  .footer-button{
    margin-top: 45px;
  }

}
#modal-approve{
  input{
    margin-left: 0;
    display: inline-block;
    position: relative;
    margin-right: 5px;
  }
  .signature_title{
    font-weight: bold;

    padding-top: 9px;
    margin-top: 5px;
  }
  .text-explain{
    font-size: 11px;
    margin-top: 5px;
    color: rgba(34, 32, 52, 0.37);
  }
}
//***** END กฎหมายที่อยู่ระหว่างการดำเนินการ/อนุมัติและรับทราบความเกี่ยวข้อง ******//

// *** law/view *** //
.view-tab{
  .nav-tab-block{
    width: 100%;
  }

  /*ul.nav-tabs{
    margin-bottom: 0;
    li{
      a{
        display: flex;
        padding: 0;
        border-radius: 15px 0 0 0;
        box-shadow: -1px -9px 24px 4px rgba(0,0,0,0.13);
        border-radius: 15px 15px 0 0 !important;
        .icon{
          padding: 10px 20px;
          font-size: 26px;
          background-color: #d9534f;
          color: white;
          border-radius: 15px 0 0 0;
          i{
            vertical-align: middle;
          }
        }
        .title{
          padding: 10px 20px;
          color: #d9534f;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 14px;
          vertical-align: middle;
          padding-top: 20px;
        }
      }
      &.nav-item{
          &-2{

              a{
                .title{
                  color: #36617d;
                }
                .icon{
                  background-color:#36617d;
                }
              }

          }
      }
    }
  }*/

  .show_detail{
    font-size: 14px;
    &--row{
      display: flex;
      margin-bottom: 20px;
    }
    &--title{
      max-width: 250px;
    }
    &--value{
      ul{
        padding: 0;
        list-style-type: decimal;
        padding-left: 15px;

        li{
          position: relative;
          padding-left: 0px;
          &:before{
            content: '';
            width: 7px;
            height: 7px;
            background-color: #f9ce26;
            display: block;
            border-radius: 10px;
            position: absolute;
            left: 0;
            top: 7px;
            display: none;
          }
          a{
            color: #0275EC;
          }
        }
      }
    }
  }

  .law-detail{
        padding-top: 55px;
        .image{
          text-align: center;
          display: none;
          img{
            width: 150px;
          }
        }
        .title{
          font-size: 18px;
          text-align: center;
          padding-top: 0px;
          margin-bottom: 20px;
        }
        .law_title{
          // margin: 15px 0 10px 0;
          padding:10px 0 4px 0;
          margin:0;
          border:solid 1px #eee;
        }
        .law_child{
          padding-left: 20px;
        }
  }

  .btn-back{
    float: right;
    margin-right: 15px;
    margin-top: 30px;
  }
  .law-detail{
    //border: 1px solid #ddd;
    padding: 30px;
    margin: 0px;
    margin-bottom: 22px;
    //box-shadow: -1px -1px 24px 8px rgba(0, 0, 0, 0.13);
    .intro{
      margin-bottom: 15px;
    }
  }
}

// *** END law/view *** //

//***** กอง หมวด ******//
.table-administrator{
  border-top: 2px solid rgba(128, 128, 128, 0.35);
  margin-top: 35px;
  padding-top: 25px;
  .text-header{
    color: $main-color;
    font-size: 16px;
  }
  td{
    input{
      border:none;
      padding-left: 0;
    }
    .form-control:disabled{
      background: none;
    }
  }
}
//***** END กอง หมวด ******//

//*** retention  ****///
#addnew-plan-wizard{
  .detail{
    .title{
      margin-bottom: 20px;
      font-weight: bold;
    }
    .div-checkbox{
      text-align: center;
      input{
        margin: 0;
      }
    }
  }
  .note-editor{
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.13);
    width: 100%;
  }
  #tab2{
    .detail{
      .form-group{
        /*border-bottom: 1px dotted #ddd;*/
        padding-bottom: 15px;
      }
      .law-section{

        .law-parent{
          border-top: 1px dotted #ddd;
          padding-top: 25px;

        }
        &:first-of-type{
          .law-parent{
            border: none;
          }
        }

        .law-child{
          padding-left: 60px;
        }
      }

    }
  }
}

#evaluate-the-practice{
  .document-type{
    background-color: rgba(99, 108, 114, 0.08);
    padding: 15px;
    margin-bottom: 10px;
    display: none;
    .title{
      text-align: center;
      margin-bottom: 17px;
      font-weight: bold;
    }
  }
  label{
    font-weight: bold;
  }
  .document-list{
    li{
      a{
        color:#0275d8;
      }
    }
  }
  .btn-warning{
    margin-top: 7px;
  }

}

.find-document{
  input[type="checkbox"]{
    margin: 0
  }
  .button{
    text-align: right;
    width: 100%;
    .btn-success{
      margin-right: 15px;
    }
  }

}

//*** END retention ***//

// *** teb ***//
.nav-tabs .nav-link.active{
  font-weight: bold;
}

//*** tags ***//
.tags.badge{
  font-size: 11px;
  font-weight: bold;
}

//***** END tags ***//
.table-addDepartment{
  .icmn-cross {
    color: red;
    margin-top: 12px;
    display: block;
  }
}

//**** #user-permissions *****//
#user-permissions-group{
  .checkbox{
    margin: 0 auto;
  }
}

// **** all notification ******//
.cat__menu-right{
  width: 400px;
  .cat__apps__messaging__tab{
    padding-left: 0;
  }
  .cat__apps__messaging__tab_close{
    margin-right: -15px;
    margin-top: -13px;
    color:#afafaf;
  }
  .cat__menu-right__header{
    font-size: 15px;
    color: $main-color;
    .fa-times{
      color: red;
    }
    .fa-bell-o{
      font-size: 18px;
    }
  }
  .cat__apps__messaging__tab__content{
    margin-left: 0;
    padding-left: 0;
  }
  .cat__apps__messaging--text{
    color:#b8beca;
    font-size: 13px;
  }
}


/********** evaluate-practice **************/
#evaluate-practice{
  .document-type{
    background-color: #f3f3f3;
    padding: 20px;
    margin-bottom: 20px;
  }
  .icmn-cross{
    color: red;

  }
  .form-control:disabled{
    background: none;
    border: none;
    padding: 0;
  }
  table{
    a{
      color: #0275d8;
    }
  }

  .readmore-toggle {
    .fa-angle-down{
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
      transition: all 0.5s;
    }
    &.collapsed{
      .fa-angle-down{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
      }

    }
  }


  #search-document{
    .view-tab{
      width: 100%;
    }

  }
  .nav-tabs-horizontal ul{

      list-style-type: none;
      padding-left: 0;
  }
  .form-check-input{
    margin-left: 0;
  }
}


/***** END evaluate-practice **************/

.dropdown-menu{
  right: 0;
  left: inherit;
}

// menu left hover
.cat__menu-left--visible{
  .cat__menu-left__pin-button[_ngcontent-c0]   div[_ngcontent-c0]{
    height: 0;
    background: none;
    &:before{
      top: -0.1rem;
    }
    &:after{
      bottom: -0.1rem;
    }
  }
  .cat__top-bar__left{
    left: 200px;

    transition: all 0.3s;
  }
}

//******* HOME ********
.card.home{
  background: #f1f1f1;
  margin-bottom: 0;
  .tab-content{
    min-height: 100vh;
  }
  .card{
    padding: 0;
    min-height: 245px;
    float: left;
    background: none;
    &:nth-of-type(odd){
      padding-right: 15px;
      clear: both;
    }
    &:nth-of-type(even){
      padding-left: 15px;

    }
    .card-block{
      background: white;
      padding: 15px 18px;
    }
  }
  .card-header-top{
    background: #f1f1f1;
  }
  .card-block.card-block-detail{
    padding: 26px;
    ul{
      list-style: none;
      font-size: 14px;
      padding-left: 3px;
      li{
        &:hover{
          color:$hover-blue;
          cursor: pointer;
        }
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
        &:before{
          content: "\F0DA";
          font: normal normal normal 14px/1 FontAwesome;
          width: 10px;
          height: 10px;
          position: absolute;
          left: 0;
          top: 4px;

        }
        a{

        }
      }
    }
    .card-header{
      border-bottom: 2px solid #f1f1f1;
      padding: 13px 18px;
      .card-title{
        font-size: 18px;
        .icon-left{
          margin-right: 12px;
          vertical-align: middle;
          font-size: 20px;
        }
        .icon-right{
          font-size: 18px;
          vertical-align: middle;
        }
        .title-span{
          vertical-align: middle;
          font-size: 18px;

        }
      }
      .card-sub-title{
        font-size: 15px;
        vertical-align: baseline;

      }
    }

    .card-block{

    }

  }

}


// check-evaluate,review-artifact-assesmemt

.modal-check-evaluate{
  .modal-footer{

    border: none;
    border-bottom:1px solid #eceeef;
  }

}
a.btn.detail-incomplete{
  clear: both;
  width: 180px;
  margin-left: 35px;
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 180px;
  /* width: auto; */
  background: none !important;
  color: inherit !important;
  border: none;
  cursor: pointer;
  &:hover,&:focus{
    outline: none !important;
    color: $hover-blue !important;
  }
  .fa-angle-down{

    transition: all 0.5s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 10px;
  }
  &.collapsed{
    .fa-angle-down{

      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

}

.cat__apps__messaging__tab__time{
  top: 25px !important;
}


.btn.btn-default, .btn.btn-primary, .btn.btn-secondary, .btn.btn-success, .btn.btn-info, .btn.btn-warning, .btn.btn-danger, .show > .btn.btn-default, .show > .btn.btn-primary, .show > .btn.btn-secondary, .show > .btn.btn-success, .show > .btn.btn-info, .show > .btn.btn-warning, .show > .btn.btn-danger{
  background-color: #6a7a84 !important ;
  border-color: #6a7a84 !important ;
}

.btn.btn-success, .show > .btn.btn-success{
  &:hover{
    background-color: #46be8a !important ;
    border-color: #46be8a !important ;
  }
}
.btn.btn-primary, .show>.btn.btn-primary {
    &:hover{
      background-color: #0190fe !important;
      border-color: #0190fe !important;
    }
}

.btn.btn-secondary, .show>.btn.btn-secondary{
  &:hover{
    background-color: #798993 !important;
    border-color: #798993 !important;
  }
}
.btn.btn-info, .show>.btn.btn-info {
    &:hover{
      background-color: #0887c9 !important;
      border-color: #0887c9 !important;
    }
}

.btn.btn-warning, .show>.btn.btn-warning {
    &:hover{
      background-color: #f39834 !important;
      border-color: #f39834 !important;
    }
}
.btn.btn-danger, .show>.btn.btn-danger {
    &:hover{
      background-color: #fb434a !important;
      border-color: #fb434a !important;
    }
}


//*********//
#new-law-wizard{
  .form-group.block-law-detail{
    padding:3px;
    float:right;
    width: 100%;
    //border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding-top: 25px;
    padding-bottom: 25px;

    &:nth-of-type(1){
      border-top: 1px solid #cecece;
      padding-top: 35px;
    }
  }

  .js-detail-add{
    margin-left: 0;
  }
}

#addnew-file::-webkit-file-upload-button {
    color: white;

    border: 1px solid #6a7a84;
    border-radius: 5px;
    background: #6a7a84;
    padding: 0.35rem 1rem;
}

.law-detail{
  table{
    td{
      border: 1px solid #f1f1f1;
      padding: 8px;
    }
    tr{

    }
  }
}

.artifact-assesment-section{
  display: flex;
  border-bottom: 1px solid #e4e9f0;
  padding-bottom: 25px;
  padding-top: 25px;
  .title{
    text-align: center;
  }
  .inprogress{
    .detail{
      .section{
        display: flex;
        select{
          margin-top: 0;
        }
      }
      .button{
        width: 100%;
      }
      .back-to-review{
        padding-top: 15px;
      }
      ul{
        padding-left: 15px;
        list-style-type: decimal;
        a{
          color:#0088ff;
        }

      }
    }
  }
  .show_detail--title{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
  }
  .section{
    .form-group{
      margin: 0;
      padding: 0;
      .col-form-label{
        padding-left: 0;
      }
    }

  }
  .div-text-editor{
    padding-left: 5px;
  }
}

.tab-title{
  .show_detail--title{

    text-align: center;
    max-width: 100%;
    width: 100%;

  }
}
.add-new-artifact-assesment-section{
  border: none;
  background-color: #f5fbfd;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px 10px;
  position: relative;

  .inprogress{
    .input-list-text{
      height: 26px;
      background-color: #eef0f4;
      margin: 0;
      /* padding-left: 0 !important; */
      border-radius: 5px;
      margin-right: 10px;
      padding: 1px 10px;
    }
  }
}
#modal-addnew{
  .modal-body{
    padding: 15px 35px;
  }
  .modal-title{
    padding-left: 20px;
  }
  .block-law-detail {
    .select-department{
      padding: 0;
      .review-form{
        margin: 0;
      }
    }
    .show-input{
      border-top: 1px solid #e6e6e6;
    }
  }
  .div-checkbox{
    margin: 0;
    padding: 30px 0;
  }
  .lisence-list{
    padding-left: 10px;
    i{
      padding-left: 20px;
      vertical-align: middle;
      font-size: 11px;
    }
    ul{

      padding-left: 30px;
      li{
        margin-bottom: 8px;
        list-style-type: disc;
      }

    }
  }
  .retention-label{

    max-width: 20%;
    /* width: 26%; */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11%;
    flex: 0 0 11%;

  }
  a{
    &:hover{
      color:#0275d8;
      cursor: pointer;
    }
  }
}


.cat__menu-left__item_notification{
  border-top: 1px solid white;
}

.table_search{
  .cat__top-bar__search{
    width: 80%;
    float: left;
  }
  .btn{
    float: right;
  }
}

.div-pagination{
  display: table;
  margin: 0 auto;
}
.addnew-file{
  margin-top: -15px;
  .text{
    a{
      width: 320px;
      display: inline-block;
      vertical-align: top;
      word-wrap: break-word;
      margin-right: 15px;
    }
    .fa-trash{
      color: red;
    }
  }
}

.lisence-button-addmore{
  text-align: right;
  padding-right: 0;
}

table.dataTable.nowrap.table-view th{
  border: 1px solid #f1f1f1;
  text-align: center;
  color: black;
}
.table-view thead tr{
  background: none;
}

.law-view{
  .add-new-artifact-assesment-section{
    background: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    .inprogress{
      border-left: 1px solid #f1f1f1;
    }
    .detail{
      padding: 12px;

    }
    .detail2{
      padding: 12px;

    }
    .detail-department,.detail-followUpPeriod{
      border-right: 1px solid #f1f1f1;
    }
    .detail-department{
      border-left: 1px solid #f1f1f1;
      margin: 0;
      .input-list-text{
        height: 20px;
        font-family: 'Trirong', serif;
        font-weight: bold;
        background-color: #eef0f4;
        margin: 0;
        /* padding-left: 0 !important; */
        border-radius: 4px;
        margin-top:2px;
        margin-right: 3px;
        padding: 1px 5px;
      }
    }
    .detail-followUpPeriod{
      text-align: center;
    }
    &:last-of-type{
      border-bottom: 1px solid #f1f1f1;
    }

  }
  .view-tab .law-detail .law_title{
    margin: 0;
  }

  .title-of-view-list {
    margin: 0;
    div{
      text-align: center;
      font-weight: bolder;
      border-left: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      padding: 10px;
      &:last-of-type{
        border-right: 1px solid #f1f1f1;
      }
    }
  }

}

#artifact-assesment{
  thead{
    tr{
      background: none;
    }
  }
}


cat-page {
  .custom-card-block-evaluate-practice{
    .table thead tr{
      background: none;
    }
    .table thead th{
      color: inherit;
    }
    .card-block{
      padding: 11px 25px;
      border: 1px solid #e4e9f0;
      border-top: none;
    }
    .card{
      min-height: initial;
      margin-bottom: 35px;

    }
    .dropdown-menu{
      a{
        cursor: pointer;
      }
    }
    #review .button{
      margin-top: 0;
      /* text-align: center; */
      margin-bottom: 25px;
      margin-left: 30px;
    }
    .div-checkbox{
      margin-bottom: 3px;
    margin-right: 45px;
      .checkbox{
            margin-left: -15px !important;
      }
    }
  }
}

.custom-evaluate-row{
  margin-bottom: 15px;
}
.comment{
  .title-comment{
    border-bottom: 1px solid #e4e9f0;
    padding-bottom: 8px;
    margin-bottom: 19px;
    .fa{
      font-size: 20px;
      margin-right: 5px;
    }
    .cat__core__title {
        font-size: 18px;
        font-weight: bold;
    }

  }
  .add-comment{
    margin-bottom: 35px;
  }
  .all-comment{
    .title{
      border-bottom: 1px solid #e4e9f0;
    }
    .number{
        color: #2393f3;
            margin-right: 8px;
            font-weight: bold;
    }
    .wrap-title{
      border-bottom: 2px solid #2393f3;
      display: inline-block;
      padding-bottom: 5px;
    }
    .comment-list{
      padding: 20px 10px;
      border-bottom: 1px solid #e4e9f0;
      .date{
        font-size: 10px;
      }
      .name{
        font-size: 13px;
          font-weight: bold;
          margin-bottom: 5px;
      }
    }
  }
}

.assessment-name{
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}

.assessment-date{
  font-size: 10px;
}

#modal-check-evaluate{
  .show_detail--row{
    display: flex;
  }
}

/* To show modal dialog not on the top of the page */
/*.modal.show .modal-dialog {
  transform: translate(0, 10vh);
}*/
/* To align close sign (x) to the right */
.ems-modal-dialog .modal-header {
   display: block!important;
 }
/* Change background */
.modal {
  background-color:  rgba(90,90,90,0.5);
}

.artifact-node-content{
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
}

.dt-buttons{
  a.dt-button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
}

.btn-print{
  margin-right: 8px;
  margin-bottom:8px;
}

.form-control-filter {
  display: none;
  width: 75%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}