// Colors
$white: #ffffff;

$text: #74708d;
$text-lighten: #c0bdd0;
$text-darken: #615d7c;
$text-darken-more: #514d6a;

$gray: #d2d9e5;
$gray-lighten: #eef0f4;
$gray-lighten-more: #f2f4f8;
$gray-darken: #b8beca;
$gray-border: #e4e9f0;

$black: #0e0b20;
$black-lighten: #222034;
$black-lighten-more: #393749;

$blue: #0088ff;
$blue-darken: #0072d6;
$blue-light:#037d9d;
$orange: #f2a654;
$yellow: yellow;

$blue-menu: #02315a;



/*
$yellow-color: #f9ce26;
$orange-color: #fdeedd;
$orange-color-1: #f39834;
$orange-color-2:rgba(253, 236, 114, 0.73);
$blue-color: #0751a0;
$gray-color: #636c72; */


$yellow-color: #fab916;
$main-color: #4196ad;
$main-color-dark: #095469;
$main-color-fade1: #a0cad9;
$main-color-fade2: #244e5d;

$gray-color: #636c72;
$hover-color: #e0c88c;
$hover-blue: #01579B;

// Accent colors
$default: #acb7bf;
$primary: #0190fe;
$secondary: #6a7a84;
$success: #46be8a;
$info: #0887c9;
$warning: #f39834;
$danger: #fb434a;


// Font Family
$base__font-family: 'THSarabunNew','PT Sans', sans-serif;


// Font Size
$base__font-size: 14 !default;


// Convert value rem() sass mixin
@function rem($px, $base: $base__font-size) {
  @return #{floor( ($px/$base) * 100 ) / 100}rem; // to REMs

  // comment code above and uncomment below for change REMs to PXs
  //@return #{$px}px;
}


// Transitions
@mixin transition-fast() {
  transition: all 0.05s ease-in-out;
}
@mixin transition-middle() {
  transition: all 0.1s ease-in-out;
}
@mixin transition-slow() {
  transition: all 0.2s ease-in-out;
}
@mixin transition-very-slow() {
  transition: all 0.4s ease-in-out;
}
@mixin transition-color() {
  transition: color 0.2s ease-in-out;
}


// Responsive utils
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$md-min-width: 992px;
$md-max-width: 991px;
$sm-min-width: 768px;
$sm-max-width: 767px;
$xs-min-width: 544px;
$xs-max-width: 543px;
