<div>
  <div *ngFor="let group of artifactNodeGroups; let i=index" class="form-group block-law-detail" style="border-bottom:1px solid black">
    <div class="form-group clearfix law-parent-list js-detail-container js-detail-container-template">
      <div class="row mb-4">
        <div class="col-sm-2 node-group-label">
          มาตรา/ข้อ/เอกสารแนบ
        </div>
        <div class="col-sm-10">
          <form *ngIf="group.isEditMode">
            <textarea rows="3" class="form-control" name="content" [(ngModel)]="selectedArtifactNodeGroup.content"></textarea>
            <br />
            <button class="btn btn-sm btn-success mr-2  " type="button" (click)="saveArtifactNodeGroup()">บันทึก</button>
          </form>
          <div *ngIf="!group.isEditMode">
            <p>{{ group.content }}</p>
            <i class="lnr lnr-pencil js-detail-edit" (click)="editArtifactNodeGroup(group.id)"></i>
            <i class="lnr lnr-cross js-detail-remove" (click)="dialog.show()"></i>
            <swal #dialog title="ยืนยัน" text="ต้องการลบทั้งมาตราใช่หรือไม่?" type="warning" [options]="{ confirmButtonText: 'ยืนยัน', cancelButtonText: 'ไม่ต้องการ', showCancelButton: true }" (confirm)="removeArtifactNodeGroup(group.id)" (cancel)="dialog.hide()"></swal>
          </div>
        </div>
      </div>
      <div *ngIf="!group.isEditMode">
        <div style="display:flex;font-weight:bold;">
            <div class="col-md-8 detail pr-4">ข้อย่อย</div>
            <div class="col-md-4 inprogress pl-4">รายละเอียด</div>
        </div>
        <div *ngFor="let node of group.nodes; let j=index" class="artifact-assesment-section add-new-artifact-assesment-section">
          <div class="col-md-8 detail pr-4">
            <div class="text" [innerHTML]="node.content | safeHtml">
            </div>
          </div>
          <div class="col-md-4 inprogress pl-4">
            <div class="detail">
              <div class="form-group row mb-0 pull-right">
                <a class="lnr lnr-pencil js-detail-second-remove" (click)="editNodeContent(node.groupId, node.id)"></a>
                <a class="lnr lnr-cross js-detail-second-edit" (click)="dialog2.show()"></a>
                <swal #dialog2 title="ยืนยัน" text="ต้องการลบข้อย่อยใช่หรือไม่?" type="warning" [options]="{ confirmButtonText: 'ยืนยัน', cancelButtonText: 'ไม่ต้องการ', showCancelButton: true }" (confirm)="removeNodeContent(node.groupId, node.id)" (cancel)="dialog2.hide()"></swal>
              </div>
              <div class="form-group row mb-0">
                <div class="col-md-5 col-form-label pt-0" for="l0">
                  <label class="col-form-label pt-0 ">หน่วยงานที่เกี่ยวข้อง</label>
                </div>
                <div class="col-md-7 ">
                  <div class="input-list  row mb-3 ">
                    <div *ngFor="let department of group.nodes[j].departments" class="input-list-text">
                      {{ department.aliasName }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-0">
                <div class="col-md-5 col-form-label pt-0" for="l0">
                  <label class="col-form-label pt-0 ">กำหนดการติดตาม</label>
                </div>
                <div class="col-md-1">
                    {{ node.followUpPeriodYear }}
                  </div>
                  <div class="col-md-1">
                    ปี
                  </div>
                <div class="col-md-1">
                  {{ node.followUpPeriodMonth }}
                </div>
                <div class="col-md-1">
                  เดือน
                </div>
              </div>
              <div *ngIf="node.isRequiredLicense" class="form-group row mb-0 ml-0">
                <div class="col-md-55 col-form-label pt-0" for="l0">
                  <label class="col-form-label pt-0 ">เอกสารที่กฎหมายกำหนด</label>
                </div>
                <div class="col-md-12">
                  <ul>
                    <li *ngFor="let requiredLicense of group.nodes[j].requiredLicenses">
                      {{ requiredLicense.name }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-sm btn-success mr-2" type="button" (click)="newArtifactNode(group.id)" data-target="#modal-addnew">เพิ่มรายละเอียด ข้อย่อย วรรค ฯลฯ</button>
      </div>
    </div>
  </div>
</div>
<div class="form-action ">
  <button class="btn btn-success mr-2 mb-5 js-detail-add " type="button" (click)="addArtifactNodeGroup()">เพิ่มรายละเอียดกฎหมาย+</button>
</div>
<div class="modal fade modal-size-large" id="modal-addnew" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">เพิ่มรายละเอียด ข้อย่อย วรรค</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body block-law-detail">
        <form>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="l0">รายละเอียดข้อปฏิบัติ</label>
            <div class="col-md-12">
              <!-- <textarea name="content" [(froalaModel)]="editorContent"></textarea> -->
              <div id="froalaInput" name="froalaInput" [froalaEditor]="options" [(froalaModel)]="selectedArtifactNode.content"></div>
              <input id="hiddenInput" name="content" type="hidden" required [(ngModel)]="selectedArtifactNode.content" />
            </div>
          </div>

          <div class="select-department col-sm-12">
            <div class="form-group review-form row">
              <label class="col-md-12 col-form-label pl-0" for="l0">หน่วยงานที่เกี่ยวข้อง</label>
              <div class="col-md-12 row pl-0">
                <div class="col-md-4">
                  <select name="law-review-division" class="form-control" id='law-review-division'>
                    <option selected value="default">กรุณาเลือกหน่วยงาน</option>
                    <option value="0">ทุกหน่วยงาน</option>
                    <option *ngFor="let department of departments" [value]="department.id">{{ department.aliasName }}</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-success add-department mr-2 mb-2" (click)="addDepartment()">เลือกหน่วยงาน</button>
                </div>
              </div>
              <div class="col-md-12 show-input row ">
                <div *ngFor="let selectedDepartment of _selectedDepartment2" class="input-list  row mb-3 ">
                  <div class="input-list-text">
                    {{ selectedDepartment.name }}
                  </div>
                  <div class="close">
                    <i class="icmn-cross remove-department" (click)="removeDepartment(selectedDepartment.id)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group div-checkbox row">
            <label class="form-check-label">
              <input class="form-check-input checkbox lisence-checkbox" type="checkbox" value="" name="isRequiredLicense" [(ngModel)]="selectedArtifactNode.isRequiredLicense"> &nbsp;&nbsp;กฎหมายนี้ กำหนดให้ต้องมีใบอนุญาต หรือรายงานใช่หรือไม่?
            </label>
          </div>
          <div class="lisence">
            <div class="form-group review-form row">
              <label class="col-md-12 col-form-label" for="l0">ใบอนุญาตหรือเอกสารที่เกี่ยวข้องกับข้อกฎหมายนี้</label>
              <div class="col-md-12 row">
                <div class="col-md-4">
                  <select name="select-license-type" class="form-control" id='select-license-type'>
                    <option selected value="default">เลือกใบอนุญาต</option>
                    <option *ngFor="let licensetype of licensetypes" [value]="licensetype.id">{{licensetype.name}}</option>
                    <!-- <option *ngFor="let department of departments" [value]="department.id">{{ department.aliasName }}</option>-->
                  </select>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-success add-department mr-2 mb-2" (click)="addLicensetype()">เลือกใบอนุญาต</button>
                </div>
                <div class="col-md-6 lisence-button-addmore">
                  <a href="#" [routerLink]="['/license/type/new']" target="_blank">
                    <button type="button" class="btn btn-outline-secondary  btn-sm mr-2 mb-2">เพิ่มข้อมูลใบอนุญาต/แบบฟอร์มรายงาน</button>
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm  mr-2 mb-2" (click)="refreshLicense()">Refresh</button>
                </div>
              </div>
              <div class="lisence-list col-md-12">
                <ol class="show-input col-md-12">
                  <li *ngFor="let selectedLicenseType of _selectedLicenseType2">
                    {{ selectedLicenseType.name }}
                    <i class="icmn-cross remove-department" (click)="removeLicensetype(selectedLicenseType.id)"></i>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="retention">
            <div class="form-group review-form row">
              <label class="col-md-12 col-form-label" for="l0">กำหนดการติดตามการปฏิบัติ</label>
              <div class="col-md-12 row">
                <div class="col-md-1 retention-label">
                  <label>ติดตามทุก ๆ</label>
                </div>
                <div class="col-md-2">
                  <select name="law-review-division" class="form-control" id='law-review-division' name="followUpPeriodMonth" [(ngModel)]="selectedArtifactNode.followUpPeriodMonth">
                    <option [ngValue]='0'>0</option>
                    <option [ngValue]='1'>1</option>
                    <option [ngValue]='2'>2</option>
                    <option [ngValue]='3'>3</option>
                    <option [ngValue]='4'>4</option>
                    <option [ngValue]='5'>5</option>
                    <option [ngValue]='6'>6</option>
                    <option [ngValue]='7'>7</option>
                    <option [ngValue]='8'>8</option>
                    <option [ngValue]='9'>9</option>
                    <option [ngValue]='10'>10</option>
                    <option [ngValue]='11'>11</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label>เดือน</label>
                </div>
                <div class="col-md-2">
                  <select name="law-review-division" class="form-control" id='law-review-division' name="followUpPeriodYear" [(ngModel)]="selectedArtifactNode.followUpPeriodYear">
                    <option [ngValue]='0'>0</option>
                    <option [ngValue]='1'>1</option>
                    <option [ngValue]='2'>2</option>
                    <option [ngValue]='3'>3</option>
                    <option [ngValue]='4'>4</option>
                    <option [ngValue]='5'>5</option>
                    <option [ngValue]='6'>6</option>
                    <option [ngValue]='7'>7</option>
                    <option [ngValue]='8'>8</option>
                    <option [ngValue]='9'>9</option>
                    <option [ngValue]='10'>10</option>
                    <option [ngValue]='11'>11</option>
                    <option [ngValue]='12'>12</option>
                    <option [ngValue]='13'>13</option>
                    <option [ngValue]='14'>14</option>
                    <option [ngValue]='15'>15</option>
                    <option [ngValue]='100'>100</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label>ปี</label>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="summary">
            {{ currentArtifactNode | json }}
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-primary btn-setsame" (click)="submitArtifactNode()">บันทึก</button>
      </div>
    </div>
  </div>
</div>