<!-- <div class="modal fade modal-size-large" id="add-document" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"> -->
    <div class="modal-dialog" role="document" style="padding-left:10px;padding-right:10px;max-width: 980px;">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icmn icmn-file-text2"></i>
          <h5 class="modal-title" id="myModalLabel">อัพโหลดเอกสารทั่วไป</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body show_detail">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="l0">ชื่อเอกสาร</label>
            <div class="col-md-9">
              <input name="" type="text" class="form-control" data-validation="[NOTEMPTY]" [(ngModel)]="fileName" >
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="l0">แนบไฟล์</label>
            <div class="col-md-9">
                <input type="file" id="addnew-file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.png,.jpg">
            </div>
          </div>
          <div class="sigle-form-button">
            <button type="submit" class="btn btn-primary width-150" (click)="onSubmit()" [disabled]="fileName==null">บันทึก</button>
            <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->