<div class="law-detail">
  <div class="title">
    {{ artifact.level }}
  </div>
  <div class="title" >
    เรื่อง {{ artifact.title }}
  </div>
  <div class="title" *ngIf="artifact.isActive==false" style="color:red">
    ยกเลิกทั้งหมดแล้ว
  </div>
  <div class="title" *ngIf="(artifact.status)&&(isReadOnly(['ATFMNG03'])==false)&&(artifact.status.toLowerCase() === 'approved')&&(type=='active')">
    <button  type="button" class="btn btn-sm btn-secondary mr-2 mb-2" (click)="dialog.show()">ยกเลิกทั้งหมด</button>
    <swal #dialog title="ยืนยัน" text="ต้องการยกเลิกทั้งมาตราใช่หรือไม่?" type="warning" [options]="{ confirmButtonText: 'ยืนยัน', cancelButtonText: 'ไม่ต้องการ', showCancelButton: true }" (confirm)="onCancelAll(artifact.id)" (cancel)="dialog.hide()"></swal>
  </div>
  <div class="">
    
    <div class="intro" [innerHTML]="artifact.introduction" [ngStyle]="{'color':artifact.isActive?'#514d6a':'red'}"></div>
    <div class="title-of-view-list row">
      <div class="col-md-6">รายละเอียดกฎหมาย</div>
      <div class="col-md-2">หน่วยงานที่เกี่ยวข้อง</div>
      <div class="col-md-1">กำหนดการติดตาม(เดือน)</div>
      <div class="col-md-3">เอกสารที่กฎหมายกำหนด</div>
    </div>
    <div *ngFor="let lawdetail of artifact.nodeGroups">
      <div class="law_title row">
        <div class="col-md-1 col-xs-2" *ngIf="(isReadOnly(['ATFMNG03'])==false)&&(artifact.status.toLowerCase() === 'approved')&&(type=='active')">
          <button type="button" class="btn btn-sm btn-secondary mr-2 mb-2" (click)="dialog1.show()">ยกเลิกทั้งข้อ</button>
          <swal #dialog1 title="ยืนยัน" text="ต้องการยกเลิกทั้งข้อใช่หรือไม่?" type="warning" [options]="{ confirmButtonText: 'ยืนยัน', cancelButtonText: 'ไม่ต้องการ', showCancelButton: true }" (confirm)="onCancelNodeGroup(lawdetail.id)" (cancel)="dialog1.hide()"></swal>
        </div>
        <div class="col-md-11 col-xs-10" >
          <div [innerHTML]="lawdetail.content" [ngStyle]="{'color':lawdetail.isActive?'#514d6a':'red'}"></div>
        </div>
      </div>
      <div *ngFor="let law_content of lawdetail.nodes" class="artifact-assesment-section add-new-artifact-assesment-section">
        <div class="col-md-6 detail pr-4">
          <div class="text" [innerHTML]="law_content.content | safeHtml" [ngStyle]="{'color':law_content.isActive?'#514d6a':'red'}"></div>
          <button *ngIf="(isReadOnly(['ATFMNG03'])==false)&&(artifact.status.toLowerCase() === 'approved')&&(type=='active')" type="button" class="btn btn-sm btn-secondary mr-2 mb-2" (click)="dialog2.show()">ยกเลิกข้อย่อย</button>
          <swal #dialog2 title="ยืนยัน" text="ต้องการยกเลิกข้อย่อยใช่หรือไม่?" type="warning" [options]="{ confirmButtonText: 'ยืนยัน', cancelButtonText: 'ไม่ต้องการ', showCancelButton: true }" (confirm)="onCancelNode(lawdetail.id,law_content.id)" (cancel)="dialog2.hide()"></swal>
        </div>
        <div class="col-md-2 detail2 detail-department row ">

          <span *ngFor="let department of law_content.departments" class="tags badge summary-tag" [ngClass]="department.status">{{ department.aliasName }}</span>
        </div>
        <div class="col-md-1 detail2 detail-followUpPeriod">
            <span *ngIf="law_content.followUpPeriodYear !== 0">{{ law_content.followUpPeriodYear }} ปี </span>
            <span *ngIf="law_content.followUpPeriodMonth !== 0">{{ law_content.followUpPeriodMonth }} เดือน </span> 
        </div>
        <div class="col-md-3 detail2 detail-License">
          <ol>
            <li *ngFor="let requiredLicense of law_content.requiredLicenses">
              {{ requiredLicense.name }}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>