<!-- START: dashboard alpha -->
<section class="card home">
  <div class="card-header card-header-top ">
    <span class="card-block">
      <strong>
        <i class="icmn-home3"></i>หน้าหลัก</strong>

    </span>
    <!-- <ol class="breadcrumb">
      ยินดีต้อนรับ
    </ol> -->
  </div>
  <div class="nav-tab-block">
    <!-- <ul class="nav nav-tabs" role="tablist" style=" padding-left: 26px;">

      <li *ngIf="userGroup ==='2'" class="nav-item nav-item-2">
        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab" aria-expanded="true">
          นิติกร
        </a>
      </li>


      <li *ngIf="userGroup ==='DEPARTMENT'" class="nav-item nav-item-3">
        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab" aria-expanded="false">
          กอง
        </a>
      </li>
      <li *ngIf="userGroup ==='APPROVER'" class="nav-item nav-item-3">
        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab3" role="tab" aria-expanded="false">
          ผู้แทนฝ่ายบริหาร
        </a>
      </li>


      <li *ngIf="userGroup ==='5'" class="nav-item nav-item-1">
        <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#tab4" role="tab" aria-expanded="false">
          ผู้ดูแลระบบ
        </a>
      </li>

    </ul> -->
  </div>


  <div class="tab-content">

    <div class="card-block card-block-detail tab-pane active" id="tab1" role="tabcard" aria-expanded="false">
      <!-- section -->
      <section *ngIf="role('ATFVIW03')||role('ATFMNG06')||role('TSKASM02')||role('TSKRVW02')||role('ATFMNG05')||role('TSKAPP')" class="card col-xl-6" order-id="card-1">
        <div class="card-header">
          <span class="card-title">
            <i class="icmn icon-left icmn-file-text2"></i>
            <i class="title-span">งาน</i>
            <i class="fa icon-right fa-angle-right"></i>
          </span>
          <span class="card-sub-title"> การคัดแยกและจำแนกกฎหมายที่เกี่ยวข้อง</span>
        </div>
        <div class="card-block ">
          <ul>
            <li *ngIf="role('ATFMNG07')">
              <a href="" [routerLink]="['/artifact/new']">การนำเข้ากฎหมายใหม่และจัดแผนการติดตาม</a>
            </li>
            <li *ngIf="role('ATFMNG06')">
              <a href="" [routerLink]="['/artifact/list/initial/created']">ขอทวนสอบความเกี่ยวข้อง</a>
            </li>
            <li *ngIf="role('TSKASM02')">
              <a href="" [routerLink]="['/artifact/list/initial/inprogress']">จัดการยืนยันความเกี่ยวข้อง</a>
            </li>
            <li *ngIf="role('TSKRVW02')">
                <a href="" [routerLink]="['/artifact/list/initial/inprogress']">ตรวจสอบผลการยืนยันความเกี่ยวข้อง</a>
              </li>
            <li *ngIf="role('ATFMNG05')">
              <a href="" [routerLink]="['/artifact/list/initial/approved']">จัดทำรายงานความเกี่ยวข้องกฎหมายใหม่</a>
            </li>
            <li *ngIf="role('ATFVIW03')">
              <!-- <a href="" [routerLink]="['/artifact/list/followup/approved']">ทะเบียนแสดงกฎหมายภายในโรงไฟฟ้า</a> -->
              <a href="" [routerLink]="['/artifact/list/all/approved']">ทะเบียนแสดงกฎหมายภายในโรงไฟฟ้า</a>
            </li>
            <li *ngIf="role('TSKAPP')">
              <a href="" [routerLink]="['/artifact/list/initial/inprogress']">อนุมัติและรับทราบความเกี่ยวข้อง</a>
            </li>    
          </ul>
        </div>
      </section>

      <section *ngIf="role('DEPMNG')||role('METDAT')||role('METDAT02')" class="card col-xl-6" order-id="card-1">
        <div class="card-header">
          <span class="card-title">
            <i class="icmn icon-left icmn-cog"></i>
            <i class="title-span">ข้อมูลทั่วไป</i>
            <i class="fa icon-right fa-angle-right"></i>
          </span>
          <span class="card-sub-title"> </span>
        </div>
        <div class="card-block">
          <ul>
            <li *ngIf="role('DEPMNG')">
              <a href="" [routerLink]="['/generalinfo/department-index']">ข้อมูลหน่วยงาน</a>
            </li>
            <li *ngIf="role('METDAT')">
              <a href="" [routerLink]="['/generalinfo/classification-index']">ข้อมูลหมวดหมู่กฎหมาย</a>
            </li>
            <li *ngIf="role('METDAT02')">
              <a href="" [routerLink]="['/generalinfo/lawclass-index']">ข้อมูลประเภทกฎหมาย</a>
            </li>
          </ul>
        </div>
      </section>
      </div>
      <div class="card-block card-block-detail tab-pane active" role="tabcard" aria-expanded="true">

      <section  *ngIf="role('ATFVIW02')||role('TSKASM')||role('TSKRVW')||role('ATFVIW')||role('TSKAPP')"  class="card col-xl-6" order-id="card-1">
        <div class="card-header">
          <span class="card-title">
            <i class="icmn icon-left icmn-file-text2"></i>
            <i class="title-span">งาน</i>
            <i class="fa icon-right fa-angle-right"></i>
          </span>
          <span class="card-sub-title"> การติดตามการปฏิบัติสอดคล้องตามกฎหมาย</span>
        </div>
        <div class="card-block">
          <ul>
            <li *ngIf="role('ATFVIW02')">
              <a href="" [routerLink]="['/artifact/list/followup/initial']">การติดตามการปฏิบัติสอดคล้องตามกฎหมาย</a>
            </li>
            <li *ngIf="role('TSKASM')">
              <a href="" [routerLink]="['/artifact/list/followup/inprogress']">ประเมินการปฏิบัติสอดคล้องตามกฎหมาย</a>
            </li>
            <li *ngIf="role('TSKRVW')">
              <a href="" [routerLink]="['/artifact/list/followup/inprogress']">ตรวจสอบผลการประเมินปฏิบัติสอดคล้องตามกฎหมาย</a>
            </li>
            <li *ngIf="role('ATFVIW')">
              <a href="" [routerLink]="['/artifact/list/followup/approved']">จัดทำรายงานการปฏิบัติสอดคล้องตามกฎหมาย</a>
            </li>
            <li *ngIf="role('TSKAPP')">
              <a href="" [routerLink]="['/artifact/list/followup/inprogress']">อนุมัติและรับทราบการปฏิบัติสอดคล้องตามกฎหมาย</a>
            </li>
          </ul>
        </div>
      </section>

      <!-- Section -->
      <section class="card col-xl-6" order-id="card-1">
          <div class="card-header">
            <span class="card-title">
              <i class="icon-left fa fa-newspaper-o"></i>
              <i class="title-span">Shortcut</i>
              <i class="fa icon-right fa-angle-right"></i>
            </span>
            <span class="card-sub-title"> </span>
          </div>
          <div class="card-block">
            <ul class="col-xl-6" style="float: left;">
              <li *ngIf="role('TSKASM02')||role('TSKRVW02')||role('ATFMNG05')||role('TSKRVW03')||role('TSKAPP')">
                <a href="" [routerLink]="['/artifact/list/initial/inprogress']">กฎหมายที่อยู่ระหว่างดำเนินการ</a>
              </li>
              <li *ngIf="role('ATFVIW03')">
                <!-- <a href="" [routerLink]="['/artifact/list/followup/approved']">ทะเบียนแสดงกฎหมายภายในโรงไฟฟ้า</a> -->
                <a href="" [routerLink]="['/artifact/list/all/approved']">ทะเบียนแสดงกฎหมายภายในโรงไฟฟ้า</a>
              </li>
              <li *ngIf="role('ATFMNG06')">
                <a href="" [routerLink]="['/artifact/list/initial/created']"> กฎหมายที่รอทวนสอบ</a>
              </li>
              <li *ngIf="role('ATFMNG03')">
                <a href="" [routerLink]="['/artifact/list/initial/draft']">กฎหมายฉบับร่าง</a>
              </li>
            </ul>
            <ul class="col-xl-6" style="float: left;">
              <li *ngIf="role('ATFMNG02')">
                <a href="" [routerLink]="['/artifact/list/initial/canceled']">กฎหมายที่ยกเลิก</a>
              </li>
              <li *ngIf="role('DOCMNG')">
                <a href="" [routerLink]="['/documentation/manage-document']">เอกสารแนบ</a>
              </li>
              <li *ngIf="role('DOCMNG')">
                <a href="" [routerLink]="['/license/view']">ใบอนุญาต</a>
              </li>
            </ul>
          </div>
        </section>

    </div>


    <div class="card-block card-block-detail tab-pane active" role="tabcard" aria-expanded="true">
      
      <section class="card col-xl-6" order-id="card-1">
        <div class="card-header">
          <span class="card-title">
            <i class="icmn icon-left icmn-cog"></i>
            <i class="title-span">Setting</i>
            <i class="fa icon-right fa-angle-right"></i>
          </span>
          <span class="card-sub-title"> </span>
        </div>
        <div class="card-block">
          <ul>
            <li *ngIf="role('DEPMNG')">
              <a href="" [routerLink]="['/generalinfo/department-index']">นำเข้าข้อมูลองค์กรโรงไฟฟ้าแม่เมาะ</a>
            </li>
            <li *ngIf="role('USRMNG')">
              <a href="" [routerLink]="['/user/user-index']">นำเข้าข้อมูลผู้ใช้งานระบบ</a>
            </li>
            <li *ngIf="role('ACLMNG')">
              <a href="" [routerLink]="['/user/user-permissions']">จัดการสิทธ์ิของผู้ใช้งาน</a>
            </li>
            <li *ngIf="role('TCKMNG')">
              <a href="" [routerLink]="['/ticket/index']">จัดการข้อร้องเรียน</a>
            </li>
          </ul>
        </div>
      </section>

    </div>
    <!-- END Section -->

  </div>
</section>


<!-- END: dashboard alpha -->