<section class="card">
  <div class="card-header">
    <span class="card-block">
            <strong><i class="fa fa-plus-square"></i>สร้างใหม่</strong>

        </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>เอกสาร</a></li>
      <li class="breadcrumb-item active">สร้างใหม่</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <!-- START: forms/form-validation -->
        <section class="card">

          <div class="card-block">
            <div class="row">

              <div class="col-md-12">



                <!-- Under Element Form Validation -->
                <form id="document-general-create" class="single-form" name="new-general-create" (ngSubmit)="onSubmit()">

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">ชื่อเอกสาร</label>
                    <div class="col-md-9">
                      <input name="" type="text" class="form-control" data-validation="[NOTEMPTY]">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="l0">แนบไฟล์</label>
                    <div class="col-md-9">
                      <input type="file" name="retention" class="dropify" data-default-file="" />
                    </div>
                  </div>




                  <div class="sigle-form-button">
                    <button type="submit" class="btn btn-primary width-150">บันทึก</button>
                    <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                  </div>
                </form>
                <!-- End Under Element Form Validation -->

              </div>
            </div>
          </div>
        </section>
        <!-- END: forms/form-validation -->

      </div>

    </div>

  </div>

</section>