<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-list-alt"></i>ใบอนุญาต</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>เอกสาร</a>
      </li>
      <li class="breadcrumb-item active">ใบอนุญาต</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row" id="licence" class="licence">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <button *ngIf="isReadOnly(['DOCMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button" (click)="uploadLicense()">
              เพิ่ม +</button>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_licence" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                      </div>
                    </div>
                  </div>
                  <div class="row view-tab">
                    <div class="nav-tab-block">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item nav-item-1">
                          <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab" aria-expanded="true">
                            <i class="icmn-warning"></i>
                            ใบอนุญาตที่ใกล้หมดอายุ
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab3" role="tab" aria-expanded="false">
                            <i class="icmn-blocked"></i>
                            ใบอนุญาตที่หมดอายุ
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            ใบอนุญาตทั้งหมด
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active pt-5 " id="tab1" role="tabcard" aria-expanded="true" style="overflow-x:auto;">
                          <table class="table table-hover nowrap dataTable dtr-inline collapsed license-table1" id="license-table1" width="100%" role="grid"
                            aria-describedby="example1_info" style="width: 100%;" datatable [dtOptions]="dtOptions">
                            <thead>
                              <tr>
                                <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                                <th rowspan="1" colspan="1">เลขที่ใบอนุญาต</th>
                                <th rowspan="1" colspan="1">ชื่อผู้รับอนุญาต</th>
                                <th rowspan="1" colspan="1">วันครบกำหนดต่อใบอนุญาต</th>
                                <th rowspan="1" colspan="1">วันหมดอายุ</th>
                                <th rowspan="1" colspan="1">วันที่อนุญาต</th>
                                <th rowspan="1" colspan="1">ประเภทใบอนุญาต</th>
                                <th rowspan="1" colspan="1">ชื่อผู้รับผิดชอบ</th>
                                <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
                                <th rowspan="1" colspan="1"></th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th rowspan="1" colspan="1">ชื่อใบอนุญาต</th>
                                <th rowspan="1" colspan="1">เลขที่ใบอนุญาต</th>
                                <th rowspan="1" colspan="1">ชื่อผู้รับอนุญาต</th>
                                <th rowspan="1" colspan="1">วันครบกำหนดต่อใบอนุญาต</th>
                                <th rowspan="1" colspan="1">วันหมดอายุ</th>
                                <th rowspan="1" colspan="1">วันที่อนุญาต</th>
                                <th rowspan="1" colspan="1">ประเภทใบอนุญาต</th>
                                <th rowspan="1" colspan="1">ชื่อผู้รับผิดชอบ</th>
                                <th rowspan="1" colspan="1">ความถี่ใบอนุญาต</th>
                                <th rowspan="1" colspan="1"></th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <tr *ngFor="let license of licenses" role="row" class="odd">
                                <td>{{ license.licenseType.name }}</td>
                                <td>{{ licence.licenseNumber }}</td>
                                <td>{{ license.holderName }}</td>
                                <td>{{ license.dueDate }}</td>
                                <td>{{ license.expireDate }}</td>
                                <td>{{ license.issueDate }}</td>
                                <td>{{ license.licenseType.category }}</td>
                                <td>{{ license.document.owner }}</td>
                                <td>{{ license.licenseType.frequency }}</td>
                                <td>
                                  <li data-original-title="" title="">
                                    <a [href]="license.document.url" target="_blank"><i class="fa fa-eye" aria-hidden="true" ></i></a>
                                  </li>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>