<section class="card">
  <div class="card-header">
    <span class="card-block">
            <strong><i class="fa fa-plus-square"></i>สร้างใหม่</strong>

        </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>เอกสาร</a></li>
      <li class="breadcrumb-item"><a href="#" [routerLink]="['/documentation/license']">ใบอนุญาต</a></li>
      <li class="breadcrumb-item active">สร้างใหม่</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <!-- START: forms/form-validation -->
        <section class="card">

          <div class="card-block">
            <div class="row">

              <div class="col-md-12">
                <!-- Under Element Form Validation -->
                <form [formGroup]="departmentNewForm"  id="license-general-create" class="single-form" name="new-general-create" (ngSubmit)="onSubmit()">

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="license_name">ชื่อใบอนุญาต</label>
                    <div class="col-md-9">
                      <input  id="license_name" name="" type="text" class="form-control" data-validation="[NOTEMPTY]">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="licensee">ชื่อผู้รับอนุญาต</label>
                    <div class="col-md-9">
                      <input id="licensee" name="" type="text" class="form-control" data-validation="[NOTEMPTY]">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="license_renewal_date">วันครบกำหนดต่อใบอนุญาต</label>
                    <div class="col-md-9">
                        <my-date-picker-th id="license_renewal_date" name="license_renewal_date" [options]="myDatePickerOptions"
                                           [placeholder]="placeholder" formControlName="license_renewal_date"></my-date-picker-th>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="expired_date">วันหมดอายุ</label>
                    <div class="col-md-9">
                          <my-date-picker-th  id="expired_date" name="expired_date" [options]="myDatePickerOptions" [placeholder]="placeholder"
                                             formControlName="expired_date"></my-date-picker-th>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="allow_date">วันที่อนุญาต</label>
                    <div class="col-md-9">
                        <my-date-picker-th id="allow_date" name="allow_date" [options]="myDatePickerOptions" [placeholder]="placeholder"
                                           formControlName="allow_date"></my-date-picker-th>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="license_type">ประเภทใบอนุญาต</label>
                    <div class="col-md-9">
                      <select id="license_type" name="option" class="form-control select2" data-validation="[NOTEMPTY]" >
                              <option value="">กรุณาเลือก</option>
                              <option value="Organization">ใบอนุญาตโรงไฟฟ้า</option>
                              <option value="Personal">ใบอนุญาตบุคคล</option>
                              <option value="Report">แบบฟอร์มรายงาน</option>
                              <option value="Miscellaneous">อื่นๆ</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="responsible_name">ชื่อผู้รับผิดชอบ</label>
                    <div class="col-md-9">
                      <input id="responsible_name" name="" type="text" class="form-control" data-validation="[NOTEMPTY]">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="attachments">แนบไฟล์</label>
                    <div class="col-md-9">
                      <input id="attachments" type="file" name="retention" class="dropify" data-default-file="" />
                    </div>
                  </div>


                  <div *ngIf="isReadOnly(['DOCMNG'])==false" class="sigle-form-button">
                    <button type="submit" class="btn btn-primary width-150">บันทึก</button>
                    <!-- <button type="button" class="btn btn-default remove-error">Clear</button>-->
                  </div>
                </form>
                <!-- End Under Element Form Validation -->

              </div>
            </div>
          </div>
        </section>
        <!-- END: forms/form-validation -->

      </div>

    </div>

  </div>

</section>
