<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="icmn-file-text2"></i>เอกสารแนบ</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>เอกสาร</a>
      </li>
      <li class="breadcrumb-item active">เอกสารแนบ</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <button *ngIf="isReadOnly(['DOCMNG'])==false" class="btn  btn-success mr-2 mb-2" type="button">
              <a href="#" data-toggle="modal" data-target="#add-document" (click)="uploadDocument()">เพิ่ม +</a>
            </button>
            <!-- <app-document-upload [userId]="userId"></app-document-upload> -->
            <div class="tab-content">
              <div class="tab-pane active" id="manage-document" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">

                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <table *ngIf="documents_list.length !== 0" class="table table-hover nowrap dataTable dtr-inline " id="example1" width="100%" role="grid" aria-describedby="example1_info"
                        style="width: 100%;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">ชื่อ</th>
                            <th rowspan="1" colspan="1">ประเภท</th>
                            <th rowspan="1" colspan="1">วันที่เอกสารเข้าสู่ระบบ</th>
                            <th rowspan="1" colspan="1">ผู้บันทึกเอกสาร</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">ชื่อ</th>
                            <th rowspan="1" colspan="1">ประเภท</th>
                            <th rowspan="1" colspan="1">วันที่เอกสารเข้าสู่ระบบ</th>
                            <th rowspan="1" colspan="1">ผู้บันทึกเอกสาร</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </tfoot>
                        <tbody>

                          <tr *ngFor="let docs of documents_list" role="row" class="odd">
                            <td class="sorting_1" tabindex="0">{{ docs.title }}</td>
                            <td>{{ docs.type }}</td>
                            <td>{{ docs.createDate }}</td>
                            <td>{{ docs.owner }}</td>
                            <td>
                              <a [href]="docs.url" target="_blank">
                                <li data-original-title="" title="">
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </li>
                              </a>
                            </td>

                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</section>