<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>การร้องเรียน</strong>

    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>การร้องเรียน</a>
      </li>
      <li class="breadcrumb-item active">การร้องเรียน</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">

        <div class="mb-12">
          <div class="nav-tabs-horizontal">

            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                  <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                      <div *ngIf="tickets.length === 0">
                        ไม่มีรายการข้อร้องเรียน
                      </div>
                      <table *ngIf="tickets.length !== 0" class="table table-hover nowrap dataTable dtr-inline" id="example1" width="100%" role="grid" aria-describedby="example1_info"
                        style="width: 100%;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th rowspan="1" colspan="1">เลขที่ร้องเรียน</th>
                            <th rowspan="1" colspan="1">ชื่อเรื่องร้องเรียน</th>
                            <th rowspan="1" colspan="1">เนื้อหา</th>
                            <th rowspan="1" colspan="1">ประเภทของกฎหมาย</th>
                            <th rowspan="1" colspan="1">หน่วยงาน</th>
                            <th rowspan="1" colspan="1">ชื่อผู้ตรวจพบร้องเรียน</th>
                            <th rowspan="1" colspan="1">สถานะ</th>
                            <th rowspan="1" colspan="1">วันที่ร้องเรียน</th>
                            <th rowspan="1" colspan="1">เลขข้อร้องเรียน</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">เลขที่ร้องเรียน</th>
                            <th rowspan="1" colspan="1">ชื่อเรื่องร้องเรียน</th>
                            <th rowspan="1" colspan="1">เนื้อหา</th>
                            <th rowspan="1" colspan="1">ประเภทของกฎหมาย</th>
                            <th rowspan="1" colspan="1">หน่วยงาน</th>
                            <th rowspan="1" colspan="1">ชื่อผู้ตรวจพบร้องเรียน</th>
                            <th rowspan="1" colspan="1">สถานะ</th>
                            <th rowspan="1" colspan="1">วันที่ร้องเรียน</th>
                            <th rowspan="1" colspan="1">เลขข้อร้องเรียน</th>
                            <th rowspan="1" colspan="1"></th>
                          </tr>
                        </tfoot>
                        <tbody>

                          <tr *ngFor="let ticket of tickets;let i = index;" role="row" class="odd">
                            <td class="sorting_1" tabindex="0">{{ ticket.id }}</td>
                            <td>{{ ticket.title }}</td>
                            <td [innerHTML]="ticket.description | safeHtml"></td>
                            <td>ISO {{ ticket.iso }}</td>
                            <td>{{ ticket.department }}</td>
                            <td>{{ ticket.owner }}</td>
                            <td>{{ ticket.statusText }}</td>
                            <td>{{ ticket.createDate }}</td>
                            <td>{{ ticket.ticketExternalId }}</td>
                            <td>
                              <div class="dropdown d-inline-block mb-2 mr-2">
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  เลือกดำเนินการ
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                  <a class="dropdown-item" id="change-data" [routerLink]="['/task',ticket.taskAssignmentType.toLowerCase(), ticket.taskAssignmentId ]" >ปิดข้อร้องเรียน</a>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>