<section class="card">
  <div class="card-header">
    <span class="card-block">
      <strong>
        <i class="fa fa-list-alt"></i>ตรวจสอบผลความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}</strong>
    </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>การจัดการกฎหมาย</a>
      </li>
      <li class="breadcrumb-item">
        <a *ngIf="mode=='initial'" href="#" [routerLink]="['/artifact/list/initial/inprogress']">กฎหมายที่อยู่ในระหว่างการดำเนินการ</a>
        <a *ngIf="mode!='initial'" href="#" [routerLink]="['/artifact/list/followup/inprogress']">กฎหมายที่อยู่ในระหว่างการดำเนินการ</a>
      </li>
      <li class="breadcrumb-item active">ตรวจสอบผลความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}</li>
    </ol>
  </div>
  <div class="card-block">
    <div class="row" id="review-artifact-assesment" class="review-artifact-assesment">
      <div class="col-lg-12">
        <div class="mb-12">
          <div class="nav-tabs-horizontal">
            <div class="tab-content">
              <div class="tab-pane active" id="home1" role="tabcard">
                <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                      </div>
                    </div>
                  </div>
                  <div class="row view-tab">
                    <div class="nav-tab-block">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item nav-item-1">
                          <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab" aria-expanded="true">
                            <i class="icmn-checkbox-checked"></i>
                            ผลการประเมินความ{{mode=='initial'?'เกี่ยวข้อง':'สอดคล้อง'}}
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            ข้อมูลกฎหมายทั่วไป
                          </a>
                        </li>
                        <li class="nav-item nav-item-2">
                          <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab3" role="tab" aria-expanded="false">
                            <i class="icmn-file-text2"></i>
                            รายละเอียดกฎหมาย
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active pt-5" id="tab1" role="tabcard" aria-expanded="true" style="overflow-x:auto;">
                          <table class="table table-hover nowrap dataTable dtr-inline " id="review-artifact-assesment-table" width="100%" role="grid"
                            aria-describedby="example1_info" style="width: 100%;">
                            <thead>
                              <tr>
                                <th rowspan="1" colspan="1"></th>
                                <th rowspan="1" colspan="1">หน่วยงาน</th>
                                <th rowspan="1" colspan="1">จำนวนข้อปฏิบัติ</th>
                                <th rowspan="1" colspan="1">ความเกี่ยวข้อง</th>
                                <th rowspan="1" colspan="1">{{mode=='initial'?'ความสอดคล้อง':'ความสอดคล้อง'}}</th>
                                <th rowspan="1" colspan="1">ผลการตรวจสอบ</th>
                                <th rowspan="1" colspan="1"></th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th rowspan="1" colspan="1"></th>
                                <th rowspan="1" colspan="1">หน่วยงาน</th>
                                <th rowspan="1" colspan="1">จำนวนข้อปฏิบัติ</th>
                                <th rowspan="1" colspan="1">ความเกี่ยวข้อง</th>
                                <th rowspan="1" colspan="1">{{mode=='initial'?'ความสอดคล้อง':'ความสอดคล้อง'}}</th>
                                <th rowspan="1" colspan="1">ผลการตรวจสอบ</th>
                                <th rowspan="1" colspan="1"></th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <tr *ngFor="let taskSummary of taskAssignmentSummary" role="row" class="odd">
                                <td class="sorting_1" tabindex="0">
                                  <input *ngIf="taskSummary.status === 'Confirmed'" class="form-check-input checkbox table-checkbox" type="checkbox" [attr.status]="taskSummary.status" [value]="taskSummary.departmentId"
                                    (click)="onCheckboxCheck($event);">
                                  <input *ngIf="taskSummary.status !== 'Confirmed' || taskSummary.status !== 'Proposed'" class="form-check-input checkbox table-checkbox" type="checkbox" [attr.status]="taskSummary.status" [value]="taskSummary.departmentId" disabled>
                                </td>
                                <td>
                                  <span class="tags badge badge-default mr-2 mb-2">{{ taskSummary.department }}
                                    <input type="hidden" id="get-departmentName" [value]="taskSummary.department">
                                  </span>
                                </td>
                                <td>{{ taskSummary.numberOfTotalTask}}</td>
                                <td>{{mode=='initial'?taskSummary.isApplicableText: taskSummary.isApplicableText=='อยู่ในระหว่างดำเนินการ'?'เกี่ยวข้อง':taskSummary.isApplicableText}}</td>
                                <td>{{((taskSummary.isApplicable==false)&&(taskSummary.status!='Assigned'))?"":taskSummary.isCompliantText}}</td>
                                <td>
                                  <span class="tags badge badge-success mr-2 mb-2" *ngIf="taskSummary.summaryResult == 'ตรวจสอบแล้ว'" >{{taskSummary.summaryResult}}</span>
                                  <span class="tags badge badge-danger mr-2 mb-2" *ngIf="taskSummary.summaryResult == 'ร้องเรียน'" >{{taskSummary.summaryResult}}</span>
                                  <span class="tags badge badge-info mr-2 mb-2" *ngIf="taskSummary.summaryResult != 'ร้องเรียน' && taskSummary.summaryResult != 'ตรวจสอบแล้ว'" >{{taskSummary.summaryResult}}</span>
                                </td>
                                <td *ngIf="role('TSKRVW')||role('TSKRVW02')">
                                  <button class="btn btn-sm btn-secondary  mr-2 mb-2" [routerLink]="['/artifact/task',mode, artifactId, taskSummary.departmentId]">ตรวจสอบผลการประเมิน</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div style="margin-left:23px">
                              <input class="form-check-input all_checkbox " type="checkbox"
                                        (click)="onAllCheckboxCheck();"> <span>เลือกทั้งหมด</span>
                            </div>
                        </div>
                        <!-- Detail Component and Assignment Component -->
                        <div class="tab-pane" id="tab2" role="tabcard" aria-expanded="true">
                          <app-artifact-detail [artifactId]="artifactId"></app-artifact-detail>
                        </div>
                        <div class="tab-pane law-view" id="tab3" role="tabcard" aria-expanded="false">
                          <app-artifact-assignment [artifactId]="artifactId"></app-artifact-assignment>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="button mt-5">
              <button *ngIf="mode=='initial'" type="button" class="btn btn-secondary btn-back mr-2 mb-2" href="#" [routerLink]="['/artifact/list/initial/inprogress']">ย้อนกลับ</button>
              <button *ngIf="mode!='initial'" type="button" class="btn btn-secondary btn-back mr-2 mb-2" href="#" [routerLink]="['/artifact/list/followup/inprogress']">ย้อนกลับ</button>
              <button *ngIf="isReadOnly(['TSKRVW','TSKRVW02'])==false" type="button" class="btn btn-info btn-present-executive mr-2 mb-2 mt-0" data-toggle="modal" data-target="#modal-present-executive">นำเสนอผู้แทนฝ่ายบริหารอนุมัติ</button>
            </div>
            <div class="modal fade modal-size-medium" id="modal-present-executive" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">กรุณาตรวจสอบความถูกต้อง</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>รายชื่อ กอง/แผนกไม่สังกัดกอง/คณะทำงาน ที่นำเสนอผู้แทนฝ่ายบริหารอนุมัติ</p>
                    <ul>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">ยกเลิก</button>
                    <button type="submit" class="btn btn-primary btn-setsame" (click)="onSubmit()">ยืนยัน</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>